Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, system-config-run-base, system-config-run-statsd, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite

Path conditions:
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, roles/alerta/
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, roles/grafana/
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py

enable relay on graphite2
  inventory/service/host_vars/graphite1.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

add standalone statsd in zuul
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/graphite/defaults/main.yaml
  playbooks/roles/zuul_k8s/defaults/main.yaml
  playbooks/roles/zuul_k8s/tasks/statsd.yaml
  playbooks/roles/zuul_k8s/templates/statsd-config.js.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-graphite

hotfix statsd config
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/statsd.yaml
  playbooks/roles/zuul_k8s/templates/statsd-config.js.j2
Due: system-config-run-base

move firewall rules to host_vars
  inventory/service/group_vars/alerta.yaml
  inventory/service/group_vars/grafana.yaml
  inventory/service/group_vars/graphite.yaml
  inventory/service/group_vars/memcached.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/group_vars/statsd.yaml
  inventory/service/host_vars/executor1.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/executor2.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/executor3.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/executor4.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite1.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite2.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/hybrid.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/preprod.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/scheduler1.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

enable scenario9 on stg
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

add statsd reporting for nodepool
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/templates/zuul.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

alerta rework - first commit
  inventory/service/group_vars/alerta-k8s.yaml
  inventory/service/group_vars/alerta.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/alerta/defaults/main.yaml
  playbooks/roles/alerta/tasks/import_zulip_conf.yaml
  playbooks/roles/alerta/tasks/main.yaml
  playbooks/roles/alerta/templates/alerta.conf.j2
  playbooks/roles/alerta/templates/alerta.service.j2
  playbooks/roles/alerta/templates/alertad.conf.j2
  playbooks/roles/alerta/templates/env.j2
  playbooks/service-alerta-k8s.yaml
  playbooks/service-alerta-vm.yaml
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

fix of playbook
  playbooks/service-alerta-vm.yaml
Due: system-config-run-base

removed -vm postfix from playbook
  playbooks/service-alerta.yaml
Due: infra-prod-service-alerta, system-config-run-base

removed -vm from playbook
  zuul.d/system-config-run.yaml
Due: none

fix
  inventory/service/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/service-alerta-k8s.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

add new test clouds and switch stg to it
  inventory/service/group_vars/apimon.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/apimon-clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor

add build image jobs
  docker/haproxy-statsd/Dockerfile
  docker/haproxy-statsd/haproxy-statsd.py
  docker/zookeeper-statsd/Dockerfile
  docker/zookeeper-statsd/zookeeper-statsd.py
  zuul.d/docker-images/base.yaml
  zuul.d/docker-images/zookeeper-statsd.yaml
  zuul.d/project.yaml
Due: none

switch main prod apimon to new connection
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Fix compute dashboard
  playbooks/templates/grafana/apimon/_kpi_compute.yaml.j2
  playbooks/templates/grafana/apimon/compute.yaml.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-service-grafana-dashboards, system-config-run-base

summarize ssh logins
  playbooks/templates/grafana/apimon/compute.yaml.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

changed template inventory alerta-vm group
  playbooks/zuul/templates/gate-groups.yaml.j2
Due: system-config-run-base

Fix compute dashboard (#77)
  playbooks/templates/grafana/apimon/_kpi_compute.yaml.j2
  playbooks/templates/grafana/apimon/compute.yaml.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-service-grafana-dashboards, system-config-run-base

fix dashboards deployment
  playbooks/dashboards.yaml
  playbooks/dashboards_local.yaml
Due: infra-prod-service-grafana-dashboards, system-config-run-base

fix
  playbooks/roles/alerta/tasks/main.yaml
Due: system-config-run-base

dashboard (#78)
  playbooks/dashboards.yaml
  playbooks/dashboards_local.yaml
Due: infra-prod-service-grafana-dashboards, system-config-run-base

template inventory update
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: system-config-run-base

template inv fix
  playbooks/zuul/templates/gate-groups.yaml.j2
Due: system-config-run-base

template inv default values
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: system-config-run-base

add poc for 24x7 dashboard
  playbooks/dashboards_local.yaml
  playbooks/templates/grafana/247/_annotations.yaml.j2
  playbooks/templates/grafana/247/_header.yaml.j2
  playbooks/templates/grafana/247/_template_env.yaml.j2
  playbooks/templates/grafana/247/_template_zone.yaml.j2
  playbooks/templates/grafana/247/macros.j2
  playbooks/templates/grafana/247/main.yaml.j2
  playbooks/templates/grafana/apimon/macros.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

added supervisord.conf
  playbooks/roles/alerta/tasks/main.yaml
  playbooks/roles/alerta/templates/alerta.service.j2
  playbooks/roles/alerta/templates/supervisord.conf.j2
Due: system-config-run-base

missing variable in template inv
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: system-config-run-base

extended the template inv
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: system-config-run-base

disabling alerta execution for manual testing on bridge
  inventory/service/groups.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

alerta-vm empty group
  inventory/service/groups.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana
