Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, system-config-run-base, system-config-run-statsd, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-apimon-scheduler:
  parent: infra-prod-service-base
  description: Run service-apimon-scheduler.yaml playbook.
  vars:
    playbook_name: service-apimon-scheduler.yaml

infra-prod-service-apimon-executor:
  parent: infra-prod-service-base
  description: Run service-apimon-executor.yaml playbook.
  vars:
    playbook_name: service-apimon-executor.yaml

infra-prod-service-graphite:
  parent: infra-prod-service-base
  description: Run service-graphite.yaml playbook.
  vars:
    playbook_name: service-graphite.yaml

infra-prod-service-memcached:
  parent: infra-prod-service-base
  description: Run service-memcached.yaml playbook.
  vars:
    playbook_name: service-memcached.yaml

infra-prod-service-alerta:
  parent: infra-prod-service-base
  description: Run service-alerta.yaml playbook.
  vars:
    playbook_name: service-alerta.yaml

infra-prod-service-grafana-dashboards:
  parent: infra-prod-service-base
  description: Run dashboards.yaml playbook.
  vars:
    playbook_name: dashboards.yaml

infra-prod-service-grafana:
  parent: infra-prod-service-base
  description: Run service-grafana.yaml playbook.
  vars:
    playbook_name: service-grafana.yaml

system-config-run-base:
  parent: system-config-run
  description: 'Run the "base" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: f32
      label: fedora-32

system-config-run-statsd:
  parent: system-config-run
  description: 'Run the "statsd" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: statsd.f31
      label: fedora-31
    - name: statsd.f32
      label: fedora-32
  vars:
  ...

fix of inventory
  inventory/base/hosts.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

deleted temp file
  playbooks/roles/alerta_k8s/tasks/main.yaml_test
Due: system-config-run-base

update dashboards to the latest dev state
  playbooks/dashboards_local.yaml
  playbooks/roles/grafana/defaults/main.yml
  playbooks/roles/grafana/tasks/import_dashboard.yaml
  playbooks/templates/grafana/apimon/_header.yaml.j2
  playbooks/templates/grafana/apimon/_kpi_block_storage.yaml.j2
  playbooks/templates/grafana/apimon/_kpi_cce.yaml.j2
  playbooks/templates/grafana/apimon/_kpi_compute.yaml.j2
  playbooks/templates/grafana/apimon/_kpi_identity.yaml.j2
  playbooks/templates/grafana/apimon/_kpi_image.yaml.j2
  playbooks/templates/grafana/apimon/_kpi_network.yaml.j2
  playbooks/templates/grafana/apimon/_service_header.yaml.j2
  playbooks/templates/grafana/apimon/block_storage.yaml.j2
  playbooks/templates/grafana/apimon/compute.yaml.j2
  playbooks/templates/grafana/apimon/endpoint_monitor.yaml.j2
  playbooks/templates/grafana/apimon/identity.yaml.j2
  playbooks/templates/grafana/apimon/image.yaml.j2
  playbooks/templates/grafana/apimon/kpi.yaml.j2
  playbooks/templates/grafana/apimon/macros.j2
  playbooks/templates/grafana/apimon/network.yaml.j2
  playbooks/templates/grafana/apimon/test_results.yaml.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

fix role tasks names
  playbooks/roles/alerta_k8s/tasks/main.yaml
Due: system-config-run-base

Add x509 cert management
  inventory/base/hosts.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/x509_cert/defaults/main.yaml
  playbooks/roles/x509_cert/tasks/ca.yaml
  playbooks/roles/x509_cert/tasks/cert.yaml
  playbooks/x509-certs.yaml
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

alerta-k8s jobs defined in zuul config
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: none

Add Zuul deployment
  inventory/service/group_vars/zuul.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/roles/x509_cert/tasks/cert.yaml
  playbooks/roles/zuul_k8s/defaults/main.yaml
  playbooks/roles/zuul_k8s/files/logging.conf
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-merger.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-web.yaml
  playbooks/roles/zuul_k8s/tasks/zuul.yaml
  playbooks/roles/zuul_k8s/templates/logging.conf.j2
  playbooks/roles/zuul_k8s/templates/zuul.conf.j2
  playbooks/service-zuul-k8s.yaml
  playbooks/templates/clouds/nodepool_clouds.yaml.j2
  playbooks/x509-certs.yaml
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

fix
  playbooks/roles/alerta_k8s/tasks/main.yaml
Due: system-config-run-base

moving secrets as env variables
  playbooks/roles/alerta/templates/alertad.conf.j2
  playbooks/roles/alerta/templates/env.j2
Due: system-config-run-base

add zuul scheduler stub
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/zuul.yaml
  playbooks/roles/zuul_k8s/templates/zuul.conf.j2
  playbooks/roles/zuul_k8s/zuul-scheduler.yaml
Due: system-config-run-base

defined fake values for zuul template inventory
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: system-config-run-base

complete zuul scheduler
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-web.yaml
  playbooks/roles/zuul_k8s/templates/zuul.conf.j2
  playbooks/roles/zuul_k8s/zuul-scheduler.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

add csm ping panels to network dashboard
  playbooks/templates/grafana/apimon/network.yaml.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

rollback zuul to 4.1.0 due to broken github events
  inventory/service/group_vars/zuul.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

add DIS kpi row
  playbooks/templates/grafana/apimon/kpi.yaml.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

add csm ping panels to network dashboard (#63)
  playbooks/templates/grafana/apimon/kpi.yaml.j2
  playbooks/templates/grafana/apimon/network.yaml.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

fix due to alerta crash
  playbooks/roles/alerta/templates/env.j2
Due: system-config-run-base

add another graphite instance for infra
  inventory/base/hosts.yaml
  inventory/service/group_vars/graphite-apimon.yaml
  inventory/service/group_vars/graphite.yaml
  inventory/service/groups.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

add ssl cert to new graphite
  inventory/service/group_vars/graphite1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/groups.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

fix wrong inventory location
  inventory/service/host_vars/graphite1.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Enable zuul statsd reporting
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/zuul_k8s/templates/zuul.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Path conditions:
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, roles/alerta/
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, roles/grafana/
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
