Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-run-base, system-config-run-statsd, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite

system-config-run-base:
  parent: system-config-run
  description: 'Run the "base" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: f32
      label: fedora-32

system-config-run-statsd:
  parent: system-config-run
  description: 'Run the "statsd" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: statsd.f31
      label: fedora-31
    - name: statsd.f32
      label: fedora-32
  vars:
  ...

system-config-run-apimon-epmon:
  parent: system-config-run
  description: 'Run the "apimon-epmon" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: epmon.f32
      label: fedora-32
    - name: epmon.focal
      label: ubuntu-focal
  ...

system-config-run-apimon-scheduler:
  parent: system-config-run
  description: 'Run the "apimon-scheduler" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: scheduler.f32
      label: fedora-32
    - name: scheduler.focal
  ...

system-config-run-apimon-executor:
  parent: system-config-run
  description: 'Run the "apimon-executor" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: executor.f32
      label: fedora-32
    - name: executor.focal
  ...

system-config-run-graphite:
  parent: system-config-run
  description: 'Run the playbook for the graphite servers.
  
    '
  timeout: 3600
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: graphite1.focal
      label: ubuntu-focal
    - name: graphite2.centos
      label: centos-8
  vars:
  ...

fixed alerta conf files permission
  playbooks/roles/alerta/tasks/main.yaml
Due: system-config-run-base

add kpi dashboard
  playbooks/dashboards.yaml
  playbooks/roles/grafana/tasks/import_dashboard.yaml
  playbooks/templates/grafana/apimon/_annotations.yaml.j2
  playbooks/templates/grafana/apimon/_header.yaml.j2
  playbooks/templates/grafana/apimon/_service_header.yaml.j2
  playbooks/templates/grafana/apimon/_template_env.yaml.j2
  playbooks/templates/grafana/apimon/_template_zone.yaml.j2
  playbooks/templates/grafana/apimon/block_storage.yaml.j2
  playbooks/templates/grafana/apimon/compute.yaml.j2
  playbooks/templates/grafana/apimon/endpoint_monitor.yaml.j2
  playbooks/templates/grafana/apimon/identity.yaml.j2
  playbooks/templates/grafana/apimon/image.yaml.j2
  playbooks/templates/grafana/apimon/kpi.yaml.j2
  playbooks/templates/grafana/apimon/macros.j2
  playbooks/templates/grafana/apimon/network.yaml.j2
  playbooks/templates/grafana/apimon/template_zone.j2
  playbooks/templates/grafana/apimon/test_results.yaml.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: system-config-run-base

adding vhasko public key
  inventory/base/group_vars/all.yaml
Due: none

disabled listening test for alerta
  testinfra/test_alerta.py
Due: system-config-run-base

Add Dashboards management (#30)
  playbooks/dashboards.yaml
  playbooks/roles/grafana/tasks/import_dashboard.yaml
  playbooks/templates/grafana/apimon/_annotations.yaml.j2
  playbooks/templates/grafana/apimon/_header.yaml.j2
  playbooks/templates/grafana/apimon/_service_header.yaml.j2
  playbooks/templates/grafana/apimon/_template_env.yaml.j2
  playbooks/templates/grafana/apimon/_template_zone.yaml.j2
  playbooks/templates/grafana/apimon/block_storage.yaml.j2
  playbooks/templates/grafana/apimon/compute.yaml.j2
  playbooks/templates/grafana/apimon/endpoint_monitor.yaml.j2
  playbooks/templates/grafana/apimon/identity.yaml.j2
  playbooks/templates/grafana/apimon/image.yaml.j2
  playbooks/templates/grafana/apimon/kpi.yaml.j2
  playbooks/templates/grafana/apimon/macros.j2
  playbooks/templates/grafana/apimon/network.yaml.j2
  playbooks/templates/grafana/apimon/test_results.yaml.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: system-config-run-base

switch host to bridge for grafana dashboars
  playbooks/dashboards.yaml
Due: system-config-run-base

fix of alerta template in the role
  playbooks/roles/alerta/templates/alerta.service.j2
Due: system-config-run-base

added timeout
  playbooks/roles/alerta/templates/alerta.service.j2
Due: system-config-run-base

removed pulling of image
  playbooks/roles/alerta/templates/alerta.service.j2
Due: system-config-run-base

added web3 to alerta group
  inventory/service/groups.yaml
Due: none

add osinfra_stg and cloud csm
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
  playbooks/zuul/templates/group_vars/apimon-clouds.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
Due: system-config-run-base, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor

first draft
  inventory/service/group_vars/grafana.yaml
  playbooks/roles/grafana/defaults/main.yml
  playbooks/roles/grafana/handlers/main.yml
  playbooks/roles/grafana/tasks/main.yml
  playbooks/roles/grafana/templates/env.j2
  playbooks/roles/grafana/templates/grafana-renderer.service.j2
  playbooks/roles/grafana/templates/grafana.service.j2
  playbooks/roles/grafana/templates/ldap-certificate.crt.j2
  playbooks/roles/grafana/templates/ldap.toml.j2
  playbooks/roles/grafana/vars/Debian.yaml
  playbooks/roles/grafana/vars/RedHat.yaml
  playbooks/service-grafana.yaml
  playbooks/zuul/templates/group_vars/grafana.yaml.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
  zuul.d/system-config-run.yaml
Due: system-config-run-base

added basic test
  playbooks/zuul/templates/gate-groups.yaml.j2
  testinfra/test_grafana.py
Due: system-config-run-base

rework apimon stuff for k8
  inventory/service/group_vars/apimon-epmon.yaml
  inventory/service/group_vars/apimon-hybrid.yaml
  inventory/service/group_vars/apimon-preprod.yaml
  inventory/service/group_vars/apimon-production.yaml
  inventory/service/group_vars/apimon-stg.yaml
  inventory/service/group_vars/apimon.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/executor2.apimon.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/service-apimon-epmon.yaml
  playbooks/service-apimon-executor.yaml
  playbooks/service-apimon-k8s.yaml
  playbooks/service-apimon-scheduler.yaml
  playbooks/templates/apimon/apimon-secure.yaml.j2
  playbooks/templates/apimon/apimon.yaml.j2
  playbooks/templates/apimon/epmon-config.yaml.j2
  playbooks/templates/apimon/epmon-secure-config.yaml.j2
  playbooks/templates/apimon/executor-config.yaml.j2
  playbooks/templates/apimon/executor-secure-config.yaml.j2
  playbooks/templates/apimon/scheduler-config.yaml.j2
  playbooks/templates/apimon/scheduler-secure-config.yaml.j2
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/apimon-clouds.yaml.j2
  playbooks/zuul/templates/group_vars/apimon-epmon.yaml.j2
  playbooks/zuul/templates/group_vars/apimon-executor.yaml.j2
  playbooks/zuul/templates/group_vars/apimon-scheduler.yaml.j2
  playbooks/zuul/templates/group_vars/apimon.yaml.j2
  playbooks/zuul/templates/host_vars/epmon.f32.yaml.j2
  playbooks/zuul/templates/host_vars/epmon.focal.yaml.j2
  testinfra/test_epmon.py
  testinfra/test_executor.py
  testinfra/test_scheduler.py
Due: system-config-run-base, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor

fixes
  playbooks/roles/grafana/tasks/firewall.yml
  playbooks/roles/grafana/tasks/main.yml
  playbooks/roles/grafana/templates/grafana.service.j2
  playbooks/roles/grafana/templates/ldap-certificate.crt.j2
Due: system-config-run-base

fix 2
  playbooks/roles/grafana/tasks/main.yml
Due: system-config-run-base

fix few typos in last commit
  inventory/service/group_vars/apimon.yaml
Due: none

Add apimon stg as k8 object
  inventory/service/group_vars/apimon.yaml
  playbooks/roles/apimon_k8s/tasks/main.yaml
  playbooks/service-apimon-k8s.yaml
  playbooks/templates/apimon/logging.conf.j2
Due: system-config-run-base, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor

fix few typos
  inventory/service/group_vars/apimon.yaml
  playbooks/roles/apimon_k8s/tasks/main.yaml
  playbooks/service-apimon-k8s.yaml
Due: system-config-run-base

override secure config location
  inventory/service/group_vars/apimon.yaml
  playbooks/service-apimon-k8s.yaml
Due: system-config-run-base

properly override secure config location
  playbooks/service-apimon-k8s.yaml
Due: system-config-run-base

Path conditions:
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
