Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-alerta-k8s: any of: inventory/, playbooks/service-alerta-k8s.yaml, playbooks/roles/alerta_k8s
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-dashboards: any of: inventory/, playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy

Add HelpCenter dedicated project (#454)
  inventory/service/group_vars/cloud-launcher.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce

drop reference to old apimon users (#275)
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
Due: infra-prod-service-bridge, system-config-run-base

first version
  inventory/service/group_vars/grafana.yaml
  playbooks/roles/grafana/defaults/main.yml
  playbooks/roles/grafana/tasks/k8s.yaml
  playbooks/roles/grafana/templates/grafana-deployment.yaml.j2
  playbooks/roles/grafana/templates/vault-agent-config.hcl.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

register docs_hc cloud on the bridge
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-service-bridge, system-config-run-base

register docs_hc cloud on the bridge (#455)
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-service-bridge, system-config-run-base

fixing code based on comments from review
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/grafana.yaml
  playbooks/roles/grafana/defaults/main.yml
  playbooks/roles/grafana/templates/grafana-deployment.yaml.j2
  playbooks/roles/grafana/templates/vault-agent-config.hcl.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

Add HelpCenter documentation
  doc/requirements.txt
  doc/source/_images/nginx.png
  doc/source/conf.py
  doc/source/docsportal.rst
  doc/source/docsportal_sec.rst.inc
  doc/source/dot/docsportal.dot
  doc/source/dot/docsportal_sec.dot
  doc/source/dot/helpcenter.dot
  doc/source/gitcontrol.rst
  doc/source/helpcenter.rst
  doc/source/systems.rst
  requirements.txt
  tox.ini
Due: system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

Vault agent deployment to grafana k8s instances (#456)
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/grafana.yaml
  playbooks/roles/grafana/defaults/main.yml
  playbooks/roles/grafana/tasks/k8s.yaml
  playbooks/roles/grafana/templates/grafana-deployment.yaml.j2
  playbooks/roles/grafana/templates/vault-agent-config.hcl.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

reading individual variables fro database connection instead of url
  playbooks/roles/grafana/templates/grafana-secret.yaml.j2
Due: infra-prod-service-grafana, system-config-run-base, system-config-run-grafana

changed endpoint status datasource definition
  playbooks/templates/grafana/apimon/endpoint_monitor.yaml.j2
Due: infra-prod-service-grafana-dashboards, infra-prod-dashboards, system-config-run-base

changed endpoint status datasource definition (#457)
  playbooks/templates/grafana/apimon/endpoint_monitor.yaml.j2
Due: infra-prod-service-grafana-dashboards, infra-prod-dashboards, system-config-run-base

disable graphite web on haproxy
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

reading individual variables fro database connection instead of url (#458)
  playbooks/roles/grafana/templates/grafana-secret.yaml.j2
Due: infra-prod-service-grafana, system-config-run-base, system-config-run-grafana

disable graphite web on haproxy (#459)
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

moved env variables to alertad.conf
  playbooks/roles/alerta/defaults/main.yaml
  playbooks/roles/alerta/tasks/k8s.yaml
  playbooks/roles/alerta/templates/alerta-deployment.yaml.j2
  playbooks/roles/alerta/templates/env.j2
  playbooks/templates/alerta/alertad.conf.j2
Due: infra-prod-service-alerta, system-config-run-base, system-config-run-alerta

added whitespace
  playbooks/templates/alerta/alertad.conf.j2
Due: system-config-run-base

address review comments
  doc/source/docsportal_sec.rst.inc
Due: none

update to zuul 5.0.0
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-client.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-merger.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-web.yaml
  playbooks/roles/zuul_k8s/tasks/zuul.yaml
  playbooks/roles/zuul_k8s/templates/zuul.conf.hcl.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Stop installing openshift lib
  playbooks/roles/install-ansible/tasks/main.yaml
Due: infra-prod-install-ansible, system-config-run-base

Stop installing openshift lib (#461)
  playbooks/roles/install-ansible/tasks/main.yaml
Due: infra-prod-install-ansible, system-config-run-base

update to zuul 5.0.0 (#460)
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-client.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-merger.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-web.yaml
  playbooks/roles/zuul_k8s/tasks/zuul.yaml
  playbooks/roles/zuul_k8s/templates/zuul.conf.hcl.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

separated alerta.conf
  playbooks/roles/alerta/tasks/k8s.yaml
  playbooks/roles/alerta/tasks/main.yaml
  playbooks/roles/alerta/templates/alerta-deployment.yaml.j2
  playbooks/templates/alerta/alerta.conf.j2
  playbooks/templates/alerta/alertad.conf.j2
Due: infra-prod-service-alerta, system-config-run-base, system-config-run-alerta

removed quotes
  playbooks/templates/alerta/alerta.conf.j2
Due: system-config-run-base

further changes for VM alerta deployment
  playbooks/roles/alerta/tasks/main.yaml
  playbooks/roles/alerta/templates/alerta.service.j2
  playbooks/roles/alerta/templates/env.j2
  playbooks/service-alerta.yaml
Due: infra-prod-service-alerta, system-config-run-base, system-config-run-alerta

Alerta moved env variables to config files (#462)
  playbooks/roles/alerta/defaults/main.yaml
  playbooks/roles/alerta/tasks/k8s.yaml
  playbooks/roles/alerta/tasks/main.yaml
  playbooks/roles/alerta/templates/alerta-deployment.yaml.j2
  playbooks/roles/alerta/templates/alerta.service.j2
  playbooks/roles/alerta/templates/env.j2
  playbooks/service-alerta.yaml
  playbooks/templates/alerta/alerta.conf.j2
  playbooks/templates/alerta/alertad.conf.j2
Due: infra-prod-service-alerta, system-config-run-base, system-config-run-alerta

Add HelpCenter documentation (#451)
  doc/requirements.txt
  doc/source/_images/nginx.png
  doc/source/conf.py
  doc/source/docsportal.rst
  doc/source/docsportal_sec.rst.inc
  doc/source/dot/docsportal.dot
  doc/source/dot/docsportal_sec.dot
  doc/source/dot/helpcenter.dot
  doc/source/gitcontrol.rst
  doc/source/helpcenter.rst
  doc/source/systems.rst
  requirements.txt
  tox.ini
Due: system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

vault-agent as sidecar to create alerta config with secrets from vault
  inventory/service/group_vars/alerta.yaml
  playbooks/roles/alerta/defaults/main.yaml
  playbooks/roles/alerta/tasks/k8s.yaml
  playbooks/roles/alerta/templates/alerta-deployment.yaml.j2
  playbooks/roles/alerta/templates/alerta.conf.hcl.j2
  playbooks/roles/alerta/templates/alertad.conf.hcl.j2
  playbooks/roles/alerta/templates/vault-agent-config.hcl.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-alerta

vault-agent as sidecar to create alerta config with secrets from vault (#463)
  inventory/service/group_vars/alerta.yaml
  playbooks/roles/alerta/defaults/main.yaml
  playbooks/roles/alerta/tasks/k8s.yaml
  playbooks/roles/alerta/templates/alerta-deployment.yaml.j2
  playbooks/roles/alerta/templates/alerta.conf.hcl.j2
  playbooks/roles/alerta/templates/alertad.conf.hcl.j2
  playbooks/roles/alerta/templates/vault-agent-config.hcl.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-alerta
