Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-vault-custom, system-config-upload-image-vault-custom, system-config-build-image-vault, system-config-upload-image-vault, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, system-config-build-image-zuul, system-config-upload-image-zuul, infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-grafana-dashboards, infra-prod-grafana-datasources, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, test-acme-certificate-issuance, configure-nginx-acme-support, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy, system-config-run-vault, system-config-run-gitea, system-config-run-keycloak, system-config-run-zookeeper

system-config-build-image-graphite-statsd:
  description: Build a graphite-statsd image.
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/graphite-statsd
      registry: quay.io
      repository: opentelekomcloud/graphite-statsd
      tags:
      - 1.1.10-4
      - latest

system-config-upload-image-graphite-statsd:
  description: Build and upload a graphite-statsd image.
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/graphite-statsd
      registry: quay.io
      repository: opentelekomcloud/graphite-statsd
      tags:
      - 1.1.10-4
      - latest

system-config-build-image-haproxy-statsd:
  description: Build a haproxy-statsd image.
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/haproxy-statsd
      registry: quay.io
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-upload-image-haproxy-statsd:
  description: Build and upload a haproxy-statsd image.
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/haproxy-statsd
      registry: quay.io
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-build-image-vault-custom:
  description: Build a vault-custom image with kubectl included
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/vault-custom
      repository: opentelekomcloud/vault-custom
      tags:
      - latest

system-config-upload-image-vault-custom:
  description: Build and upload vault-custom image with kubectl included
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/vault-custom
      repository: opentelekomcloud/vault-custom
      tags:
      - latest

system-config-build-image-vault:
  description: Build a vault image with kubectl included
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/vault
      registry: quay.io
      repository: opentelekomcloud/vault
      tags:
      - latest

system-config-upload-image-vault:
  description: Build and upload vault image with kubectl included
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/vault
      registry: quay.io
      repository: opentelekomcloud/vault
      tags:
      - latest

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/zookeeper-statsd
      registry: quay.io
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/zookeeper-statsd
      registry: quay.io
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

decrease retention period to 60 days
  playbooks/templates/charts/loki/loki-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

decrease retention period to 60 days (#1427)
  playbooks/templates/charts/loki/loki-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

chore: update helm chart dependencies
  kubernetes/helm_charts/upstream/cert-exporter/Chart.yaml
  kubernetes/helm_charts/upstream/cert-manager/Chart.yaml
  kubernetes/helm_charts/upstream/grafana/Chart.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/Chart.yaml
  kubernetes/helm_charts/upstream/sealed-secrets/Chart.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-auth/Chart.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/Chart.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Examples of the security enahncement for Load Balancers and ingresses
  kubernetes/kustomize/security/README.md
  kubernetes/kustomize/security/deploy-security.sh
  kubernetes/kustomize/security/examples/secure-docsportal-ingress.yaml
  kubernetes/kustomize/security/fail2ban-config.yaml
  kubernetes/kustomize/security/fail2ban-daemonset.yaml
  kubernetes/kustomize/security/kustomization.yaml
  kubernetes/kustomize/security/modsecurity-config.yaml
  kubernetes/kustomize/security/monitoring-config.yaml
  kubernetes/kustomize/security/nginx-security-config.yaml
  kubernetes/kustomize/security/secure-ingress-template.yaml
  kubernetes/kustomize/security/threat-intel-updater.yaml
  otc-security/README.md
  otc-security/automation/deploy-security-configs.sh
  otc-security/automation/update-threat-intel.sh
  otc-security/load-balancers/enhanced-lb-config.yaml
  otc-security/load-balancers/security-policies.yaml
  otc-security/monitoring/alerting-rules.yaml
  otc-security/monitoring/security-metrics.yaml
  otc-security/security-groups/enhanced-security-groups.yaml
  otc-security/security-groups/threat-intelligence-sg.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Integrating security to asnible playbooks and remvoing otc-sercurity folder
  inventory/service/group_vars/otc-security.yaml
  playbooks/cloud-loadbalancer.yaml
  playbooks/deploy-otc-security.yaml
  playbooks/enhanced-loadbalancers.yaml
  playbooks/enhanced-security-groups.yaml
  playbooks/security-orchestration.yaml
  playbooks/templates/otc-threat-intel.service.j2
  playbooks/templates/otc-threat-intel.timer.j2
  playbooks/templates/security-deployment-report.j2
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Integration to existing LB setup
  inventory/service/group_vars/cloud-launcher.yaml
  otc-security/README.md
  otc-security/automation/deploy-security-configs.sh
  otc-security/automation/update-threat-intel.sh
  otc-security/load-balancers/enhanced-lb-config.yaml
  otc-security/load-balancers/security-policies.yaml
  otc-security/monitoring/alerting-rules.yaml
  otc-security/monitoring/security-metrics.yaml
  otc-security/security-groups/enhanced-security-groups.yaml
  otc-security/security-groups/threat-intelligence-sg.yaml
  playbooks/cloud-loadbalancer.yaml
  playbooks/cloud-security-groups.yaml
  playbooks/deploy-otc-security.yaml
  playbooks/deploy-threat-intelligence.yaml
  playbooks/enhanced-loadbalancers.yaml
  playbooks/enhanced-security-groups.yaml
  playbooks/security-orchestration.yaml
  playbooks/templates/threat-intel-updater.service.j2
  playbooks/templates/threat-intel-updater.timer.j2
  playbooks/templates/update-threat-intel.sh.j2
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Providing enhanced security for ELB,LB and ingresses
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/otc-security.yaml
  playbooks/cloud-loadbalancer.yaml
  playbooks/cloud-security-groups.yaml
  playbooks/deploy-threat-intelligence.yaml
  playbooks/templates/security/otc-threat-intel.service.j2
  playbooks/templates/security/otc-threat-intel.timer.j2
  playbooks/templates/security/security-deployment-report.j2
  playbooks/templates/security/threat-intel-updater.service.j2
  playbooks/templates/security/threat-intel-updater.timer.j2
  playbooks/templates/security/update-threat-intel.sh.j2
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Update Alerta to 9.0.4
  inventory/service/group_vars/all.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update Alerta to 9.0.4 (#1430)
  inventory/service/group_vars/all.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

chore: update helm chart dependencies
  kubernetes/helm_charts/upstream/cert-exporter/Chart.yaml
  kubernetes/helm_charts/upstream/cert-manager/Chart.yaml
  kubernetes/helm_charts/upstream/grafana/Chart.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/Chart.yaml
  kubernetes/helm_charts/upstream/promtail/Chart.yaml
  kubernetes/helm_charts/upstream/sealed-secrets/Chart.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-auth/Chart.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/Chart.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update of the zuul overlay
  kubernetes/kustomize/zuul/overlays/preprod/MIGRATION_GUIDE.md
  kubernetes/kustomize/zuul/overlays/preprod/configs/kube.config
  kubernetes/kustomize/zuul/overlays/preprod/configs/openstack/clouds.yaml
  kubernetes/kustomize/zuul/overlays/preprod/configs/site-vars.yaml
  kubernetes/kustomize/zuul/overlays/preprod/configs/zuul.conf
  kubernetes/kustomize/zuul/overlays/preprod/crb.yaml
  kubernetes/kustomize/zuul/overlays/preprod/crb_admin.yaml
  kubernetes/kustomize/zuul/overlays/preprod/kustomization.yaml
  kubernetes/kustomize/zuul/overlays/preprod/network-policy.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Protype of the swift proxy
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/kustomize/swift-proxy/app-config.yaml
  kubernetes/kustomize/swift-proxy/base/secret.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal/deployment.patch.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal/kustomization.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal/secret.patch.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal/vault-agent.hcl
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal_swiss/kustomization.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal_swiss/secret.patch.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal_swiss/vault-agent.hcl
  kubernetes/kustomize/zuul/overlays/preprod/MIGRATION_GUIDE.md
  kubernetes/kustomize/zuul/overlays/preprod/configs/kube.config
  kubernetes/kustomize/zuul/overlays/preprod/configs/openstack/clouds.yaml
  kubernetes/kustomize/zuul/overlays/preprod/configs/site-vars.yaml
  kubernetes/kustomize/zuul/overlays/preprod/configs/zuul.conf
  kubernetes/kustomize/zuul/overlays/preprod/crb.yaml
  kubernetes/kustomize/zuul/overlays/preprod/crb_admin.yaml
  kubernetes/kustomize/zuul/overlays/preprod/kustomization.yaml
  kubernetes/kustomize/zuul/overlays/preprod/network-policy.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Updating Argocd plugins to be able to work with Openstack paths without KV engine
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update of AVP plugins via configmap
  kubernetes/helm_charts/local/argo-cd/templates/vault-path-processor-configmap.yaml
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-additional-manifests.yaml
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
  kubernetes/helm_charts/upstream/argo-cd/vault-path-processor-configmap.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Moving all plugins to custom-tools folder
  kubernetes/helm_charts/local/argo-cd/templates/vault-path-processor-configmap.yaml
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-additional-manifests.yaml
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
  kubernetes/helm_charts/upstream/argo-cd/vault-path-processor-configmap.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Adding plain vault plugin and fixing up opnestack kustomize avp
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-additional-manifests.yaml
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update of openstack AVP
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fix of th swift proxy
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal/deployment.patch.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal/kustomization.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal/sa.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal_swiss/deployment.patch.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal_swiss/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fix if the swift-proxy and docsportal
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_swiss_internal/configs/nginx-site.conf
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal/deployment.patch.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal/kustomization.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal/sa.yaml
  kubernetes/kustomize/swift-proxy/overlays/preprod/helpcenter_internal_swiss/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fix of the ksutomization for hc-swiss-int
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/ingress-oauth.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/sa.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_swiss_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_swiss_internal/kustomization.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_internal/deployment.patch.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_swiss_internal/deployment.patch.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_swiss_internal/kustomization.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_swiss_internal/secret.patch.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Creating new deployment for helpcenter-int
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_archive/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_beta/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_public/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Sites change, adaptation of nginx.confs, hosts and ingresses for docsportals
  docsportal/overlays/helpcenter_public/404.html
  docsportal/overlays/helpcenter_public/kustomization.yaml
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/docsportal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/preprod/docsportal/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_archive/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_archive/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_beta/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_beta/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/ingress-oauth.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_public/404.html
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_public/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_public/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_swiss_archive/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_swiss_archive/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_swiss_beta/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_swiss_beta/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_swiss_internal/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_swiss_public/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_swiss_public/kustomization.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_internal/vault-agent.hcl
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_swiss_internal/vault-agent.hcl
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Addition of selfsigned cluster issuer
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/helm_charts/local/cert-manager/templates/clusterIssuers.yaml
  kubernetes/helm_charts/local/cert-manager/values.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, test-acme-certificate-issuance

Adding security to ingresses and moving oauth ingress from docsportal to oauth-proxy folder
  kubernetes/kustomize/docsportal/base/ingress.yaml
  kubernetes/kustomize/docsportal/base/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/ingress-oauth.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/kustomization.yaml
  kubernetes/kustomize/oauth-proxy/base/ingress.yaml
  kubernetes/kustomize/oauth-proxy/base/kustomization.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_internal/ingress.patch.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_internal/kustomization.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_swiss_internal/ingress.patch.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_swiss_internal/ingress.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_swiss_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update openapi to 0.4.1
  kubernetes/kustomize/openapi-validator/base/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update kustomization.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update openapi to 0.4.1 (#1432)
  kubernetes/kustomize/openapi-validator/base/kustomization.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update openapi to 0.4.1 (#1432)
  kubernetes/kustomize/docsportal/README.md
  kubernetes/kustomize/openapi-validator/base/kustomization.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Adding security to ingresses and moving oauth ingress from docsportal to oauth-proxy folder
  kubernetes/kustomize/docsportal/base/ingress.yaml
  kubernetes/kustomize/docsportal/base/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/ingress-oauth.yaml
  kubernetes/kustomize/docsportal/overlays/preprod/helpcenter_internal/kustomization.yaml
  kubernetes/kustomize/mcaptcha/overlays/preprod/kustomization.yaml
  kubernetes/kustomize/oauth-proxy/base/ingress.yaml
  kubernetes/kustomize/oauth-proxy/base/kustomization.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_internal/ingress.patch.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_internal/kustomization.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_swiss_internal/ingress.patch.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_swiss_internal/ingress.yaml
  kubernetes/kustomize/oauth-proxy/overlays/preprod/docsportal/helpcenter_swiss_internal/kustomization.yaml
  kubernetes/kustomize/redis/deployment.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Block Metrics endpoint on Gitea
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-proxy

Disable Metrics on Gitea
  playbooks/roles/gitea/templates/app.ini.j2
Due: infra-prod-service-gitea, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-gitea

Disable Metrics on Gitea (#1439)
  playbooks/roles/gitea/templates/app.ini.j2
Due: infra-prod-service-gitea, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-gitea

Anubis chart
  kubernetes/helm_charts/local/anubis/Chart.yaml
  kubernetes/helm_charts/local/anubis/templates/_helpers.tpl
  kubernetes/helm_charts/local/anubis/templates/configmap-policy.yaml
  kubernetes/helm_charts/local/anubis/templates/deployment.yaml
  kubernetes/helm_charts/local/anubis/values.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

adding keycloak inactivty scanner python script
  tools/keycloak_inactivity_scanner.py
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update CPN Frontend tag to include new partner EBCONT
  kubernetes/kustomize/circle-partner-navigator/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update kustomization.yaml
  kubernetes/kustomize/circle-partner-navigator/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update CPN Frontend tag to include new partner EBCONT (#1451)
  kubernetes/kustomize/circle-partner-navigator/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

adding script feature for keycloak
  playbooks/roles/keycloak/templates/env.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-keycloak

fix typo in value
  playbooks/roles/keycloak/templates/env.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-keycloak

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-vault-custom: any of: docker/vault-custom/
  system-config-upload-image-vault-custom: any of: docker/vault-custom/
  system-config-build-image-vault: any of: docker/vault/
  system-config-upload-image-vault: any of: docker/vault/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-build-image-zuul: any of: docker/zuul
  system-config-upload-image-zuul: any of: docker/zuul
  infra-prod-bootstrap-bridge: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/boostrap-bridge.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-gitea: any of: inventory/, playbooks/service-gitea.yaml, playbooks/roles/gitea/
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-cloudmon: any of: inventory/, playbooks/service-cloudmon.yaml, playbooks/roles/cloudmon_plugin
  infra-prod-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-grafana-datasources: any of: playbooks/grafana-datasources.yaml, playbooks/roles/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-vault: any of: inventory/, playbooks/service-vault.yaml, playbooks/roles/hashivault
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-service-octavia-proxy: any of: inventory/service/group_vars/k8s-controller.yaml, inventory/service/group_vars/all.yaml, playbooks/service-octavia-proxy.yaml, playbooks/roles/octavia_proxy
  infra-prod-service-opensearch: any of: inventory/, playbooks/service-opensearch.yaml, playbooks/roles/opensearch
  infra-prod-service-loki: any of: inventory/service/group_vars/k8s-controller.yaml, playbooks/service-loki.yaml, playbooks/roles/loki
  infra-prod-propose-update: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-stable: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-latest: unless all of: inventory/service/group_vars/zuul.yaml
  test-acme-certificate-issuance: any of: kubernetes/kustomize/ingress-nginx-patches/.*, playbooks/configure-nginx-acme-support.yaml, kubernetes/helm_charts/local/cert-manager/.*
  configure-nginx-acme-support: any of: kubernetes/kustomize/ingress-nginx-patches/.*, playbooks/configure-nginx-acme-support.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: playbooks/bootstrap-bridge.yaml, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: playbooks/bootstrap-bridge.yaml, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/roles/graphite_web, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: playbooks/bootstrap-bridge.yaml, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-proxy.yaml, playbooks/roles/haproxy, inventory/service/group_vars/proxy.yaml
  system-config-run-vault: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-vault.yaml, playbooks/roles/hashivault, inventory/service/groups.yaml
  system-config-run-gitea: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-gitea.yaml, playbooks/roles/gitea/, testinfra/test_gitea.py
  system-config-run-keycloak: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-keycloak.yaml, playbooks/roles/keycloak/, testinfra/test_keycloak.py
  system-config-run-zookeeper: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper, inventory/service/groups.yaml
