Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-manage-github, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

system-config-build-image-graphite-statsd:
  description: Build a graphite-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-upload-image-graphite-statsd:
  description: Build and upload a graphite-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-apimon-scheduler:
  parent: infra-prod-service-base
  description: Run service-apimon-scheduler.yaml playbook.
  vars:
    playbook_name: service-apimon-scheduler.yaml

infra-prod-service-apimon-executor:
  parent: infra-prod-service-base
  description: Run service-apimon-executor.yaml playbook.
  vars:
    playbook_name: service-apimon-executor.yaml

infra-prod-service-graphite:
  parent: infra-prod-service-base
  description: Run service-graphite.yaml playbook.
  vars:
    playbook_name: service-graphite.yaml

infra-prod-service-memcached:
  parent: infra-prod-service-base
  description: Run service-memcached.yaml playbook.
  vars:
    playbook_name: service-memcached.yaml

infra-prod-service-alerta:
  parent: infra-prod-service-base
  description: Run service-alerta.yaml playbook.
  vars:
    playbook_name: service-alerta.yaml

Added namespace management to alerta/grafana roles Made state variable, default in role defaults/main.yaml to present Added apply=yes for tasks in roles to apply k8s manifests
  playbooks/roles/alerta_k8s/defaults/main.yaml
  playbooks/roles/alerta_k8s/tasks/main.yaml
  playbooks/roles/grafana_k8s/defaults/main.yaml
  playbooks/roles/grafana_k8s/tasks/main.yaml
Due: system-config-run-base

fix image tag (#181)
  inventory/service/group_vars/grafana.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

initial commit of helm support
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/install-helm-chart.yaml
  playbooks/roles/install-helm-chart/defaults/main.yaml
  playbooks/roles/install-helm-chart/tasks/main.yaml
  playbooks/roles/install-helm/defaults/main.yaml
  playbooks/roles/install-helm/tasks/main.yaml
  playbooks/service-bridge.yaml
  playbooks/templates/charts/cert-manager/cert-manager-post-config.yaml.j2
  playbooks/templates/charts/cert-manager/cert-manager-values.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Update zo zuul 4.5.1
  inventory/service/group_vars/zuul.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

email to make variable
  playbooks/templates/charts/cert-manager/cert-manager-post-config.yaml.j2
Due: system-config-run-base

Alter unbound configuration
  inventory/service/group_vars/otc.yaml
  playbooks/roles/base/unbound/handlers/main.yaml
  playbooks/roles/base/unbound/tasks/main.yaml
  playbooks/roles/base/unbound/templates/unbound.confd.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Added namespace management to alerta/grafana roles (#182)
  playbooks/roles/alerta_k8s/defaults/main.yaml
  playbooks/roles/alerta_k8s/tasks/main.yaml
  playbooks/roles/grafana_k8s/defaults/main.yaml
  playbooks/roles/grafana_k8s/tasks/main.yaml
Due: system-config-run-base

cce integration into sc - role/playbook/inventory (#176)
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-cce.yaml
  playbooks/install-ansible.yaml
  playbooks/roles/cloud_cce/defaults/main.yaml
  playbooks/roles/cloud_cce/tasks/destroy.yaml
  playbooks/roles/cloud_cce/tasks/main.yaml
  playbooks/roles/cloud_cce/tasks/provision.yaml
  zuul.d/infra-prod.yaml
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

disable readiness check for zuul scheduler (#130)
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
Due: system-config-run-base

Add zookeeper deployment
  inventory/base/hosts.yaml
  inventory/service/group_vars/zuul-zookeeper.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/zk1.zuul.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/zk2.zuul.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/zk3.zuul.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/x509_cert/tasks/cert.yaml
  playbooks/roles/zookeeper/README.rst
  playbooks/roles/zookeeper/defaults/main.yaml
  playbooks/roles/zookeeper/handlers/main.yaml
  playbooks/roles/zookeeper/tasks/main.yaml
  playbooks/roles/zookeeper/templates/env.j2
  playbooks/roles/zookeeper/templates/zookeeper.service.j2
  playbooks/roles/zookeeper/vars/Debian.yaml
  playbooks/roles/zookeeper/vars/RedHat.yaml
  playbooks/service-zookeeper.yaml
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
  testinfra/test_zookeeper.py
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-x509-cert

Alter unbound configuration (#185)
  inventory/service/group_vars/otc.yaml
  playbooks/roles/base/unbound/handlers/main.yaml
  playbooks/roles/base/unbound/tasks/main.yaml
  playbooks/roles/base/unbound/templates/unbound.confd.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Add zookeeper deployment (#186)
  inventory/base/hosts.yaml
  inventory/service/group_vars/zuul-zookeeper.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/zk1.zuul.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/zk2.zuul.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/zk3.zuul.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/x509_cert/tasks/cert.yaml
  playbooks/roles/zookeeper/README.rst
  playbooks/roles/zookeeper/defaults/main.yaml
  playbooks/roles/zookeeper/handlers/main.yaml
  playbooks/roles/zookeeper/tasks/main.yaml
  playbooks/roles/zookeeper/templates/env.j2
  playbooks/roles/zookeeper/templates/zookeeper.service.j2
  playbooks/roles/zookeeper/vars/Debian.yaml
  playbooks/roles/zookeeper/vars/RedHat.yaml
  playbooks/service-zookeeper.yaml
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
  testinfra/test_zookeeper.py
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-x509-cert

helm chart installation support in SC (#183)
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/install-helm-chart.yaml
  playbooks/roles/install-helm-chart/defaults/main.yaml
  playbooks/roles/install-helm-chart/tasks/main.yaml
  playbooks/roles/install-helm/defaults/main.yaml
  playbooks/roles/install-helm/tasks/main.yaml
  playbooks/service-bridge.yaml
  playbooks/templates/charts/cert-manager/cert-manager-post-config.yaml.j2
  playbooks/templates/charts/cert-manager/cert-manager-values.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

added helm instances to inventory + some fixes to role tasks
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/install-helm-chart/tasks/main.yaml
  playbooks/templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

small fix
  playbooks/roles/cloud_cce/tasks/destroy.yaml
Due: system-config-run-base

added natwg for zuul project
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

small fix (#187)
  playbooks/roles/cloud_cce/tasks/destroy.yaml
Due: system-config-run-base

Update zo zuul 4.5.1 (#184)
  inventory/service/group_vars/zuul.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Fix dashboards for carbonapi
  playbooks/dashboards.yaml
  playbooks/templates/grafana/apimon/_kpi_block_storage.yaml.j2
  playbooks/templates/grafana/apimon/_kpi_cce.yaml.j2
  playbooks/templates/grafana/apimon/_kpi_image.yaml.j2
  playbooks/templates/grafana/apimon/_template_env.yaml.j2
  playbooks/templates/grafana/apimon/_template_zone.yaml.j2
  playbooks/templates/grafana/apimon/endpoint_monitor.yaml.j2
  playbooks/templates/grafana/apimon/kpi.yaml.j2
  playbooks/templates/grafana/apimon/macros.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

Deploy maubot matrix bot system
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/database-launcher.yaml
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/matrix.yaml
  playbooks/roles/matrix/tasks/k8s.yaml
  playbooks/roles/matrix/templates/ingress.yaml.j2
  playbooks/roles/maubot/README.rst
  playbooks/roles/maubot/defaults/main.yaml
  playbooks/roles/maubot/tasks/k8s.yaml
  playbooks/roles/maubot/tasks/main.yaml
  playbooks/roles/maubot/templates/config.yaml.j2
  playbooks/service-maubot.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Start docportal
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/document_hosting_k8s/tasks/main.yaml
  playbooks/roles/document_hosting_k8s/templates/nginx-site.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Rewrite redirect of swift
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/document_hosting_k8s/templates/nginx-site.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Add mode for haproxy config
  playbooks/roles/haproxy/tasks/main.yaml
Due: system-config-run-base, system-config-run-proxy

Deploy maubot matrix bot system (#190)
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/database-launcher.yaml
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/matrix.yaml
  playbooks/roles/matrix/tasks/k8s.yaml
  playbooks/roles/matrix/templates/ingress.yaml.j2
  playbooks/roles/maubot/README.rst
  playbooks/roles/maubot/defaults/main.yaml
  playbooks/roles/maubot/tasks/k8s.yaml
  playbooks/roles/maubot/tasks/main.yaml
  playbooks/roles/maubot/templates/config.yaml.j2
  playbooks/service-maubot.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

changed state to use variable in TLS cert secret
  playbooks/roles/document_hosting_k8s/tasks/main.yaml
Due: system-config-run-base

added helm instances to inventory + some fixes to role tasks (#189)
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/install-helm-chart/tasks/main.yaml
  playbooks/templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Start docportal (#191)
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/document_hosting_k8s/tasks/main.yaml
  playbooks/roles/document_hosting_k8s/templates/nginx-site.conf.j2
  playbooks/roles/haproxy/tasks/main.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-proxy

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, roles/alerta/
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, roles/grafana/
  infra-prod-manage-github: any of: playbooks/manage-github.yaml, playbooks/roles/gitcontrol, playbooks/templates/github/default_zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy
