Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-manage-github, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

system-config-build-image-graphite-statsd:
  description: Build a graphite-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-upload-image-graphite-statsd:
  description: Build and upload a graphite-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main
  - name: github.com/opentelekomcloud/ansible-collection-cloud
  ...

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-x509-cert:
  parent: infra-prod-service-base
  description: Run x509-certs.yaml playbook.
  vars:
    playbook_name: x509-certs.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-apimon-scheduler:
  parent: infra-prod-service-base
  description: Run service-apimon-scheduler.yaml playbook.
  vars:
    playbook_name: service-apimon-scheduler.yaml

infra-prod-service-apimon-executor:
  parent: infra-prod-service-base
  description: Run service-apimon-executor.yaml playbook.
  vars:
    playbook_name: service-apimon-executor.yaml

infra-prod-service-apimon-k8s:
  parent: infra-prod-service-base
  description: Run service-apimon-k8s.yaml playbook.
  vars:
    playbook_name: service-apimon-k8s.yaml

infra-prod-service-graphite:
  parent: infra-prod-service-base
  description: Run service-graphite.yaml playbook.
  vars:
    playbook_name: service-graphite.yaml

Switch manage-github to use collection (#218)
  playbooks/manage-github.yaml
Due: infra-prod-manage-github, system-config-run-base

Add initial swift docs (#214)
  doc/source/swift.rst
  doc/source/systems.rst
Due: none

haproxy healthcheck tuning interval
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

haproxy healthcheck tuning interval (#219)
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Implement octavia-proxy deployment
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/install-kubernetes.yaml
  playbooks/roles/octavia_proxy/README.rst
  playbooks/roles/octavia_proxy/defaults/main.yaml
  playbooks/roles/octavia_proxy/tasks/k8s.yaml
  playbooks/roles/octavia_proxy/templates/octavia-deployment.yaml.j2
  playbooks/roles/octavia_proxy/templates/octavia-ingress.yaml.j2
  playbooks/roles/octavia_proxy/templates/octavia-service.yaml.j2
  playbooks/service-octavia-proxy.yaml
  playbooks/templates/octavia_proxy/octavia_proxy.conf.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Implement octavia-proxy deployment (#229)
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/install-kubernetes.yaml
  playbooks/roles/octavia_proxy/README.rst
  playbooks/roles/octavia_proxy/defaults/main.yaml
  playbooks/roles/octavia_proxy/tasks/k8s.yaml
  playbooks/roles/octavia_proxy/templates/octavia-deployment.yaml.j2
  playbooks/roles/octavia_proxy/templates/octavia-ingress.yaml.j2
  playbooks/roles/octavia_proxy/templates/octavia-service.yaml.j2
  playbooks/service-octavia-proxy.yaml
  playbooks/templates/octavia_proxy/octavia_proxy.conf.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Octavia-proxy deployment improvements
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/octavia_proxy/tasks/k8s.yaml
  playbooks/templates/octavia_proxy/octavia_proxy.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Haproxy recovery
  docker/haproxy-statsd/haproxy-statsd.py
  playbooks/monitor_haproxy.yaml
  playbooks/roles/haproxy_monitor/README.rst
  playbooks/roles/haproxy_monitor/tasks/backend.yaml
  playbooks/roles/haproxy_monitor/tasks/frontend.yaml
  playbooks/roles/haproxy_monitor/tasks/main.yaml
  zuul.d/docker-images/haproxy-statsd.yaml
  zuul.d/project.yaml
Due: system-config-run-base, system-config-run-proxy

Haproxy recovery (#233)
  docker/haproxy-statsd/haproxy-statsd.py
  playbooks/monitor_haproxy.yaml
  playbooks/roles/haproxy_monitor/README.rst
  playbooks/roles/haproxy_monitor/tasks/backend.yaml
  playbooks/roles/haproxy_monitor/tasks/frontend.yaml
  playbooks/roles/haproxy_monitor/tasks/main.yaml
  zuul.d/docker-images/haproxy-statsd.yaml
  zuul.d/project.yaml
Due: system-config-run-base, system-config-run-proxy

carbonapi simple healthcheck
  playbooks/roles/carbonapi/handlers/main.yaml
  playbooks/roles/carbonapi/tasks/main.yaml
  playbooks/roles/carbonapi/templates/carbonapi-healthcheck.service.j2
  playbooks/roles/carbonapi/templates/carbonapi-healthcheck.sh.j2
  playbooks/roles/carbonapi/templates/carbonapi-healthcheck.timer.j2
Due: system-config-run-base

Add swift hosts into inventory
  inventory/base/hosts.yaml
  playbooks/roles/base/repos/files/sources.list.sid.x86_64
  playbooks/roles/base/server/vars/Debian.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Update carbonapi-healthcheck.timer.j2
  playbooks/roles/carbonapi/templates/carbonapi-healthcheck.timer.j2
Due: system-config-run-base

carbonapi simple healthcheck (#235)
  playbooks/roles/carbonapi/handlers/main.yaml
  playbooks/roles/carbonapi/tasks/main.yaml
  playbooks/roles/carbonapi/templates/carbonapi-healthcheck.service.j2
  playbooks/roles/carbonapi/templates/carbonapi-healthcheck.sh.j2
  playbooks/roles/carbonapi/templates/carbonapi-healthcheck.timer.j2
Due: system-config-run-base

Octavia-proxy deployment improvements (#232)
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/octavia_proxy/tasks/k8s.yaml
  playbooks/templates/octavia_proxy/octavia_proxy.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Add swift hosts into inventory (#237)
  inventory/base/hosts.yaml
  playbooks/roles/base/repos/files/sources.list.sid.x86_64
  playbooks/roles/base/server/vars/Debian.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

fix typo in the sources.list.sid file
  playbooks/roles/base/repos/files/sources.list.sid.x86_64
Due: infra-prod-base, system-config-run-base

fix deprecation warnign in ansible cfg
  playbooks/roles/install-ansible/templates/ansible.cfg.j2
Due: infra-prod-install-ansible, system-config-run-base

Integrate swift configuration
  inventory/base/hosts.yaml
  inventory/service/group_vars/swift.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/controller.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy1.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy3.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage1.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage2.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage3.swift.eco.tsi-dev.otc-service.com.yaml
  playbooks/reload-swift.yaml
  playbooks/roles/statsd/vars/Debian.yaml
  playbooks/roles/swift/README.rst
  playbooks/roles/swift/defaults/main.yaml
  playbooks/roles/swift/handlers/main.yaml
  playbooks/roles/swift/tasks/log.yaml
  playbooks/roles/swift/tasks/main.yaml
  playbooks/roles/swift/tasks/storage.yaml
  playbooks/roles/swift/templates/account-server-1.conf.j2
  playbooks/roles/swift/templates/account-server-2.conf.j2
  playbooks/roles/swift/templates/container-server-1.conf.j2
  playbooks/roles/swift/templates/container-server-2.conf.j2
  playbooks/roles/swift/templates/object-server-1.conf.j2
  playbooks/roles/swift/templates/object-server-2.conf.j2
  playbooks/roles/swift/templates/proxy-server.conf.j2
  playbooks/roles/swift/templates/rsyncd.conf.j2
  playbooks/roles/swift/templates/rsyslog.swift.conf.j2
  playbooks/roles/swift/templates/swift.conf.j2
  playbooks/service-swift.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/statsd.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-statsd

Fill swift deployment playbook (#239)
  inventory/base/hosts.yaml
  inventory/service/group_vars/swift.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/controller.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy1.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy3.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage1.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage2.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage3.swift.eco.tsi-dev.otc-service.com.yaml
  playbooks/reload-swift.yaml
  playbooks/roles/base/repos/files/sources.list.sid.x86_64
  playbooks/roles/install-ansible/templates/ansible.cfg.j2
  playbooks/roles/statsd/vars/Debian.yaml
  playbooks/roles/swift/README.rst
  playbooks/roles/swift/defaults/main.yaml
  playbooks/roles/swift/handlers/main.yaml
  playbooks/roles/swift/tasks/log.yaml
  playbooks/roles/swift/tasks/main.yaml
  playbooks/roles/swift/tasks/storage.yaml
  playbooks/roles/swift/templates/account-server-1.conf.j2
  playbooks/roles/swift/templates/account-server-2.conf.j2
  playbooks/roles/swift/templates/container-server-1.conf.j2
  playbooks/roles/swift/templates/container-server-2.conf.j2
  playbooks/roles/swift/templates/object-server-1.conf.j2
  playbooks/roles/swift/templates/object-server-2.conf.j2
  playbooks/roles/swift/templates/proxy-server.conf.j2
  playbooks/roles/swift/templates/rsyncd.conf.j2
  playbooks/roles/swift/templates/rsyslog.swift.conf.j2
  playbooks/roles/swift/templates/swift.conf.j2
  playbooks/service-swift.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/statsd.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-statsd

fix renamed vars in swift inventory
  inventory/service/host_vars/storage1.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage2.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage3.swift.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

fix renamed vars in swift inventory (#240)
  inventory/service/host_vars/storage1.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage2.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage3.swift.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

still some typos
  inventory/service/host_vars/storage1.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage2.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage3.swift.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

still some typos (#241)
  inventory/service/host_vars/storage1.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage2.swift.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/storage3.swift.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Put logrotate conf.d file
  playbooks/roles/base/server/tasks/main.yaml
  playbooks/roles/base/server/templates/logrotate.j2
Due: infra-prod-base, system-config-run-base

Put logrotate conf.d file (#242)
  playbooks/roles/base/server/tasks/main.yaml
  playbooks/roles/base/server/templates/logrotate.j2
Due: infra-prod-base, system-config-run-base

fix another typo
  playbooks/roles/base/server/templates/logrotate.j2
Due: infra-prod-base, system-config-run-base

fix another typo (#243)
  playbooks/roles/base/server/templates/logrotate.j2
Due: infra-prod-base, system-config-run-base

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-alerta-k8s: any of: inventory/, playbooks/service-alerta-k8s.yaml, playbooks/roles/alerta_k8s
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-dashboards: any of: inventory/, playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-manage-github: any of: playbooks/manage-github.yaml, playbooks/roles/gitcontrol, playbooks/templates/github/default_zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy
