Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-vault-custom, system-config-upload-image-vault-custom, system-config-build-image-vault, system-config-upload-image-vault, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, system-config-build-image-zuul, system-config-upload-image-zuul, infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-grafana-dashboards, infra-prod-grafana-datasources, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy, system-config-run-vault, system-config-run-gitea, system-config-run-keycloak, system-config-run-zookeeper

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-vault-custom: any of: docker/vault-custom/
  system-config-upload-image-vault-custom: any of: docker/vault-custom/
  system-config-build-image-vault: any of: docker/vault/
  system-config-upload-image-vault: any of: docker/vault/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-build-image-zuul: any of: docker/zuul
  system-config-upload-image-zuul: any of: docker/zuul
  infra-prod-bootstrap-bridge: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/boostrap-bridge.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-gitea: any of: inventory/, playbooks/service-gitea.yaml, playbooks/roles/gitea/
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-cloudmon: any of: inventory/, playbooks/service-cloudmon.yaml, playbooks/roles/cloudmon_plugin
  infra-prod-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-grafana-datasources: any of: playbooks/grafana-datasources.yaml, playbooks/roles/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-vault: any of: inventory/, playbooks/service-vault.yaml, playbooks/roles/hashivault
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-service-octavia-proxy: any of: inventory/service/group_vars/k8s-controller.yaml, inventory/service/group_vars/all.yaml, playbooks/service-octavia-proxy.yaml, playbooks/roles/octavia_proxy
  infra-prod-service-opensearch: any of: inventory/, playbooks/service-opensearch.yaml, playbooks/roles/opensearch
  infra-prod-service-loki: any of: inventory/service/group_vars/k8s-controller.yaml, playbooks/service-loki.yaml, playbooks/roles/loki
  infra-prod-propose-update: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-stable: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-latest: unless all of: inventory/service/group_vars/zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: playbooks/bootstrap-bridge.yaml, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: playbooks/bootstrap-bridge.yaml, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/roles/graphite_web, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: playbooks/bootstrap-bridge.yaml, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-proxy.yaml, playbooks/roles/haproxy, inventory/service/group_vars/proxy.yaml
  system-config-run-vault: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-vault.yaml, playbooks/roles/hashivault, inventory/service/groups.yaml
  system-config-run-gitea: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-gitea.yaml, playbooks/roles/gitea/, testinfra/test_gitea.py
  system-config-run-keycloak: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-keycloak.yaml, playbooks/roles/keycloak/, testinfra/test_keycloak.py
  system-config-run-zookeeper: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper, inventory/service/groups.yaml

Update cloud-launcher.yaml (#770)
  inventory/service/group_vars/cloud-launcher.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

internal site addon
  playbooks/templates/docs_hosting/nginx-internal.conf.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

internal site addon (#772)
  playbooks/templates/docs_hosting/nginx-internal.conf.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

rm backstage ns
  kubernetes/backstage/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

update backstage kustomize app
  kubernetes/backstage/base/deployment.yaml
  kubernetes/backstage/base/ingress.yaml
  kubernetes/backstage/base/kustomization.yaml
  kubernetes/backstage/base/service.yaml
  kubernetes/backstage/components/oauth-proxy/deployment.yaml
  kubernetes/backstage/components/oauth-proxy/kustomization.yaml
  kubernetes/backstage/components/oauth-proxy/service.yaml
  kubernetes/backstage/components/oauth-proxy/vault-agent.hcl
  kubernetes/backstage/components/redis/deployment.yaml
  kubernetes/backstage/components/redis/kustomization.yaml
  kubernetes/backstage/components/redis/service.yaml
  kubernetes/backstage/overlays/prod/deployment.patch.yaml
  kubernetes/backstage/overlays/prod/ingress.yaml
  kubernetes/backstage/overlays/prod/kustomization.yaml
  kubernetes/backstage/overlays/prod/sa.yaml
  kubernetes/backstage/overlays/prod/vault-agent.hcl
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

update backstage app
  kubernetes/backstage/base/backstage.env
  kubernetes/backstage/base/deployment.yaml
  kubernetes/backstage/base/github-app-backstage-otc-credentials.yaml
  kubernetes/backstage/base/kustomization.yaml
  kubernetes/backstage/components/oauth-proxy/deployment.yaml
  kubernetes/backstage/components/oauth-proxy/kustomization.yaml
  kubernetes/backstage/components/redis/deployment.yaml
  kubernetes/backstage/overlays/prod/deployment.patch.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

missing file
  kubernetes/backstage/base/github-app-backstage-otc-credentials.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

further updates
  kubernetes/backstage/base/ingress.yaml
  kubernetes/backstage/overlays/prod/kustomization.yaml
  kubernetes/dep-track/base/api.yaml
  kubernetes/dep-track/base/dependencytrack-api.env
  kubernetes/dep-track/base/dependencytrack.env
  kubernetes/dep-track/base/frontend.yaml
  kubernetes/dep-track/base/ingress.yaml
  kubernetes/dep-track/base/kustomization.yaml
  kubernetes/dep-track/components/postgres/deployment.yaml
  kubernetes/dep-track/components/postgres/kustomization.yaml
  kubernetes/dep-track/components/postgres/service.yaml
  kubernetes/dep-track/components/postgres/storage.yaml
  kubernetes/dep-track/components/postgres/vault-agent.hcl
  kubernetes/dep-track/overlays/prod/dependencytrack-api.env
  kubernetes/dep-track/overlays/prod/dependencytrack.env
  kubernetes/dep-track/overlays/prod/kustomization.yaml
  kubernetes/dep-track/overlays/prod/sa.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

add kustomize files
  kubernetes/backstage/base/backstage.env
  kubernetes/backstage/base/deployment.yaml
  kubernetes/backstage/base/ingress.yaml
  kubernetes/backstage/base/kustomization.yaml
  kubernetes/backstage/base/redis.yaml
  kubernetes/backstage/base/service.yaml
  kubernetes/backstage/overlays/prod/ingress.yaml
  kubernetes/backstage/overlays/prod/kustomization.yaml
  kubernetes/dep-track/base/api.yaml
  kubernetes/dep-track/base/dependencytrack-api.env
  kubernetes/dep-track/base/dependencytrack.env
  kubernetes/dep-track/base/frontend.yaml
  kubernetes/dep-track/base/ingress.yaml
  kubernetes/dep-track/base/kustomization.yaml
  kubernetes/dep-track/base/service.yaml
  kubernetes/dep-track/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

increase timeout for backstage dep
  kubernetes/backstage/base/deployment.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update kustomization.yaml
  kubernetes/backstage/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

switch to kc to filter role
  kubernetes/backstage/components/oauth-proxy/vault-agent.hcl
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

add argocd
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/templates/charts/argocd/argocd-values.yaml.j2
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Re-enable KC sync in backstage
  kubernetes/backstage/overlays/prod/vault-agent.hcl
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

unshare kustomize app sa binding
  kubernetes/backstage/overlays/prod/sa.yaml
  kubernetes/dep-track/overlays/prod/sa.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Switch to new container image building jobs
  docker/graphite-statsd/Dockerfile
  docker/vault/Dockerfile
  zuul.d/docker-images/base.yaml
  zuul.d/docker-images/graphite-statsd.yaml
  zuul.d/docker-images/haproxy-statsd.yaml
  zuul.d/docker-images/vault.yaml
  zuul.d/docker-images/zookeeper-statsd.yaml
  zuul.d/docker-images/zuul.yaml
Due: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-vault, system-config-upload-image-vault, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

add argocd apps
  kubernetes/argocd-apps/backstage-agrocd.yaml
  kubernetes/argocd-apps/dependencytrack-argocd.yaml
  kubernetes/argocd-apps/system-config-argocdproj.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

fix
  kubernetes/argocd-apps/backstage-agrocd.yaml
  kubernetes/argocd-apps/dependencytrack-argocd.yaml
  kubernetes/argocd-apps/system-config-argocdproj.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Switch to new container image building jobs (#774)
  docker/graphite-statsd/Dockerfile
  docker/vault/Dockerfile
  zuul.d/docker-images/base.yaml
  zuul.d/docker-images/graphite-statsd.yaml
  zuul.d/docker-images/haproxy-statsd.yaml
  zuul.d/docker-images/vault.yaml
  zuul.d/docker-images/zookeeper-statsd.yaml
  zuul.d/docker-images/zuul.yaml
Due: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-vault, system-config-upload-image-vault, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

add role for backstage k8 plugin
  kubernetes/backstage/overlays/prod/sa.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Enable host limit for SSL handling
  playbooks/roles/acme_install_txt_records/tasks/main.yaml
Due: infra-prod-service-acme-ssl, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-acme-ssl

Update main.yaml
  playbooks/roles/acme_drop_txt_records/tasks/main.yaml
Due: infra-prod-service-acme-ssl, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-acme-ssl

trim default
  playbooks/templates/charts/argocd/argocd-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Enable host limit for SSL handling (#775)
  playbooks/roles/acme_drop_txt_records/tasks/main.yaml
  playbooks/roles/acme_install_txt_records/tasks/main.yaml
Due: infra-prod-service-acme-ssl, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-acme-ssl

add keycloak
  playbooks/templates/charts/argocd/argocd-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

secret
  playbooks/templates/charts/argocd/argocd-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

add stackmon clouds/instances
  inventory/base/group_vars/all.yaml
  inventory/base/hosts.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/stackmon.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/cloudmon1.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/db1.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/db2.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/db3.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite1.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite2.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite3.cloudmon.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/cloud_sg/tasks/provision.yaml
  playbooks/roles/configure_vault/tasks/os_role.yaml
  playbooks/roles/configure_vault/tasks/os_static_role.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-vault, system-config-run-zookeeper

add stackmon clouds/instances (#773)
  inventory/base/group_vars/all.yaml
  inventory/base/hosts.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/stackmon.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/cloudmon1.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/db1.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/db2.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/db3.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite1.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite2.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite3.cloudmon.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/cloud_sg/tasks/provision.yaml
  playbooks/roles/configure_vault/tasks/os_role.yaml
  playbooks/roles/configure_vault/tasks/os_static_role.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-vault, system-config-run-zookeeper

add secret
  playbooks/templates/charts/argocd/argocd-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

cert fix
  playbooks/templates/charts/argocd/argocd-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Update graphite base to 1.1.10-4
  docker/graphite-statsd/Dockerfile
  zuul.d/docker-images/graphite-statsd.yaml
Due: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

update graphite.cloudmon certs
  inventory/service/host_vars/graphite1.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite2.cloudmon.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

update graphite.cloudmon certs (#777)
  inventory/service/host_vars/graphite1.cloudmon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite2.cloudmon.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update graphite base to 1.1.10-4 (#776)
  docker/graphite-statsd/Dockerfile
  zuul.d/docker-images/graphite-statsd.yaml
Due: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest
