Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-alerta-k8s: any of: inventory/, playbooks/service-alerta-k8s.yaml, playbooks/roles/alerta_k8s
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-dashboards: any of: inventory/, playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy

added task to revoke lease in vault (#584)
  inventory/base/hosts.yaml
  playbooks/cloud-hosts.yaml
  playbooks/roles/cloud_host/tasks/main.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

changed all cloud_host cloud param to vault
  inventory/base/hosts.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

changed all cloud_host cloud param to vault (#585)
  inventory/base/hosts.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update grafana to 9.0.1 version
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update grafana to 9.0.1 version (#586)
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

add task to renew transit token
  playbooks/roles/hashivault/tasks/main.yaml
  playbooks/roles/hashivault/tasks/renew_transit_token.yaml
Due: system-config-run-base

newline
  playbooks/roles/hashivault/tasks/renew_transit_token.yaml
Due: system-config-run-base

extended when condition of the task
  playbooks/roles/hashivault/tasks/renew_transit_token.yaml
Due: system-config-run-base

extended when condition
  playbooks/roles/hashivault/tasks/main.yaml
  playbooks/roles/hashivault/tasks/renew_transit_token.yaml
Due: system-config-run-base

add task to renew transit token (#587)
  playbooks/roles/hashivault/tasks/main.yaml
  playbooks/roles/hashivault/tasks/renew_transit_token.yaml
Due: system-config-run-base

moved cloud_cce provisioning to support openstack vault token auth
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-cce.yaml
  playbooks/roles/cloud_cce/tasks/destroy.yaml
  playbooks/roles/cloud_cce/tasks/main.yaml
  playbooks/roles/cloud_cce/tasks/provision.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

update octavia image to change_111_latest
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update octavia image to change_111_latest (#589)
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

moved cloud_cce provisioning to support openstack vault token auth (#588)
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-cce.yaml
  playbooks/roles/cloud_cce/tasks/destroy.yaml
  playbooks/roles/cloud_cce/tasks/main.yaml
  playbooks/roles/cloud_cce/tasks/provision.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

add new items into template
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/templates/octavia_proxy/octavia_proxy.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

moved cloud_dns provisioning to use openstack vault creds
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-dns.yaml
  playbooks/roles/cloud_dns/tasks/build.yaml
  playbooks/roles/cloud_dns/tasks/destroy.yaml
  playbooks/roles/cloud_dns/tasks/main.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

add new items into template (#590)
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/templates/octavia_proxy/octavia_proxy.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

moved cloud_networks provisioning to use openstack vault creds
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-networks.yaml
  playbooks/roles/cloud_natgw/tasks/destroy.yaml
  playbooks/roles/cloud_natgw/tasks/main.yaml
  playbooks/roles/cloud_natgw/tasks/provision.yaml
  playbooks/roles/cloud_net/tasks/destroy.yaml
  playbooks/roles/cloud_net/tasks/destroy_net.yaml
  playbooks/roles/cloud_net/tasks/main.yaml
  playbooks/roles/cloud_net/tasks/net.yaml
  playbooks/roles/cloud_net/tasks/provision.yaml
  playbooks/roles/cloud_net/tasks/subnet.yaml
  playbooks/roles/cloud_sg/tasks/destroy.yaml
  playbooks/roles/cloud_sg/tasks/main.yaml
  playbooks/roles/cloud_sg/tasks/provision.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

moved cloud_security-groups provisioning to use openstack vault creds
  playbooks/cloud-security-groups.yaml
Due: system-config-run-base

Cloud provisioning to use openstack vault credentials (#591)
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-dns.yaml
  playbooks/cloud-networks.yaml
  playbooks/cloud-security-groups.yaml
  playbooks/roles/cloud_dns/tasks/build.yaml
  playbooks/roles/cloud_dns/tasks/destroy.yaml
  playbooks/roles/cloud_dns/tasks/main.yaml
  playbooks/roles/cloud_natgw/tasks/destroy.yaml
  playbooks/roles/cloud_natgw/tasks/main.yaml
  playbooks/roles/cloud_natgw/tasks/provision.yaml
  playbooks/roles/cloud_net/tasks/destroy.yaml
  playbooks/roles/cloud_net/tasks/destroy_net.yaml
  playbooks/roles/cloud_net/tasks/main.yaml
  playbooks/roles/cloud_net/tasks/net.yaml
  playbooks/roles/cloud_net/tasks/provision.yaml
  playbooks/roles/cloud_net/tasks/subnet.yaml
  playbooks/roles/cloud_sg/tasks/destroy.yaml
  playbooks/roles/cloud_sg/tasks/main.yaml
  playbooks/roles/cloud_sg/tasks/provision.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

pin openstack collection version to stable 1.8.0
  zuul.d/infra-prod.yaml
Due: none

moved vpcp/load-balancer/rds provisioning to use openstack vault creds
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-loadbalancer.yaml
  playbooks/cloud-rds.yaml
  playbooks/cloud-vpcp.yaml
  playbooks/roles/cloud_loadbalancer/tasks/build.yaml
  playbooks/roles/cloud_loadbalancer/tasks/destroy.yaml
  playbooks/roles/cloud_loadbalancer/tasks/main.yaml
  playbooks/roles/cloud_loadbalancer_cert/tasks/build.yaml
  playbooks/roles/cloud_loadbalancer_cert/tasks/destroy.yaml
  playbooks/roles/cloud_loadbalancer_cert/tasks/main.yaml
  playbooks/roles/cloud_rds/tasks/destroy.yaml
  playbooks/roles/cloud_rds/tasks/main.yaml
  playbooks/roles/cloud_rds/tasks/provision.yaml
  playbooks/roles/cloud_vpcp/tasks/main.yaml
  playbooks/roles/cloud_vpcp/tasks/provision.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

add gitea
  inventory/base/hosts.yaml
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/database-launcher.yaml
  inventory/service/group_vars/gitea.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/gitea1.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/acme_create_certs/handlers/main.yaml
  playbooks/roles/acme_create_certs/handlers/restart-gitea.yaml
  playbooks/roles/acme_create_certs/tasks/main.yaml
  playbooks/roles/cloud_host/tasks/main.yaml
  playbooks/roles/db_pg/tasks/main.yaml
  playbooks/roles/gitea/README.rst
  playbooks/roles/gitea/defaults/main.yaml
  playbooks/roles/gitea/handlers/main.yaml
  playbooks/roles/gitea/tasks/main.yaml
  playbooks/roles/gitea/templates/app.ini.j2
  playbooks/roles/gitea/templates/env.j2
  playbooks/roles/gitea/templates/gitea.service.j2
  playbooks/roles/gitea/vars/Ubuntu.jammy.yaml
  playbooks/service-database.yaml
  playbooks/service-gitea.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base, system-config-run-acme-ssl

update zuul to 6.1.0
  inventory/service/group_vars/zuul.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update grafana
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update grafana (#596)
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update gitea version
  inventory/service/group_vars/gitea.yaml
  playbooks/roles/gitea/defaults/main.yaml
  playbooks/roles/gitea/templates/app.ini.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

drop unnecessary changes
  inventory/base/hosts.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/gitea.yaml
  playbooks/roles/cloud_host/tasks/main.yaml
  playbooks/roles/gitea/tasks/main.yaml
  playbooks/roles/gitea/vars/Ubuntu.jammy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

address review comments
  playbooks/roles/gitea/templates/env.j2
  playbooks/roles/gitea/templates/gitea.service.j2
Due: system-config-run-base

fix root url announcement
  inventory/service/group_vars/gitea.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

fix firewald ports
  inventory/service/host_vars/gitea1.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart
