Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-vault-custom, system-config-upload-image-vault-custom, system-config-build-image-vault, system-config-upload-image-vault, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, system-config-build-image-zuul, system-config-upload-image-zuul, infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-grafana-dashboards, infra-prod-grafana-datasources, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy, system-config-run-vault, system-config-run-gitea, system-config-run-keycloak, system-config-run-zookeeper

system-config-build-image-graphite-statsd:
  description: Build a graphite-statsd image.
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/graphite-statsd
      registry: quay.io
      repository: opentelekomcloud/graphite-statsd
      tags:
      - 1.1.10-4
      - latest

system-config-upload-image-graphite-statsd:
  description: Build and upload a graphite-statsd image.
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/graphite-statsd
      registry: quay.io
      repository: opentelekomcloud/graphite-statsd
      tags:
      - 1.1.10-4
      - latest

system-config-build-image-haproxy-statsd:
  description: Build a haproxy-statsd image.
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/haproxy-statsd
      registry: quay.io
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-upload-image-haproxy-statsd:
  description: Build and upload a haproxy-statsd image.
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/haproxy-statsd
      registry: quay.io
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-build-image-vault-custom:
  description: Build a vault-custom image with kubectl included
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/vault-custom
      repository: opentelekomcloud/vault-custom
      tags:
      - latest

system-config-upload-image-vault-custom:
  description: Build and upload vault-custom image with kubectl included
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/vault-custom
      repository: opentelekomcloud/vault-custom
      tags:
      - latest

system-config-build-image-vault:
  description: Build a vault image with kubectl included
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/vault
      registry: quay.io
      repository: opentelekomcloud/vault
      tags:
      - latest

system-config-upload-image-vault:
  description: Build and upload vault image with kubectl included
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/vault
      registry: quay.io
      repository: opentelekomcloud/vault
      tags:
      - latest

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/zookeeper-statsd
      registry: quay.io
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/zookeeper-statsd
      registry: quay.io
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

Ubuntu noble (#1385)
  playbooks/roles/base/repos/files/sources.list.noble.x86_64
Due: infra-prod-base, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Enabling openapi via kustomize (#1367)
  kubernetes/helm_charts/local/argo-cd/templates/roles_roleBindigs.yaml
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-additional-manifests.yaml
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
  kubernetes/kustomize/openapi-validator/base/deploy.yaml
  kubernetes/kustomize/openapi-validator/base/ingress.yaml
  kubernetes/kustomize/openapi-validator/base/kustomization.yaml
  kubernetes/kustomize/openapi-validator/base/openapi-validator.env
  kubernetes/kustomize/openapi-validator/base/sa.yaml
  kubernetes/kustomize/openapi-validator/base/service.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/kustomization.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/namespace.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/openapi-validator.env
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Enabling secret reference in stead of configmap with plain text
  kubernetes/kustomize/openapi-validator/base/deploy.yaml
  kubernetes/kustomize/openapi-validator/base/ingress.yaml
  kubernetes/kustomize/openapi-validator/base/kustomization.yaml
  kubernetes/kustomize/openapi-validator/base/openapi-validator.env
  kubernetes/kustomize/openapi-validator/base/secret.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/openapi-validator.env
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fixing up clusterissuers
  kubernetes/helm_charts/local/cert-manager/values.yaml
  kubernetes/helm_charts/upstream/cert-manager/templates/letsencrypt-prod.yaml
  kubernetes/helm_charts/upstream/cert-manager/templates/letsencrypt-staging.yaml
  kubernetes/kustomize/openapi-validator/base/ingress.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Updating the rbac roles of Argocd
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fixing up rbac roles in argocd
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Removing not necessary manifests
  kubernetes/helm_charts/upstream/grafana/dashboards/blackbox-exporter/blackbox-exporter.json
  kubernetes/helm_charts/upstream/grafana/dashboards/logs/eco-k8-logs.json
  kubernetes/helm_charts/upstream/grafana/dashboards/logs/eco-vm-audit-logs.json
  kubernetes/helm_charts/upstream/grafana/dashboards/logs/eco-vm-container-service-logs.json
  kubernetes/helm_charts/upstream/grafana/dashboards/logs/eco-vm-log-files.json
  kubernetes/helm_charts/upstream/grafana/dashboards/node-exporter/node-exporter-full.json
  kubernetes/helm_charts/upstream/grafana/dashboards/vault/hashicorp-vault.json
  kubernetes/helm_charts/upstream/grafana/templates/grafana-dashboards.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/templates/go-neb-deployment.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/templates/go-neb-secret.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/templates/go-neb-service.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/templates/victoria-metrics-cluster-prometheus-rules.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Adapting nginx validating webhook to allow acme requests
  kubernetes/kustomize/ingress-nginx-patches/base/kustomization.yaml
  kubernetes/kustomize/ingress-nginx-patches/base/validatingwebhook-patch.yaml
  kubernetes/kustomize/ingress-nginx-patches/base/webhook-failurepolicy-patch.yaml
  kubernetes/kustomize/ingress-nginx-patches/base/webhook-strategic-patch.yaml
  kubernetes/kustomize/ingress-nginx-patches/overlays/acme-friendly/kustomization.yaml
  kubernetes/kustomize/ingress-nginx-patches/overlays/acme-friendly/webhook-namespace-selector.yaml
  playbooks/configure-nginx-acme-support.yaml
  playbooks/templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2
  playbooks/test-acme-certificates.yaml
  zuul.d/nginx-acme-jobs.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

modify provision.yaml
  playbooks/roles/cloud_host/tasks/provision.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Fix openapi configmap (#1386)
  kubernetes/helm_charts/local/cert-manager/values.yaml
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
  kubernetes/helm_charts/upstream/cert-manager/templates/letsencrypt-prod.yaml
  kubernetes/helm_charts/upstream/cert-manager/templates/letsencrypt-staging.yaml
  kubernetes/helm_charts/upstream/grafana/dashboards/blackbox-exporter/blackbox-exporter.json
  kubernetes/helm_charts/upstream/grafana/dashboards/logs/eco-k8-logs.json
  kubernetes/helm_charts/upstream/grafana/dashboards/logs/eco-vm-audit-logs.json
  kubernetes/helm_charts/upstream/grafana/dashboards/logs/eco-vm-container-service-logs.json
  kubernetes/helm_charts/upstream/grafana/dashboards/logs/eco-vm-log-files.json
  kubernetes/helm_charts/upstream/grafana/dashboards/node-exporter/node-exporter-full.json
  kubernetes/helm_charts/upstream/grafana/dashboards/vault/hashicorp-vault.json
  kubernetes/helm_charts/upstream/grafana/templates/grafana-dashboards.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/templates/go-neb-deployment.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/templates/go-neb-secret.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/templates/go-neb-service.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/templates/victoria-metrics-cluster-prometheus-rules.yaml
  kubernetes/kustomize/openapi-validator/base/deploy.yaml
  kubernetes/kustomize/openapi-validator/base/kustomization.yaml
  kubernetes/kustomize/openapi-validator/base/openapi-validator.env
  kubernetes/kustomize/openapi-validator/base/secret.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/openapi-validator.env
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Add Ubuntu noble to sources list (#1384)
  playbooks/roles/base/repos/files/sources.list.noble.x86_64
  playbooks/roles/gitea/vars/Ubuntu.noble.yaml
Due: infra-prod-base, infra-prod-service-gitea, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-gitea

Unbound fix (#1350)
  playbooks/roles/base/unbound/tasks/main.yaml
  playbooks/roles/base/unbound/templates/interface.confd.conf.j2
Due: infra-prod-base, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Update helm-dependency-bot.yml (#1344)
  .github/workflows/helm-dependency-bot.yml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Remove Vova from codowners (#1352)
  .github/CODEOWNERS
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Remove inactive users from bridge (#1366)
  inventory/base/group_vars/all.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fix SSRF possibility on all helpcenter websites (#1378)
  kubernetes/kustomize/docsportal/overlays/docsportal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_beta/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_beta/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/nginx-site.conf
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

New syntax for SMTP gateway (#1342)
  playbooks/roles/gitea/templates/app.ini.j2
Due: infra-prod-service-gitea, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-gitea

EoD release 0.1.37 (#1353)
  kubernetes/kustomize/eyes-on-docs/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Handling quotation marks (#1348)
  .github/scripts/check_helm_dependencies.py
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Gitea3 setup (#1382)
  inventory/base/hosts.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/gitea3.eco.tsi-dev.otc-service.com.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcinfra.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-proxy, system-config-run-vault, system-config-run-zookeeper

Adding gitea behind proxy (#1372)
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-proxy

Adding gitea behind proxy (#1374)
  inventory/service/group_vars/proxy.yaml
  inventory/service/host_vars/proxy1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-proxy

Enabling gitea runner in k8s
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/helm_charts/local/gitea-runner/Chart.yaml
  kubernetes/helm_charts/local/gitea-runner/templates/_helpers.tpl
  kubernetes/helm_charts/local/gitea-runner/templates/configmap.yaml
  kubernetes/helm_charts/local/gitea-runner/templates/deployment.yaml
  kubernetes/helm_charts/local/gitea-runner/templates/pvc.yaml
  kubernetes/helm_charts/local/gitea-runner/templates/secret.yaml
  kubernetes/helm_charts/local/gitea-runner/templates/serviceaccount.yaml
  kubernetes/helm_charts/local/gitea-runner/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update nginx-site.conf in swiss int to not allow unsafe URL characters (#1377)
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_internal/configs/nginx-site.conf
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update helm-dependency-bot.yml (#1343)
  .github/workflows/helm-dependency-bot.yml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update Gitea app.ini.j2 to block access through direct IP (#1371)
  playbooks/roles/gitea/templates/app.ini.j2
Due: infra-prod-service-gitea, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-gitea

new redirections for internal HC portal (#1349)
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-admin-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Disable internal metrics for the influx (#1370)
  playbooks/roles/influxdb/templates/env.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Adding gitea behind proxy (#1373)
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-proxy

updating public key for user (#1381)
  inventory/base/group_vars/all.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update helm-dependency-bot.yml (#1345)
  .github/workflows/helm-dependency-bot.yml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Enabling persistance
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/helm_charts/local/gitea-runner/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

add gitea4 host as test
  inventory/service/host_vars/gitea4.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update of the branch reference for ArgoCD apps (#1341)
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Changing target revision of the ArgoCD apps to the current working branch
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Enabling oauth for dosc swiss internal
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_internal/components/oauth-proxy/deployment.yaml
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_internal/components/oauth-proxy/ingress-oauth.yaml
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_internal/components/oauth-proxy/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_internal/components/oauth-proxy/service.yaml
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_internal/components/oauth-proxy/vault-config.yaml
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_internal/components/redis/deployment.yaml
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_internal/components/redis/kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_internal/components/redis/service.yaml
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-vault-custom: any of: docker/vault-custom/
  system-config-upload-image-vault-custom: any of: docker/vault-custom/
  system-config-build-image-vault: any of: docker/vault/
  system-config-upload-image-vault: any of: docker/vault/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-build-image-zuul: any of: docker/zuul
  system-config-upload-image-zuul: any of: docker/zuul
  infra-prod-bootstrap-bridge: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/boostrap-bridge.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-gitea: any of: inventory/, playbooks/service-gitea.yaml, playbooks/roles/gitea/
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-cloudmon: any of: inventory/, playbooks/service-cloudmon.yaml, playbooks/roles/cloudmon_plugin
  infra-prod-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-grafana-datasources: any of: playbooks/grafana-datasources.yaml, playbooks/roles/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-vault: any of: inventory/, playbooks/service-vault.yaml, playbooks/roles/hashivault
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-service-octavia-proxy: any of: inventory/service/group_vars/k8s-controller.yaml, inventory/service/group_vars/all.yaml, playbooks/service-octavia-proxy.yaml, playbooks/roles/octavia_proxy
  infra-prod-service-opensearch: any of: inventory/, playbooks/service-opensearch.yaml, playbooks/roles/opensearch
  infra-prod-service-loki: any of: inventory/service/group_vars/k8s-controller.yaml, playbooks/service-loki.yaml, playbooks/roles/loki
  infra-prod-propose-update: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-stable: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-latest: unless all of: inventory/service/group_vars/zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: playbooks/bootstrap-bridge.yaml, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: playbooks/bootstrap-bridge.yaml, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/roles/graphite_web, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: playbooks/bootstrap-bridge.yaml, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-proxy.yaml, playbooks/roles/haproxy, inventory/service/group_vars/proxy.yaml
  system-config-run-vault: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-vault.yaml, playbooks/roles/hashivault, inventory/service/groups.yaml
  system-config-run-gitea: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-gitea.yaml, playbooks/roles/gitea/, testinfra/test_gitea.py
  system-config-run-keycloak: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-keycloak.yaml, playbooks/roles/keycloak/, testinfra/test_keycloak.py
  system-config-run-zookeeper: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper, inventory/service/groups.yaml
