Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-vault-custom, system-config-upload-image-vault-custom, system-config-build-image-vault, system-config-upload-image-vault, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, system-config-build-image-zuul, system-config-upload-image-zuul, infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-grafana-dashboards, infra-prod-grafana-datasources, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy, system-config-run-vault, system-config-run-gitea, system-config-run-keycloak, system-config-run-zookeeper

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-vault-custom: any of: docker/vault-custom/
  system-config-upload-image-vault-custom: any of: docker/vault-custom/
  system-config-build-image-vault: any of: docker/vault/
  system-config-upload-image-vault: any of: docker/vault/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-build-image-zuul: any of: docker/zuul
  system-config-upload-image-zuul: any of: docker/zuul
  infra-prod-bootstrap-bridge: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/boostrap-bridge.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-gitea: any of: inventory/, playbooks/service-gitea.yaml, playbooks/roles/gitea/
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-cloudmon: any of: inventory/, playbooks/service-cloudmon.yaml, playbooks/roles/cloudmon_plugin
  infra-prod-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-grafana-datasources: any of: playbooks/grafana-datasources.yaml, playbooks/roles/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-vault: any of: inventory/, playbooks/service-vault.yaml, playbooks/roles/hashivault
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-service-octavia-proxy: any of: inventory/service/group_vars/k8s-controller.yaml, inventory/service/group_vars/all.yaml, playbooks/service-octavia-proxy.yaml, playbooks/roles/octavia_proxy
  infra-prod-service-opensearch: any of: inventory/, playbooks/service-opensearch.yaml, playbooks/roles/opensearch
  infra-prod-service-loki: any of: inventory/service/group_vars/k8s-controller.yaml, playbooks/service-loki.yaml, playbooks/roles/loki
  infra-prod-propose-update: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-stable: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-latest: unless all of: inventory/service/group_vars/zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: playbooks/bootstrap-bridge.yaml, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: playbooks/bootstrap-bridge.yaml, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/roles/graphite_web, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: playbooks/bootstrap-bridge.yaml, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-proxy.yaml, playbooks/roles/haproxy, inventory/service/group_vars/proxy.yaml
  system-config-run-vault: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-vault.yaml, playbooks/roles/hashivault, inventory/service/groups.yaml
  system-config-run-gitea: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-gitea.yaml, playbooks/roles/gitea/, testinfra/test_gitea.py
  system-config-run-keycloak: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-keycloak.yaml, playbooks/roles/keycloak/, testinfra/test_keycloak.py
  system-config-run-zookeeper: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper, inventory/service/groups.yaml

New Eyes-on-Docs release 0.1.36 (#1316)
  kubernetes/kustomize/eyes-on-docs/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

SATA disks are not anymore supported
  playbooks/roles/cloud_cce/tasks/provision.yaml
Due: infra-prod-install-cce, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

commenting out obsolete task
  playbooks/roles/cloud_cce/tasks/provision.yaml
Due: infra-prod-install-cce, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

commenting obsolete CCE nodes task (#1317)
  playbooks/roles/cloud_cce/tasks/provision.yaml
Due: infra-prod-install-cce, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Update bridge_kube_config.yaml.j2
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
Due: infra-prod-service-bridge, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Update k8s-controller.yaml
  inventory/service/group_vars/k8s-controller.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fixing whitelist for no clock sync alarm
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcinfra.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

adding whitelist for otcci cce nodes subnet
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcci.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

added correct subnet for otcinfra2
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcinfra2.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fixing whitelist for no clock sync alarm (#1318)
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcci.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcinfra2.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update k8s-controller.yaml (#1312)
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Adding preprod entry to zuul template of the brige host var
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Deployment of nginx to preprod (#1320)
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Fixing typo in tracker file name
  zuul.d/infra-prod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fixing typo in tracker file name (#1321)
  zuul.d/infra-prod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

fixing vault reference for client certificate authority
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
Due: infra-prod-service-bridge, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

fixing vault reference for client certificate authority (#1322)
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
Due: infra-prod-service-bridge, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Update bridge_kube_config.yaml.j2 (#1323)
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
Due: infra-prod-service-bridge, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

new redirections for internal HC portal
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-arts-studio-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-arts-studio-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/database-security-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/dedicated-host
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/elastic-volume-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/mapreduce-service-af
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/mapreduce-service-ag
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

new redirections for internal HC portal
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/api-usage
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/application-operations-management-2
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/business-continuity-center
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/business-dashboard
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/cloud-connect
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/cloud-service-engine
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-admin-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-arts-studio-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-arts-studio-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/database-security-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/dedicated-host
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/elastic-volume-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/enterprise-project-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/gaussdb-opengauss
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/mapreduce-service-af
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/mapreduce-service-ag
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-3rd-party
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/taurusdb
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

updating script to align with otc-metadata-rework
  tools/generate-hc-redirections.sh
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

new redirections for internal HC portal
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-arts-studio-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-arts-studio-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/database-security-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/dedicated-host
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/elastic-volume-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/mapreduce-service-af
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/mapreduce-service-ag
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/taurusdb
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

new redirections for internal HC portal
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/api-usage
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-arts-studio-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-arts-studio-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/database-security-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/dedicated-host
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/elastic-volume-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/mapreduce-service-af
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/mapreduce-service-ag
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-3rd-party
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/taurusdb
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

new redirections for internal HC portal (#1327)
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/api-usage
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-arts-studio-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/data-arts-studio-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/database-security-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/dedicated-host
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/elastic-volume-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/mapreduce-service-af
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/mapreduce-service-ag
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-3rd-party
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/object-storage-service-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/redirect_maps/taurusdb
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

removing obsolete redirection path
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/nginx-site.conf
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

removing obsolete path from kustomization.yaml
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

removing obsolete redirection path (#1328)
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

fixing broken conditions on new metadata-rework
  tools/generate-hc-redirections.sh
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

new redirections for public HC portal
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/api-usage
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/application-service-mesh
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-arts-studio-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-arts-studio-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/distributed-message-service-rocketmq
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/elastic-cloud-server-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/elastic-cloud-server-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/elastic-load-balancing
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/elastic-volume-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-af
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-ag
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/object-storage-service-3rd-party
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/object-storage-service-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/object-storage-service-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/optical-character-recognition
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/taurusdb
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/configs/redirect_maps/web-application-firewall-dedicated
  kubernetes/kustomize/docsportal/overlays/helpcenter_public/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest
