Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-alerta-k8s: any of: inventory/, playbooks/service-alerta-k8s.yaml, playbooks/roles/alerta_k8s
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-dashboards: any of: inventory/, playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy

opensearch + opensearch-dashboard helm chart instances (#355)
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/opensearch/README.rst
  playbooks/roles/opensearch/defaults/main.yml
  playbooks/roles/opensearch/tasks/main.yml
  playbooks/roles/opensearch/templates/opensearch-internal-users.yaml.j2
  playbooks/service-opensearch.yaml
  playbooks/templates/charts/opensearch/opensearch-dashboard-otcinfra-values.yaml.j2
  playbooks/templates/charts/opensearch/opensearch-otcinfra-values.yaml.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Disable hosts from provisioning
  inventory/service/groups.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

added missing become:true to playbook
  playbooks/service-opensearch.yaml
Due: system-config-run-base

Disable hosts from provisioning (#464)
  inventory/service/groups.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

added missing become:true to playbook (#465)
  playbooks/service-opensearch.yaml
Due: system-config-run-base

Drop zk-certs volume for nodepool
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-client.yaml
Due: infra-prod-service-zuul, system-config-run-base

Changing epmon limit to 120seconds on SwissCLoud
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Changing epmon limit to 120seconds on SwissCLoud (#467)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Drop zk-certs volume for nodepool (#466)
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-client.yaml
Due: infra-prod-service-zuul, system-config-run-base

changed cloud_host role to have support for userdata and data volumes
  playbooks/roles/cloud_host/tasks/construct_volumes_idlist.yaml
  playbooks/roles/cloud_host/tasks/provision.yaml
Due: system-config-run-base

cloud host variables for executor1
  inventory/base/hosts.yaml
  inventory/service/host_vars/executor1.apimon.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

adding automation user to cloud-config for executor1
  inventory/service/host_vars/executor1.apimon.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

executor3/4 hostvars for host provisioning
  inventory/base/hosts.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/executor3.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/executor4.apimon.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

fix typo
  inventory/base/hosts.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

cloud host data disk (#468)
  inventory/base/hosts.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/executor1.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/executor3.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/executor4.apimon.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/cloud_host/tasks/construct_volumes_idlist.yaml
  playbooks/roles/cloud_host/tasks/provision.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

enable dnf-automatic.timer service with systemd
  playbooks/roles/base/server/tasks/RedHat.yaml
Due: infra-prod-base, system-config-run-base

enable dnf-automatic.timer service with systemd (#469)
  playbooks/roles/base/server/tasks/RedHat.yaml
Due: infra-prod-base, system-config-run-base

removed production_2 apimon instance
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

removed production_2 apimon instance (#470)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update grafana version
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update grafana version (#472)
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update grafana to 8.4.0
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update grafana to 8.4.0 (#473)
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

otcinfra2 k8s cluster
  inventory/service/group_vars/alerta.yaml
  inventory/service/group_vars/apimon.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/grafana.yaml
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/cloud_net/tasks/provision.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

otcinfra2 k8s cluster (#474)
  inventory/service/group_vars/alerta.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/grafana.yaml
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/cloud_net/tasks/provision.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

add vc deployment
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Add first support for cloudmon plugins
  inventory/service/group_vars/apimon.yaml
  playbooks/roles/cloudmon_plugin/defaults/main.yaml
  playbooks/roles/cloudmon_plugin/handlers/main.yaml
  playbooks/roles/cloudmon_plugin/tasks/main.yaml
  playbooks/roles/cloudmon_plugin/templates/plugin.service.j2
  playbooks/roles/cloudmon_plugin/vars/Debian.yaml
  playbooks/roles/cloudmon_plugin/vars/RedHat.yaml
  playbooks/service-cloudmon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Update infra-prod.yaml
  zuul.d/infra-prod.yaml
Due: none

add role readme
  playbooks/roles/cloudmon_plugin/README.rst
Due: system-config-run-base
