Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-vault-custom, system-config-upload-image-vault-custom, system-config-build-image-vault, system-config-upload-image-vault, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, system-config-build-image-zuul, system-config-upload-image-zuul, infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-grafana-dashboards, infra-prod-grafana-datasources, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, test-acme-certificate-issuance, configure-nginx-acme-support, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy, system-config-run-vault, system-config-run-gitea, system-config-run-keycloak, system-config-run-zookeeper

system-config-build-image-graphite-statsd:
  description: Build a graphite-statsd image.
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/graphite-statsd
      registry: quay.io
      repository: opentelekomcloud/graphite-statsd
      tags:
      - 1.1.10-4
      - latest

system-config-upload-image-graphite-statsd:
  description: Build and upload a graphite-statsd image.
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/graphite-statsd
      registry: quay.io
      repository: opentelekomcloud/graphite-statsd
      tags:
      - 1.1.10-4
      - latest

system-config-build-image-haproxy-statsd:
  description: Build a haproxy-statsd image.
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/haproxy-statsd
      registry: quay.io
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-upload-image-haproxy-statsd:
  description: Build and upload a haproxy-statsd image.
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/haproxy-statsd
      registry: quay.io
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-build-image-vault-custom:
  description: Build a vault-custom image with kubectl included
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/vault-custom
      repository: opentelekomcloud/vault-custom
      tags:
      - latest

system-config-upload-image-vault-custom:
  description: Build and upload vault-custom image with kubectl included
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/vault-custom
      repository: opentelekomcloud/vault-custom
      tags:
      - latest

system-config-build-image-vault:
  description: Build a vault image with kubectl included
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/vault
      registry: quay.io
      repository: opentelekomcloud/vault
      tags:
      - latest

system-config-upload-image-vault:
  description: Build and upload vault image with kubectl included
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/vault
      registry: quay.io
      repository: opentelekomcloud/vault
      tags:
      - latest

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    container_images:
    - context: docker/zookeeper-statsd
      registry: quay.io
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    container_images:
    - context: docker/zookeeper-statsd
      registry: quay.io
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

update umami to 3.0.3 (#1492)
  kubernetes/kustomize/umami/overlays/preprod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

enabling storageClass for retain policy
  kubernetes/kustomize/circle-partner-navigator/base/backend-sts.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Changing of reclaim policy of PVs to Retain
  kubernetes/helm_charts/upstream/grafana/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/grafana/values-preprod.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/outline/values-preprod.yaml
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
  kubernetes/helm_charts/upstream/vault/values-preprod.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/values-preprod.yaml
  kubernetes/kustomize/dep-track/components/postgres/storage.yaml
  kubernetes/kustomize/dependency-track/overlays/preprod/api-statefulset-patch.yaml
  kubernetes/kustomize/zuul/components/nodepool-builder/statefulset.yaml
  kubernetes/kustomize/zuul/overlays/preprod/zookeeper-statefulset.yaml
  kubernetes/kustomize/zuul/overlays/preprod/zuul-config-pv.yaml
  kubernetes/kustomize/zuul/overlays/preprod/zuul-executor-statefulset.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Changing of reclaim policy of PVs to Retain (#1493)
  kubernetes/helm_charts/upstream/grafana/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/grafana/values-preprod.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/outline/values-preprod.yaml
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
  kubernetes/helm_charts/upstream/vault/values-preprod.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/values-preprod.yaml
  kubernetes/kustomize/dep-track/components/postgres/storage.yaml
  kubernetes/kustomize/dependency-track/overlays/preprod/api-statefulset-patch.yaml
  kubernetes/kustomize/zuul/components/nodepool-builder/statefulset.yaml
  kubernetes/kustomize/zuul/overlays/preprod/zookeeper-statefulset.yaml
  kubernetes/kustomize/zuul/overlays/preprod/zuul-config-pv.yaml
  kubernetes/kustomize/zuul/overlays/preprod/zuul-executor-statefulset.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Changing the PV reclaim polocy to Retain
  kubernetes/helm_charts/upstream/grafana/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/values-otcinfra.yaml
  kubernetes/kustomize/dep-track/components/postgres/storage.yaml
  kubernetes/kustomize/dep-track/overlays/prod/kustomization.yaml
  kubernetes/kustomize/zuul/components/nodepool-builder/statefulset.yaml
  kubernetes/kustomize/zuul/overlays/zuul_ci/kustomization.yaml
  playbooks/roles/zookeeper/defaults/main.yaml
  playbooks/roles/zookeeper/templates/statefulset.yaml.j2
  playbooks/roles/zuul_k8s/templates/nodepool-builder-ss.yaml.j2
  playbooks/templates/charts/loki/loki-values.yaml.j2
  playbooks/templates/charts/opensearch/opensearch-otcinfra-values.yaml.j2
  playbooks/templates/charts/opensearch/opensearch-stg-otcinfra2-values.yaml.j2
  playbooks/templates/charts/prometheus/prometheus-otcinfra-values.yaml.j2
Due: infra-prod-service-zuul, infra-prod-service-zookeeper, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-zookeeper

Enabling CPN with new storageClass
  kubernetes/kustomize/circle-partner-navigator/base/backend-sts.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Addition of postgress component
  kubernetes/kustomize/dep-track/components/postgres/storage.yaml
  kubernetes/kustomize/dep-track/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Changing zone to have pv mounted back
  kubernetes/kustomize/circle-partner-navigator/base/backend-sts.yaml
  kubernetes/kustomize/dep-track/components/postgres/deployment.yaml
  kubernetes/kustomize/dep-track/components/postgres/storage.yaml
  kubernetes/kustomize/dep-track/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Addition of adapted matrix SFS turbo mounts
  playbooks/roles/matrix/tasks/k8s.yaml
  playbooks/roles/maubot/tasks/k8s.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Replacing NAS with sfs turbo for loki
  playbooks/templates/charts/loki/loki-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Migrating from NAS to sfs turbo - Zuul
  kubernetes/kustomize/zuul/components/zuul-config/kustomization.yaml
  kubernetes/kustomize/zuul/components/zuul-config/pv-sfs.yaml
  kubernetes/kustomize/zuul/components/zuul-config/pvc.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Updating matrix with sfs turbo
  kubernetes/kustomize/zuul/components/zuul-config/pv-sfs.yaml
  kubernetes/kustomize/zuul/components/zuul-config/pvc.yaml
  playbooks/roles/matrix/tasks/k8s.yaml
  playbooks/roles/maubot/tasks/k8s.yaml
  playbooks/templates/charts/loki/loki-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Changing the PV reclaim polocy to Retain (#1494)
  kubernetes/helm_charts/upstream/grafana/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-otcinfra.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/values-otcinfra.yaml
  kubernetes/kustomize/circle-partner-navigator/base/backend-sts.yaml
  kubernetes/kustomize/dep-track/components/postgres/deployment.yaml
  kubernetes/kustomize/dep-track/components/postgres/storage.yaml
  kubernetes/kustomize/dep-track/overlays/prod/kustomization.yaml
  kubernetes/kustomize/zuul/components/nodepool-builder/statefulset.yaml
  kubernetes/kustomize/zuul/components/zuul-config/kustomization.yaml
  kubernetes/kustomize/zuul/components/zuul-config/pv-sfs.yaml
  kubernetes/kustomize/zuul/components/zuul-config/pvc.yaml
  kubernetes/kustomize/zuul/overlays/zuul_ci/kustomization.yaml
  playbooks/roles/matrix/tasks/k8s.yaml
  playbooks/roles/maubot/tasks/k8s.yaml
  playbooks/roles/zookeeper/defaults/main.yaml
  playbooks/roles/zookeeper/templates/statefulset.yaml.j2
  playbooks/roles/zuul_k8s/templates/nodepool-builder-ss.yaml.j2
  playbooks/templates/charts/loki/loki-values.yaml.j2
  playbooks/templates/charts/opensearch/opensearch-otcinfra-values.yaml.j2
  playbooks/templates/charts/opensearch/opensearch-stg-otcinfra2-values.yaml.j2
  playbooks/templates/charts/prometheus/prometheus-otcinfra-values.yaml.j2
Due: infra-prod-service-zuul, infra-prod-service-zookeeper, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-zookeeper

Fix grafana-otcinfra PVC immutability error with existingClaim
  kubernetes/helm_charts/upstream/grafana/values-otcinfra.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fix grafana-otcinfra PVC immutability error with existingClaim (#1495)
  kubernetes/helm_charts/upstream/grafana/values-otcinfra.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

removing plas as it's EOL
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update openapi to 0.4.2
  kubernetes/kustomize/openapi-validator/base/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update kustomization.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update openapi to 0.4.2 (#1497)
  kubernetes/kustomize/openapi-validator/base/kustomization.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

adding new openapi version with oauth
  kubernetes/kustomize/openapi-validator/base/kustomization.yaml
  kubernetes/kustomize/openapi-validator/base/openapi-validator.env
  kubernetes/kustomize/openapi-validator/base/secret.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/kustomization.yaml
  kubernetes/kustomize/openapi-validator/overlays/dev/openapi-validator.env
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

removing plas as it's EOL (#1496)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

fixing plas skip config
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

fixing plas skip config (#1500)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

chore: update helm chart dependencies
  kubernetes/helm_charts/upstream/cert-exporter/Chart.yaml
  kubernetes/helm_charts/upstream/cert-manager/Chart.yaml
  kubernetes/helm_charts/upstream/grafana/Chart.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/Chart.yaml
  kubernetes/helm_charts/upstream/promtail/Chart.yaml
  kubernetes/helm_charts/upstream/sealed-secrets/Chart.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-auth/Chart.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/Chart.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update kustomization.yaml to update Strapi on CPN
  kubernetes/kustomize/circle-partner-navigator/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update kustomization.yaml to update Strapi on CPN (#1501)
  kubernetes/kustomize/circle-partner-navigator/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Block /metrics endpoint for grafana-de.cloudmon.eco.tsi-dev.otc-service.com
  kubernetes/helm_charts/upstream/kube-prometheus-stack/values-cloudmon-de.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fix Umami 504 timeout: HTTP probes, block attack paths, increase timeouts
  kubernetes/kustomize/umami/base/deploy.yaml
  kubernetes/kustomize/umami/overlays/preprod/ingress-patch.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Add optimized NFS mount options for zuul-config PV
  kubernetes/kustomize/zuul/overlays/preprod/kustomization.yaml
  kubernetes/kustomize/zuul/overlays/preprod/pv-zuul-config.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

SFS Turbo tuning
  kubernetes/kustomize/zuul/components/zuul-config/pvc.yaml
  kubernetes/kustomize/zuul/overlays/preprod/pv-zuul-config.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

SFS Turbo tunning
  kubernetes/kustomize/zuul/components/zuul-config/kustomization.yaml
  kubernetes/kustomize/zuul/components/zuul-config/pvc.yaml
  kubernetes/kustomize/zuul/overlays/preprod/kustomization.yaml
  kubernetes/kustomize/zuul/overlays/preprod/zuul-config-pv.yaml
  kubernetes/kustomize/zuul/overlays/preprod/zuul-config-pvc.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Mount tenant config as configmap in zuul-scheduler
  kubernetes/kustomize/zuul/overlays/preprod/zuul-scheduler-deployment.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Configure nodepool to use python-tox:latest image for pod-debian label
  kubernetes/kustomize/zuul/overlays/preprod/configs/nodepool.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Vulrnaribility fix
  kubernetes/kustomize/zuul/overlays/preprod/zuul-web-ingress.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Enabling blockage of path traversal
  kubernetes/kustomize/zuul/components/nodepool-builder/statefulset.yaml
  kubernetes/kustomize/zuul/overlays/zuul_ci/configs/security-proxy-nginx.conf
  kubernetes/kustomize/zuul/overlays/zuul_ci/kustomization.yaml
  kubernetes/kustomize/zuul/overlays/zuul_ci/network-policy.yaml
  kubernetes/kustomize/zuul/overlays/zuul_ci/patch-zuul-web-security.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fix nodepool EVS API version for OTC
  kubernetes/kustomize/zuul/overlays/zuul_ci/configs/openstack/clouds.yaml.hcl
  playbooks/templates/clouds/nodepool_clouds.hcl.j2
  playbooks/templates/clouds/nodepool_clouds.yaml.j2
Due: infra-prod-service-bridge, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Remove immutable volumeClaimTemplates patch from zookeeper
  kubernetes/kustomize/zuul/overlays/zuul_ci/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Revert: Keep volumeClaimTemplates configuration for zookeeper
  kubernetes/kustomize/zuul/overlays/zuul_ci/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-vault-custom: any of: docker/vault-custom/
  system-config-upload-image-vault-custom: any of: docker/vault-custom/
  system-config-build-image-vault: any of: docker/vault/
  system-config-upload-image-vault: any of: docker/vault/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-build-image-zuul: any of: docker/zuul
  system-config-upload-image-zuul: any of: docker/zuul
  infra-prod-bootstrap-bridge: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/boostrap-bridge.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-gitea: any of: inventory/, playbooks/service-gitea.yaml, playbooks/roles/gitea/
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-cloudmon: any of: inventory/, playbooks/service-cloudmon.yaml, playbooks/roles/cloudmon_plugin
  infra-prod-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-grafana-datasources: any of: playbooks/grafana-datasources.yaml, playbooks/roles/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-vault: any of: inventory/, playbooks/service-vault.yaml, playbooks/roles/hashivault
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-service-octavia-proxy: any of: inventory/service/group_vars/k8s-controller.yaml, inventory/service/group_vars/all.yaml, playbooks/service-octavia-proxy.yaml, playbooks/roles/octavia_proxy
  infra-prod-service-opensearch: any of: inventory/, playbooks/service-opensearch.yaml, playbooks/roles/opensearch
  infra-prod-service-loki: any of: inventory/service/group_vars/k8s-controller.yaml, playbooks/service-loki.yaml, playbooks/roles/loki
  infra-prod-propose-update: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-stable: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-latest: unless all of: inventory/service/group_vars/zuul.yaml
  test-acme-certificate-issuance: any of: kubernetes/kustomize/ingress-nginx-patches/.*, playbooks/configure-nginx-acme-support.yaml, kubernetes/helm_charts/local/cert-manager/.*
  configure-nginx-acme-support: any of: kubernetes/kustomize/ingress-nginx-patches/.*, playbooks/configure-nginx-acme-support.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: playbooks/bootstrap-bridge.yaml, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: playbooks/bootstrap-bridge.yaml, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/roles/graphite_web, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: playbooks/bootstrap-bridge.yaml, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-proxy.yaml, playbooks/roles/haproxy, inventory/service/group_vars/proxy.yaml
  system-config-run-vault: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-vault.yaml, playbooks/roles/hashivault, inventory/service/groups.yaml
  system-config-run-gitea: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-gitea.yaml, playbooks/roles/gitea/, testinfra/test_gitea.py
  system-config-run-keycloak: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-keycloak.yaml, playbooks/roles/keycloak/, testinfra/test_keycloak.py
  system-config-run-zookeeper: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper, inventory/service/groups.yaml
