Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

system-config-build-image-graphite-statsd:
  description: Build a graphite-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-upload-image-graphite-statsd:
  description: Build and upload a graphite-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-build-image-haproxy-statsd:
  description: Build a haproxy-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/haproxy-statsd
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-upload-image-haproxy-statsd:
  description: Build and upload a haproxy-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/haproxy-statsd
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main
  - name: github.com/opentelekomcloud/ansible-collection-cloud
  ...

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-x509-cert:
  parent: infra-prod-service-base
  description: Run x509-certs.yaml playbook.
  vars:
    playbook_name: x509-certs.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-alerta:
  parent: infra-prod-service-base
  description: Run service-alerta.yaml playbook.
  vars:
    playbook_name: service-alerta.yaml

Extend vault configuration (#437)
  playbooks/bootstrap-vault.yaml
  playbooks/configure-vault.yaml
  playbooks/roles/configure_vault/tasks/auth.yaml
  playbooks/roles/configure_vault/tasks/k8auth.yaml
  playbooks/roles/configure_vault/tasks/k8role.yaml
  playbooks/roles/configure_vault/tasks/kubernetes.yaml
  playbooks/roles/configure_vault/tasks/main.yaml
  playbooks/roles/configure_vault/tasks/secret_engine.yaml
Due: system-config-run-base

Use projected-volume token for zuul (#426)
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-client.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-merger.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-web.yaml
Due: infra-prod-service-zuul, system-config-run-base

make k8 config not group readable
  playbooks/roles/configure-kubectl/tasks/main.yaml
Due: infra-prod-service-bridge, system-config-run-base

make k8 config not group readable (#440)
  playbooks/roles/configure-kubectl/tasks/main.yaml
Due: infra-prod-service-bridge, system-config-run-base

Adapt k8 config to get data from improved inventory
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
  testinfra/test_bridge.py
Due: infra-prod-service-bridge, system-config-run-base

Adapt k8 config to get data from improved inventory (#441)
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
  testinfra/test_bridge.py
Due: infra-prod-service-bridge, system-config-run-base

update vault role to use different path in auth
  playbooks/roles/configure_vault/tasks/auth.yaml
Due: system-config-run-base

limit loop labels and fix typo
  playbooks/roles/configure_vault/tasks/kubernetes.yaml
  playbooks/roles/configure_vault/tasks/main.yaml
Due: system-config-run-base

fix another row of issues in bootstrap
  playbooks/bootstrap-vault.yaml
  playbooks/roles/configure_vault/tasks/auth.yaml
  playbooks/roles/configure_vault/tasks/k8auth.yaml
  playbooks/roles/configure_vault/tasks/main_bootstrap.yaml
  playbooks/roles/configure_vault/tasks/secret_engine.yaml
Due: system-config-run-base

update vault role to use different path in auth (#442)
  playbooks/bootstrap-vault.yaml
  playbooks/roles/configure_vault/tasks/auth.yaml
  playbooks/roles/configure_vault/tasks/k8auth.yaml
  playbooks/roles/configure_vault/tasks/kubernetes.yaml
  playbooks/roles/configure_vault/tasks/main_bootstrap.yaml
  playbooks/roles/configure_vault/tasks/secret_engine.yaml
Due: system-config-run-base

update grafana mgmt to use update inventory
  playbooks/dashboards.yaml
  playbooks/roles/grafana/tasks/import_ds.yaml
Due: infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-dashboards, system-config-run-base, system-config-run-grafana

update grafana mgmt to use update inventory (#443)
  playbooks/dashboards.yaml
  playbooks/roles/grafana/tasks/import_ds.yaml
Due: infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-dashboards, system-config-run-base, system-config-run-grafana

Restructure grafana inventory
  inventory/service/group_vars/grafana.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/dashboards.yaml
  playbooks/roles/grafana/defaults/main.yml
  playbooks/roles/grafana/tasks/import_ds.yaml
  playbooks/roles/grafana/tasks/k8s.yaml
  playbooks/roles/grafana/tasks/main.yml
  playbooks/roles/grafana/templates/env.j2
  playbooks/roles/grafana/templates/grafana-deployment.yaml.j2
  playbooks/roles/grafana/templates/grafana-renderer.service.j2
  playbooks/roles/grafana/templates/grafana-secret.yaml.j2
  playbooks/roles/grafana/templates/grafana.service.j2
  playbooks/service-grafana.yaml
  playbooks/templates/grafana/ldap.toml.j2
  playbooks/zuul/templates/group_vars/grafana.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

Restructure grafana inventory (#444)
  inventory/service/group_vars/grafana.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/dashboards.yaml
  playbooks/roles/grafana/defaults/main.yml
  playbooks/roles/grafana/tasks/import_ds.yaml
  playbooks/roles/grafana/tasks/k8s.yaml
  playbooks/roles/grafana/tasks/main.yml
  playbooks/roles/grafana/templates/env.j2
  playbooks/roles/grafana/templates/grafana-deployment.yaml.j2
  playbooks/roles/grafana/templates/grafana-renderer.service.j2
  playbooks/roles/grafana/templates/grafana-secret.yaml.j2
  playbooks/roles/grafana/templates/grafana.service.j2
  playbooks/service-grafana.yaml
  playbooks/templates/grafana/ldap.toml.j2
  playbooks/zuul/templates/group_vars/grafana.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

Fix wrong extra vars variable name in grafana
  inventory/service/group_vars/grafana.yaml
  playbooks/service-grafana.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

Fix wrong extra vars variable name in grafana (#445)
  inventory/service/group_vars/grafana.yaml
  playbooks/service-grafana.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

alerta inventory restructure based on grafana
  inventory/service/group_vars/alerta.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/alerta/tasks/import_zulip_conf.yaml
  playbooks/roles/alerta/tasks/k8s.yaml
  playbooks/roles/alerta/templates/alerta-deployment.yaml.j2
  playbooks/roles/alerta/templates/alerta.service.j2
  playbooks/roles/alerta/templates/env.j2
  playbooks/service-alerta.yaml
  playbooks/templates/alerta/alertad.conf.j2
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-alerta

fix
  playbooks/templates/alerta/alertad.conf.j2
Due: system-config-run-base

further fixes
  playbooks/roles/alerta/templates/alerta-deployment.yaml.j2
  playbooks/service-alerta.yaml
Due: infra-prod-service-alerta, system-config-run-base, system-config-run-alerta

alerta inventory restructure based on grafana (#447)
  inventory/service/group_vars/alerta.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/alerta/tasks/import_zulip_conf.yaml
  playbooks/roles/alerta/tasks/k8s.yaml
  playbooks/roles/alerta/templates/alerta-deployment.yaml.j2
  playbooks/roles/alerta/templates/alerta.service.j2
  playbooks/roles/alerta/templates/env.j2
  playbooks/service-alerta.yaml
  playbooks/templates/alerta/alertad.conf.j2
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-alerta

Add vault_cloud_config ansible lookup plugin
  playbooks/roles/install-ansible/files/lookup_plugins/vault_cloud_config.py
  playbooks/roles/install-ansible/tasks/main.yaml
  playbooks/roles/install-ansible/templates/ansible.cfg.j2
Due: infra-prod-install-ansible, system-config-run-base

Add vault_cloud_config ansible lookup plugin (#448)
  playbooks/roles/install-ansible/files/lookup_plugins/vault_cloud_config.py
  playbooks/roles/install-ansible/tasks/main.yaml
  playbooks/roles/install-ansible/templates/ansible.cfg.j2
Due: infra-prod-install-ansible, system-config-run-base

Update vault_cloud_config plugin
  playbooks/roles/install-ansible/files/lookup_plugins/vault_cloud_config.py
Due: infra-prod-install-ansible, system-config-run-base

Update vault_cloud_config plugin (#450)
  playbooks/roles/install-ansible/files/lookup_plugins/vault_cloud_config.py
Due: infra-prod-install-ansible, system-config-run-base

Improve K8 vault integration
  playbooks/roles/zookeeper/templates/k8s_config.yaml.j2
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
  playbooks/roles/zuul_k8s/templates/vault-agent-config.hcl.j2
  playbooks/roles/zuul_k8s/templates/zuul-base-vault-agent-config.hcl.j2
Due: infra-prod-service-zuul, infra-prod-service-zookeeper, system-config-run-base

Improve K8 vault integration (#453)
  playbooks/roles/zookeeper/templates/k8s_config.yaml.j2
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
  playbooks/roles/zuul_k8s/templates/vault-agent-config.hcl.j2
  playbooks/roles/zuul_k8s/templates/zuul-base-vault-agent-config.hcl.j2
Due: infra-prod-service-zuul, infra-prod-service-zookeeper, system-config-run-base

Add possibility to run zuul in verbose mode
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
Due: infra-prod-service-zuul, system-config-run-base

Add HelpCenter dedicated project
  inventory/service/group_vars/cloud-launcher.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-alerta-k8s: any of: inventory/, playbooks/service-alerta-k8s.yaml, playbooks/roles/alerta_k8s
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-dashboards: any of: inventory/, playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy
