Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-manage-github, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

system-config-build-image-graphite-statsd:
  description: Build a graphite-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-upload-image-graphite-statsd:
  description: Build and upload a graphite-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-apimon-scheduler:
  parent: infra-prod-service-base
  description: Run service-apimon-scheduler.yaml playbook.
  vars:
    playbook_name: service-apimon-scheduler.yaml

infra-prod-service-apimon-executor:
  parent: infra-prod-service-base
  description: Run service-apimon-executor.yaml playbook.
  vars:
    playbook_name: service-apimon-executor.yaml

infra-prod-service-graphite:
  parent: infra-prod-service-base
  description: Run service-graphite.yaml playbook.
  vars:
    playbook_name: service-graphite.yaml

infra-prod-service-memcached:
  parent: infra-prod-service-base
  description: Run service-memcached.yaml playbook.
  vars:
    playbook_name: service-memcached.yaml

infra-prod-service-alerta:
  parent: infra-prod-service-base
  description: Run service-alerta.yaml playbook.
  vars:
    playbook_name: service-alerta.yaml

Fix playbook name for the docs job
  zuul.d/infra-prod.yaml
Due: none

Fix playbook name for the docs job (#170)
  zuul.d/infra-prod.yaml
Due: none

Test proxy changes in inventory
  inventory/service/group_vars/proxy.yaml
  playbooks/roles/haproxy/defaults/main.yaml
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
  playbooks/roles/haproxy/templates/haproxy.service.j2
  playbooks/zuul/templates/gate-groups.yaml.j2
  testinfra/test_proxy.py
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-proxy

Test proxy changes in inventory (#169)
  inventory/service/group_vars/proxy.yaml
  playbooks/roles/haproxy/defaults/main.yaml
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
  playbooks/roles/haproxy/templates/haproxy.service.j2
  playbooks/zuul/templates/gate-groups.yaml.j2
  testinfra/test_proxy.py
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-proxy

Set proper privileges on ssl certs for haproxy 2.4
  playbooks/roles/acme_create_certs/tasks/main.yaml
  playbooks/roles/acme_request_certs/tasks/main.yaml
  playbooks/roles/haproxy/defaults/main.yaml
  playbooks/roles/haproxy/templates/haproxy-statsd.service.j2
  playbooks/roles/haproxy/templates/haproxy.service.j2
Due: system-config-run-base, system-config-run-acme-ssl, system-config-run-proxy

Set proper privileges on ssl certs for haproxy 2.4 (#172)
  playbooks/roles/acme_create_certs/tasks/main.yaml
  playbooks/roles/acme_request_certs/tasks/main.yaml
  playbooks/roles/haproxy/defaults/main.yaml
  playbooks/roles/haproxy/templates/haproxy-statsd.service.j2
  playbooks/roles/haproxy/templates/haproxy.service.j2
Due: system-config-run-base, system-config-run-acme-ssl, system-config-run-proxy

Add new infra cloud
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-identity.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Initial support for managing RDS instances
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-rds.yaml
  playbooks/roles/cloud_rds/defaults/main.yaml
  playbooks/roles/cloud_rds/tasks/destroy.yaml
  playbooks/roles/cloud_rds/tasks/main.yaml
  playbooks/roles/cloud_rds/tasks/provision.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Add DB instance and users creation
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/database-launcher.yaml
  inventory/service/groups.yaml
  playbooks/cloud-rds.yaml
  playbooks/roles/db_pg/README.rst
  playbooks/roles/db_pg/tasks/db.yaml
  playbooks/roles/db_pg/tasks/main.yaml
  playbooks/roles/db_pg/tasks/user.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/service-database.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Add new infra cloud (#171)
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/database-launcher.yaml
  inventory/service/groups.yaml
  playbooks/cloud-identity.yaml
  playbooks/cloud-rds.yaml
  playbooks/roles/cloud_rds/defaults/main.yaml
  playbooks/roles/cloud_rds/tasks/destroy.yaml
  playbooks/roles/cloud_rds/tasks/main.yaml
  playbooks/roles/cloud_rds/tasks/provision.yaml
  playbooks/roles/db_pg/README.rst
  playbooks/roles/db_pg/tasks/db.yaml
  playbooks/roles/db_pg/tasks/main.yaml
  playbooks/roles/db_pg/tasks/user.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/service-database.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Complete migration of the k8 cluster
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Complete migration of the k8 cluster (#173)
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Add initial matrix config
  inventory/service/group_vars/database-launcher.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/db_pg/tasks/db.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Add initial matrix config (#174)
  inventory/service/group_vars/database-launcher.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/db_pg/tasks/db.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Upgrade carbonapi to 0.15.4
  inventory/service/group_vars/carbonapi.yaml
  playbooks/roles/carbonapi/defaults/main.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Upgrade carbonapi to 0.15.4 (#175)
  inventory/service/group_vars/carbonapi.yaml
  playbooks/roles/carbonapi/defaults/main.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

cce integration into sc - role/playbook/inventory
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-cce.yaml
  playbooks/roles/cloud_cce/defaults/main.yaml
  playbooks/roles/cloud_cce/tasks/destroy.yaml
  playbooks/roles/cloud_cce/tasks/main.yaml
  playbooks/roles/cloud_cce/tasks/provision.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Switch to quay image for carbonapi
  inventory/service/group_vars/carbonapi.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Switch to quay image for carbonapi (#178)
  inventory/service/group_vars/carbonapi.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Added elb-eco-infra into inventory + added conditions for loop in loadbalancer role
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/roles/cloud_loadbalancer/tasks/build.yaml
  playbooks/roles/cloud_loadbalancer/tasks/destroy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

added opentelekomcloud/ansible-collection-cloud
  playbooks/install-ansible.yaml
  zuul.d/infra-prod.yaml
Due: infra-prod-install-ansible, system-config-run-base

Update main.yaml
  playbooks/roles/cloud_cce/defaults/main.yaml
Due: system-config-run-base

Added elb-eco-infra into inventory + added conditions for loop in loadbalancer role (#179)
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/roles/cloud_loadbalancer/tasks/build.yaml
  playbooks/roles/cloud_loadbalancer/tasks/destroy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Deploy matrix into k8
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/matrix.yaml
  inventory/service/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/roles/matrix/README.rst
  playbooks/roles/matrix/defaults/main.yaml
  playbooks/roles/matrix/tasks/k8s.yaml
  playbooks/roles/matrix/tasks/main.yaml
  playbooks/roles/matrix/templates/homeserver.yaml.j2
  playbooks/roles/matrix/templates/log.config.j2
  playbooks/roles/matrix/templates/signing.key.j2
  playbooks/service-matrix.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Deploy matrix into k8 (#177)
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/matrix.yaml
  inventory/service/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/roles/matrix/README.rst
  playbooks/roles/matrix/defaults/main.yaml
  playbooks/roles/matrix/tasks/k8s.yaml
  playbooks/roles/matrix/tasks/main.yaml
  playbooks/roles/matrix/templates/homeserver.yaml.j2
  playbooks/roles/matrix/templates/log.config.j2
  playbooks/roles/matrix/templates/signing.key.j2
  playbooks/service-matrix.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Update Grafana to 8.0.1
  inventory/service/group_vars/grafana.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

add required project into test jobs
  zuul.d/system-config-run.yaml
Due: none

Update Grafana to 8.0.1 (#180)
  inventory/service/group_vars/grafana.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

fix image tag
  inventory/service/group_vars/grafana.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, roles/alerta/
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, roles/grafana/
  infra-prod-manage-github: any of: playbooks/manage-github.yaml, playbooks/roles/gitcontrol, playbooks/templates/github/default_zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy
