Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, system-config-build-image-zuul, system-config-upload-image-zuul, infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-grafana-dashboards, infra-prod-grafana-datasources, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-build-image-zuul: any of: docker/zuul
  system-config-upload-image-zuul: any of: docker/zuul
  infra-prod-bootstrap-bridge: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/boostrap-bridge.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-gitea: any of: inventory/, playbooks/service-gitea.yaml, playbooks/roles/gitea/
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-cloudmon: any of: inventory/, playbooks/service-cloudmon.yaml, playbooks/roles/cloudmon_plugin
  infra-prod-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-grafana-datasources: any of: playbooks/grafana-datasources.yaml, playbooks/roles/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-vault: any of: inventory/, playbooks/service-vault.yaml, playbooks/roles/hashivault
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-service-octavia-proxy: any of: inventory/service/group_vars/k8s-controller.yaml, inventory/service/group_vars/all.yaml, playbooks/service-octavia-proxy.yaml, playbooks/roles/octavia_proxy
  infra-prod-service-opensearch: any of: inventory/, playbooks/service-opensearch.yaml, playbooks/roles/opensearch
  infra-prod-service-loki: any of: inventory/service/group_vars/k8s-controller.yaml, playbooks/service-loki.yaml, playbooks/roles/loki
  infra-prod-propose-update: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-stable: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-latest: unless all of: inventory/service/group_vars/zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy

add task to manage ldap host entry for gitea (#616)
  playbooks/roles/gitea/tasks/main.yaml
Due: infra-prod-service-gitea, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

enable smtp auth for grafana fetching secrets from vault
  playbooks/roles/grafana/templates/grafana-secret.yaml.j2
  playbooks/roles/grafana/templates/vault-agent-config.hcl.j2
Due: infra-prod-grafana-datasources, infra-prod-service-grafana, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-grafana

enable smtp auth for grafana fetching secrets from vault (#617)
  playbooks/roles/grafana/templates/grafana-secret.yaml.j2
  playbooks/roles/grafana/templates/vault-agent-config.hcl.j2
Due: infra-prod-grafana-datasources, infra-prod-service-grafana, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-grafana

first version of keycloak implementation
  inventory/base/hosts.yaml
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/keycloak.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/keycloak1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/acme_create_certs/handlers/restart-keycloak.yaml
  playbooks/roles/acme_create_certs/tasks/main.yaml
  playbooks/roles/keycloak/README.rst
  playbooks/roles/keycloak/defaults/main.yaml
  playbooks/roles/keycloak/handlers/main.yaml
  playbooks/roles/keycloak/tasks/main.yaml
  playbooks/roles/keycloak/templates/env.j2
  playbooks/roles/keycloak/templates/keycloak.service.j2
  playbooks/roles/keycloak/vars/Debian.yaml
  playbooks/roles/keycloak/vars/RedHat.yaml
  playbooks/roles/keycloak/vars/Ubuntu.jammy.yaml
  playbooks/service-keycloak.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-acme-ssl

added test job for keycloak
  playbooks/roles/keycloak/defaults/main.yaml
  playbooks/roles/keycloak/templates/env.j2
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/keycloak.yaml.j2
  testinfra/test_keycloak.py
  zuul.d/project.yaml
  zuul.d/system-config-run.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

added missing var to check job
  playbooks/zuul/templates/group_vars/keycloak.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

fix check job by adding option to enable/disable https
  playbooks/roles/keycloak/defaults/main.yaml
  playbooks/roles/keycloak/templates/env.j2
  playbooks/roles/keycloak/templates/keycloak.service.j2
  playbooks/zuul/templates/group_vars/keycloak.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

fix for handler
  playbooks/roles/acme_create_certs/handlers/main.yaml
Due: infra-prod-service-acme-ssl, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-acme-ssl

first version of keycloak implementation (#618)
  inventory/base/hosts.yaml
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/keycloak.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/keycloak1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/acme_create_certs/handlers/main.yaml
  playbooks/roles/acme_create_certs/handlers/restart-keycloak.yaml
  playbooks/roles/acme_create_certs/tasks/main.yaml
  playbooks/roles/keycloak/README.rst
  playbooks/roles/keycloak/defaults/main.yaml
  playbooks/roles/keycloak/handlers/main.yaml
  playbooks/roles/keycloak/tasks/main.yaml
  playbooks/roles/keycloak/templates/env.j2
  playbooks/roles/keycloak/templates/keycloak.service.j2
  playbooks/roles/keycloak/vars/Debian.yaml
  playbooks/roles/keycloak/vars/RedHat.yaml
  playbooks/roles/keycloak/vars/Ubuntu.jammy.yaml
  playbooks/service-keycloak.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/keycloak.yaml.j2
  testinfra/test_keycloak.py
  zuul.d/project.yaml
  zuul.d/system-config-run.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-acme-ssl

cors setting for keycloak + increased limits for ram of zuul-web
  inventory/service/group_vars/proxy.yaml
  playbooks/roles/zuul_k8s/defaults/main.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

cors setting for keycloak + increased limits for ram of zuul-web (#619)
  inventory/service/group_vars/proxy.yaml
  playbooks/roles/zuul_k8s/defaults/main.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

update gitea to 1.17.0
  playbooks/roles/gitea/defaults/main.yaml
Due: infra-prod-service-gitea, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

update gitea to 1.17.0 (#620)
  playbooks/roles/gitea/defaults/main.yaml
Due: infra-prod-service-gitea, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

initial role to manage keycloak config
  inventory/service/groups.yaml
  playbooks/configure-keycloak.yaml
  playbooks/roles/configure_keycloak/README.rst
  playbooks/roles/configure_keycloak/defaults/main.yaml
  playbooks/roles/configure_keycloak/tasks/assign_users.yaml
  playbooks/roles/configure_keycloak/tasks/client.yaml
  playbooks/roles/configure_keycloak/tasks/client_rolemapping.yaml
  playbooks/roles/configure_keycloak/tasks/client_scope.yaml
  playbooks/roles/configure_keycloak/tasks/group.yaml
  playbooks/roles/configure_keycloak/tasks/group_membership.yaml
  playbooks/roles/configure_keycloak/tasks/identity_provider.yaml
  playbooks/roles/configure_keycloak/tasks/main.yaml
  playbooks/roles/configure_keycloak/tasks/realm.yaml
  playbooks/roles/configure_keycloak/tasks/role.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

allowed bridge to be in keycloak-controller group
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

initial role to manage keycloak config (#621)
  inventory/service/groups.yaml
  playbooks/configure-keycloak.yaml
  playbooks/roles/configure_keycloak/README.rst
  playbooks/roles/configure_keycloak/defaults/main.yaml
  playbooks/roles/configure_keycloak/tasks/assign_users.yaml
  playbooks/roles/configure_keycloak/tasks/client.yaml
  playbooks/roles/configure_keycloak/tasks/client_rolemapping.yaml
  playbooks/roles/configure_keycloak/tasks/client_scope.yaml
  playbooks/roles/configure_keycloak/tasks/group.yaml
  playbooks/roles/configure_keycloak/tasks/group_membership.yaml
  playbooks/roles/configure_keycloak/tasks/identity_provider.yaml
  playbooks/roles/configure_keycloak/tasks/main.yaml
  playbooks/roles/configure_keycloak/tasks/realm.yaml
  playbooks/roles/configure_keycloak/tasks/role.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

new vault openstack plugin version
  inventory/service/group_vars/vault.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

added option to pass java keystore with ldap ca cert included to KC
  playbooks/roles/keycloak/tasks/main.yaml
  playbooks/roles/keycloak/templates/keycloak.service.j2
  playbooks/roles/keycloak/vars/Debian.yaml
  playbooks/roles/keycloak/vars/RedHat.yaml
  playbooks/roles/keycloak/vars/Ubuntu.jammy.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

added option to pass java keystore with ldap ca cert included to KC (#622)
  playbooks/roles/keycloak/tasks/main.yaml
  playbooks/roles/keycloak/templates/keycloak.service.j2
  playbooks/roles/keycloak/vars/Debian.yaml
  playbooks/roles/keycloak/vars/RedHat.yaml
  playbooks/roles/keycloak/vars/Ubuntu.jammy.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

adding playbook + tasks to configure vault custom plugins
  inventory/service/group_vars/vault.yaml
  playbooks/configure-vault-plugins.yaml
  playbooks/roles/hashivault/tasks/configure_plugins.yaml
  playbooks/roles/hashivault/tasks/main.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

vault plugin upgrade (#623)
  inventory/service/group_vars/vault.yaml
  playbooks/configure-vault-plugins.yaml
  playbooks/roles/hashivault/tasks/configure_plugins.yaml
  playbooks/roles/hashivault/tasks/main.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

changed URI according to latest plugin version for cloud/role + static_role support
  playbooks/roles/configure_vault/tasks/main.yaml
  playbooks/roles/configure_vault/tasks/os_cloud.yaml
  playbooks/roles/configure_vault/tasks/os_role.yaml
  playbooks/roles/configure_vault/tasks/os_static_role.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

changed URI according to latest plugin version for cloud/role + static_role support (#624)
  playbooks/roles/configure_vault/tasks/main.yaml
  playbooks/roles/configure_vault/tasks/os_cloud.yaml
  playbooks/roles/configure_vault/tasks/os_role.yaml
  playbooks/roles/configure_vault/tasks/os_static_role.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

added user_federation to kc configuration
  playbooks/roles/configure_keycloak/tasks/client.yaml
  playbooks/roles/configure_keycloak/tasks/main.yaml
  playbooks/roles/configure_keycloak/tasks/user_federation.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

copy base javacert only if it does not exist to avoid unnecessary restart
  playbooks/roles/keycloak/tasks/main.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

copy base javacert only if it does not exist to avoid unnecessary restart (#626)
  playbooks/roles/keycloak/tasks/main.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

disable sbb from apimon
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

added user_federation to kc configuration (#625)
  playbooks/roles/configure_keycloak/tasks/client.yaml
  playbooks/roles/configure_keycloak/tasks/main.yaml
  playbooks/roles/configure_keycloak/tasks/user_federation.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

disable sbb from apimon (#627)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest
