Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-manage-github, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

system-config-build-image-graphite-statsd:
  description: Build a graphite-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-upload-image-graphite-statsd:
  description: Build and upload a graphite-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-build-image-haproxy-statsd:
  description: Build a haproxy-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/haproxy-statsd
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-upload-image-haproxy-statsd:
  description: Build and upload a haproxy-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/haproxy-statsd
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main
  - name: github.com/opentelekomcloud/ansible-collection-cloud
  ...

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-x509-cert:
  parent: infra-prod-service-base
  description: Run x509-certs.yaml playbook.
  vars:
    playbook_name: x509-certs.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-alerta:
  parent: infra-prod-service-base
  description: Run service-alerta.yaml playbook.
  vars:
    playbook_name: service-alerta.yaml

added loki chart instance + loki role to expose loki with ingress+auth+tls
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/loki/defaults/main.yml
  playbooks/roles/loki/tasks/main.yml
  playbooks/roles/loki/templates/loki-basic-auth-secret.yaml.j2
  playbooks/roles/loki/templates/loki-ingress.yaml.j2
  playbooks/templates/charts/loki/loki-values.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

add zuul auth config section rendering
  playbooks/roles/zuul_k8s/templates/zuul.conf.j2
Due: infra-prod-service-zuul, system-config-run-base

add zuul auth config section rendering (#272)
  playbooks/roles/zuul_k8s/templates/zuul.conf.j2
Due: infra-prod-service-zuul, system-config-run-base

Scale up zuul executor limits
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Scale up zuul executor limits (#273)
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

added playbook for loki + inventory values for both loki+promtail
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/promtail.yaml
  playbooks/service-loki.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

inventory variables for loki+promtail
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/templates/charts/promtail/promtail-values.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

adding log-path to promtail service file
  playbooks/roles/promtail/templates/promtail.service.j2
Due: system-config-run-base

adding README.rst
  playbooks/roles/loki/README.rst
  playbooks/roles/promtail/README.rst
Due: system-config-run-base

adding proxy config
  inventory/service/group_vars/proxy.yaml
  inventory/service/host_vars/proxy1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

changing pvc to sas / adding promtail to otcci / adding promtail to other VMs
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/groups.yaml
  playbooks/templates/charts/loki/loki-values.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Loki + promtail (#274)
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/promtail.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy1.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/proxy2.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/loki/README.rst
  playbooks/roles/loki/defaults/main.yml
  playbooks/roles/loki/tasks/main.yml
  playbooks/roles/loki/templates/loki-basic-auth-secret.yaml.j2
  playbooks/roles/loki/templates/loki-ingress.yaml.j2
  playbooks/roles/promtail/README.rst
  playbooks/roles/promtail/defaults/main.yml
  playbooks/roles/promtail/handlers/main.yml
  playbooks/roles/promtail/tasks/main.yml
  playbooks/roles/promtail/templates/config.yml.j2
  playbooks/roles/promtail/templates/promtail.service.j2
  playbooks/roles/promtail/vars/Debian.yaml
  playbooks/roles/promtail/vars/RedHat.yaml
  playbooks/service-loki.yaml
  playbooks/service-promtail.yaml
  playbooks/templates/charts/loki/loki-values.yaml.j2
  playbooks/templates/charts/promtail/promtail-values.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

drop reference to old apimon users
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
Due: infra-prod-service-bridge, system-config-run-base

added all VMs to promtail group
  inventory/service/groups.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

allowing bridge to be in promtail group
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: infra-prod-install-ansible, system-config-run-base

added all VMs to promtail group (#276)
  inventory/service/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Add swift_proxy deployment
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/cloud_loadbalancer/tasks/build.yaml
  playbooks/roles/swift_proxy/README.rst
  playbooks/roles/swift_proxy/defaults/main.yaml
  playbooks/roles/swift_proxy/tasks/k8s.yaml
  playbooks/service-swift-proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

Adapt SSL setting of haproxy
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
Due: infra-prod-service-proxy, system-config-run-base, system-config-run-proxy

Adapt SSL setting of haproxy (#278)
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
Due: infra-prod-service-proxy, system-config-run-base, system-config-run-proxy

update zuul version
  inventory/service/group_vars/zuul.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update zuul version (#280)
  inventory/service/group_vars/zuul.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Add swift_proxy deployment (#277)
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/cloud_loadbalancer/tasks/build.yaml
  playbooks/roles/swift_proxy/README.rst
  playbooks/roles/swift_proxy/defaults/main.yaml
  playbooks/roles/swift_proxy/tasks/k8s.yaml
  playbooks/service-swift-proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

changed octavia proxy image version to 61
  inventory/service/group_vars/k8s-controller.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

changed octavia proxy image version to 61 (#281)
  inventory/service/group_vars/k8s-controller.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Add update_tag script
  tools/update_tag.py
Due: none

Update descriptions
  tools/update_tag.py
Due: none

bringing back tlsv1.2 due to incompatibility on older OS versions
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
Due: infra-prod-service-proxy, system-config-run-base, system-config-run-proxy

bringing back tlsv1.2 due to incompatibility on older OS versions (#283)
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
Due: infra-prod-service-proxy, system-config-run-base, system-config-run-proxy

Prepare docs-int
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-identity.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

finalize docs-int
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/document_hosting_k8s/defaults/main.yaml
  playbooks/roles/document_hosting_k8s/tasks/main.yaml
  playbooks/roles/swift_proxy/defaults/main.yaml
  playbooks/roles/swift_proxy/tasks/k8s.yaml
  playbooks/service-docs.yaml
  playbooks/templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2
  playbooks/templates/docs_hosting/nginx-internal.conf.j2
  playbooks/templates/docs_hosting/nginx-public.conf.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

Prepare docs-int (#279)
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/cloud-identity.yaml
  playbooks/roles/document_hosting_k8s/defaults/main.yaml
  playbooks/roles/document_hosting_k8s/tasks/main.yaml
  playbooks/roles/swift_proxy/defaults/main.yaml
  playbooks/roles/swift_proxy/tasks/k8s.yaml
  playbooks/service-docs.yaml
  playbooks/templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/docs_hosting/nginx-internal.conf.j2
  playbooks/templates/docs_hosting/nginx-public.conf.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-alerta-k8s: any of: inventory/, playbooks/service-alerta-k8s.yaml, playbooks/roles/alerta_k8s
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-dashboards: any of: inventory/, playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-manage-github: any of: playbooks/manage-github.yaml, playbooks/roles/gitcontrol, playbooks/templates/github/default_zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy
