Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-vault-custom, system-config-upload-image-vault-custom, system-config-build-image-vault, system-config-upload-image-vault, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, system-config-build-image-zuul, system-config-upload-image-zuul, infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-grafana-dashboards, infra-prod-grafana-datasources, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, test-acme-certificate-issuance, configure-nginx-acme-support, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy, system-config-run-vault, system-config-run-gitea, system-config-run-keycloak, system-config-run-zookeeper

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-vault-custom: any of: docker/vault-custom/
  system-config-upload-image-vault-custom: any of: docker/vault-custom/
  system-config-build-image-vault: any of: docker/vault/
  system-config-upload-image-vault: any of: docker/vault/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-build-image-zuul: any of: docker/zuul
  system-config-upload-image-zuul: any of: docker/zuul
  infra-prod-bootstrap-bridge: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/boostrap-bridge.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-gitea: any of: inventory/, playbooks/service-gitea.yaml, playbooks/roles/gitea/
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-cloudmon: any of: inventory/, playbooks/service-cloudmon.yaml, playbooks/roles/cloudmon_plugin
  infra-prod-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-grafana-datasources: any of: playbooks/grafana-datasources.yaml, playbooks/roles/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-vault: any of: inventory/, playbooks/service-vault.yaml, playbooks/roles/hashivault
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-service-octavia-proxy: any of: inventory/service/group_vars/k8s-controller.yaml, inventory/service/group_vars/all.yaml, playbooks/service-octavia-proxy.yaml, playbooks/roles/octavia_proxy
  infra-prod-service-opensearch: any of: inventory/, playbooks/service-opensearch.yaml, playbooks/roles/opensearch
  infra-prod-service-loki: any of: inventory/service/group_vars/k8s-controller.yaml, playbooks/service-loki.yaml, playbooks/roles/loki
  infra-prod-propose-update: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-stable: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-latest: unless all of: inventory/service/group_vars/zuul.yaml
  test-acme-certificate-issuance: any of: kubernetes/kustomize/ingress-nginx-patches/.*, playbooks/configure-nginx-acme-support.yaml, kubernetes/helm_charts/local/cert-manager/.*
  configure-nginx-acme-support: any of: kubernetes/kustomize/ingress-nginx-patches/.*, playbooks/configure-nginx-acme-support.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: playbooks/bootstrap-bridge.yaml, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: playbooks/bootstrap-bridge.yaml, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/roles/graphite_web, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: playbooks/bootstrap-bridge.yaml, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-proxy.yaml, playbooks/roles/haproxy, inventory/service/group_vars/proxy.yaml
  system-config-run-vault: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-vault.yaml, playbooks/roles/hashivault, inventory/service/groups.yaml
  system-config-run-gitea: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-gitea.yaml, playbooks/roles/gitea/, testinfra/test_gitea.py
  system-config-run-keycloak: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-keycloak.yaml, playbooks/roles/keycloak/, testinfra/test_keycloak.py
  system-config-run-zookeeper: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper, inventory/service/groups.yaml

new redirections for swiss_public HC portal (#1403)
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/nginx-site.conf
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/application-operations-management
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/auto-scaling
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-backup-recovery
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-container-engine-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-container-engine-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-trace-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/dedicated-host
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/direct-connect
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/domain-name-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-cloud-server
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-ip
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-load-balancing
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-volume-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/identity-access-management
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/image-management-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/key-management-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/log-tank-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/nat-gateway
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/object-storage-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/relational-database-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/relational-database-service-aa
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/relational-database-service-ab
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/simple-message-notification
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/software-repository-container
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/storage-disaster-recovery-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/tag-management-service
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/virtual-private-cloud
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/virtual-private-network
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/vpc-endpoint
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/web-application-firewall-dedicated
  kubernetes/kustomize/docsportal/overlays/helpcenter_swiss_public/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

New schedule
  kubernetes/kustomize/giji/base/cronjob-1-bulk-import.yaml
  kubernetes/kustomize/giji/base/cronjob-2-bug-postgres.yaml
  kubernetes/kustomize/giji/base/cronjob-3-demand-postgres.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Enabling outline wiki (without keycloak) (#1404)
  kubernetes/helm_charts/local/argo-cd/templates/argocd-applications.yaml
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/helm_charts/local/outline/Chart.yaml
  kubernetes/helm_charts/local/outline/templates/NOTES.txt
  kubernetes/helm_charts/local/outline/templates/_helpers.tpl
  kubernetes/helm_charts/local/outline/templates/deployment.yaml
  kubernetes/helm_charts/local/outline/templates/service.yaml
  kubernetes/helm_charts/local/outline/templates/serviceaccount.yaml
  kubernetes/helm_charts/local/outline/values-preprod.yaml
  kubernetes/helm_charts/upstream/argo-cd/values-preprod.yaml
  kubernetes/helm_charts/upstream/outline/Chart.yaml
  kubernetes/helm_charts/upstream/outline/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Giji first build
  kubernetes/kustomize/giji/README.md
  kubernetes/kustomize/giji/base/cronjob-1-bulk-import.yaml
  kubernetes/kustomize/giji/base/cronjob-2-bug-postgres.yaml
  kubernetes/kustomize/giji/base/cronjob-3-demand-postgres.yaml
  kubernetes/kustomize/giji/base/sa.yaml
  kubernetes/kustomize/giji/overlays/prod/kustomization.yaml
  kubernetes/kustomize/giji/overlays/prod/vault-agent.hcl
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Rolling back to working giji
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/kustomize/giji/README.md
  kubernetes/kustomize/giji/base/cronjob-1-bulk-import.yaml
  kubernetes/kustomize/giji/base/cronjob-2-bug-postgres.yaml
  kubernetes/kustomize/giji/base/cronjob-3-demand-postgres.yaml
  kubernetes/kustomize/giji/base/kustomization.yaml
  kubernetes/kustomize/giji/base/secret.yaml
  kubernetes/kustomize/giji/overlays/prod/kustomization.yaml
  kubernetes/kustomize/giji/overlays/prod/vault-agent.hcl
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Schedule
  kubernetes/kustomize/giji/base/cronjob-1-bulk-import.yaml
  kubernetes/kustomize/giji/base/cronjob-2-bug-postgres.yaml
  kubernetes/kustomize/giji/base/cronjob-3-demand-postgres.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

add new user to infra
  inventory/base/group_vars/all.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

add new user to infra (#1405)
  inventory/base/group_vars/all.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update proxy.yaml to hopefully fix wrong redirect
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-proxy

Update proxy.yaml
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-proxy

Update proxy.yaml to hopefully fix wrong redirect (#1406)
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-proxy

chore: update helm chart dependencies
  kubernetes/helm_charts/upstream/cert-exporter/Chart.yaml
  kubernetes/helm_charts/upstream/cert-manager/Chart.yaml
  kubernetes/helm_charts/upstream/grafana/Chart.yaml
  kubernetes/helm_charts/upstream/kube-prometheus-stack/Chart.yaml
  kubernetes/helm_charts/upstream/sealed-secrets/Chart.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-auth/Chart.yaml
  kubernetes/helm_charts/upstream/victoria-metrics-cluster/Chart.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update values for victoriametrics to prevent pprof to be accessible by public
  kubernetes/helm_charts/upstream/victoria-metrics-auth/values-otcinfra.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update values for victoriametrics to prevent pprof to be accessible by public (#1407)
  kubernetes/helm_charts/upstream/victoria-metrics-auth/values-otcinfra.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update grafana latest tag
  inventory/service/group_vars/all.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update grafana.yaml
  inventory/service/group_vars/grafana.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update grafana latest tag (#1408)
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/grafana.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Enabling postgres
  kubernetes/helm_charts/local/postgresql/Chart.yaml
  kubernetes/helm_charts/local/postgresql/templates/pg-hba-configmap.yaml
  kubernetes/helm_charts/local/postgresql/templates/postgresql-tls-certificate.yaml
  kubernetes/helm_charts/local/postgresql/values-preprod.yaml
  kubernetes/helm_charts/upstream/postgresql/Chart.yaml
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fix PostgreSQL pg_hba.conf: use inline pgHbaConfiguration instead of existingConfigmap
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Move pgHbaConfiguration to root level
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Move pgHbaConfiguration to root level - PostgreSQL pg_hba.conf fix
  kubernetes/helm_charts/local/argo-cd/values/preprod/values-argocd-applications.yaml
  kubernetes/helm_charts/local/postgresql/templates/pg-hba-configmap.yaml
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fix PostgreSQL auth: use initdb scripts for user creation with vault refs
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Add initdb ConfigMap template for PostgreSQL user creation with vault refs
  kubernetes/helm_charts/local/postgresql/templates/initdb-configmap.yaml
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Explicitly disable pgaudit with empty string values
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Debug PostgreSQL: disable TLS and simplify configuration
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Fix PostgreSQL TLS CA certificate warning
  kubernetes/helm_charts/local/postgresql/templates/postgresql-tls-certificate.yaml
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Disable PostgreSQL CA certificate requirement
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Simplify PostgreSQL TLS certificate template
  kubernetes/helm_charts/local/postgresql/templates/initdb-configmap.yaml
  kubernetes/helm_charts/local/postgresql/templates/postgresql-tls-certificate.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

fix: Use minimal PostgreSQL configuration to resolve initdb issues
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

feat: Add basic security context to PostgreSQL
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

feat: Enable TLS encryption for PostgreSQL
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

feat: Add pg_hba.conf authentication configuration
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

feat: Add basic PostgreSQL configuration settings
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

fix: Configure PostgreSQL to use correct TLS certificate paths
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

fix: Temporarily disable TLS to resolve certificate path issues
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

feat: Add pgaudit logging for security compliance
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

feat: Add custom user creation with initdb scripts
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

feat: Restore environment variables for user creation
  kubernetes/helm_charts/upstream/postgresql/values-preprod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest
