Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-manage-github, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, roles/alerta/
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, roles/grafana/
  infra-prod-manage-github: any of: playbooks/manage-github.yaml, playbooks/roles/gitcontrol, playbooks/templates/github/default_zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy

disabled production_2 apimon k8s instance (#142)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Add graphite webapp
  inventory/service/groups.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/graphite/templates/docker-compose.yaml.j2
  playbooks/roles/graphite_web/README.rst
  playbooks/roles/graphite_web/defaults/main.yaml
  playbooks/roles/graphite_web/handlers/main.yaml
  playbooks/roles/graphite_web/tasks/main.yaml
  playbooks/roles/graphite_web/templates/env.j2
  playbooks/roles/graphite_web/templates/graphite-statsd.conf.j2
  playbooks/roles/graphite_web/templates/graphite-web.service.j2
  playbooks/roles/graphite_web/vars/Debian.yaml
  playbooks/roles/graphite_web/vars/RedHat.yaml
  playbooks/service-graphite.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-graphite

Fix graphite-web deployment
  playbooks/roles/graphite/defaults/main.yaml
  playbooks/roles/graphite_web/defaults/main.yaml
  playbooks/roles/graphite_web/templates/graphite-web.service.j2
Due: system-config-run-base, system-config-run-graphite

fix ssh user for graphite3
  inventory/base/hosts.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Expose only ssl for graphite-web
  playbooks/roles/graphite_web/templates/graphite-web.service.j2
Due: system-config-run-base, system-config-run-graphite

fix of dumb error
  playbooks/roles/gitcontrol/tasks/teams-present.yml
Due: infra-prod-manage-github, system-config-run-base

fix of dumb error (#146)
  playbooks/roles/gitcontrol/tasks/teams-present.yml
Due: infra-prod-manage-github, system-config-run-base

dashboard title fix
  playbooks/templates/grafana/apimon/compute.yaml.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

dashboard title fix (#147)
  playbooks/templates/grafana/apimon/compute.yaml.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

Add graphite-web in k8
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/graphite_web/defaults/main.yaml
  playbooks/roles/graphite_web/templates/env.j2
  playbooks/roles/graphite_web_k8s/defaults/main.yaml
  playbooks/roles/graphite_web_k8s/tasks/main.yaml
  playbooks/roles/graphite_web_k8s/templates/graphite-statsd.conf.j2
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/service-graphite.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/k8s-controller.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-graphite

disable readiness check for zuul scheduler
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
Due: system-config-run-base

Add gitstyring into trusted projects
  inventory/base/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Add graphite-web in k8 (#148)
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/graphite_web/defaults/main.yaml
  playbooks/roles/graphite_web/templates/env.j2
  playbooks/roles/graphite_web_k8s/defaults/main.yaml
  playbooks/roles/graphite_web_k8s/tasks/main.yaml
  playbooks/roles/graphite_web_k8s/templates/graphite-statsd.conf.j2
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/service-graphite.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/k8s-controller.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-graphite

rate limit catching
  playbooks/roles/gitcontrol/files/github_api.py
Due: infra-prod-manage-github, system-config-run-base

Enabled further apimon tests for eu-nl region
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

enabling apimon2 for further testing
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

enabling apimon2 for further testing (#152)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

rate limit catching (#150)
  playbooks/roles/gitcontrol/files/github_api.py
Due: infra-prod-manage-github, system-config-run-base

Enabled further apimon tests for eu-nl region (#151)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

get rid of using env variables and 401 catching
  playbooks/roles/gitcontrol/files/github_api.py
Due: infra-prod-manage-github, system-config-run-base

add github_token to script
  playbooks/roles/gitcontrol/tasks/repo-present.yml
  playbooks/roles/gitcontrol/tasks/teams-present.yml
Due: infra-prod-manage-github, system-config-run-base

get rid of using env variables and 401 catching (#155)
  playbooks/roles/gitcontrol/files/github_api.py
  playbooks/roles/gitcontrol/tasks/repo-present.yml
  playbooks/roles/gitcontrol/tasks/teams-present.yml
Due: infra-prod-manage-github, system-config-run-base

initial commit for document-hosting service
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/document_hosting_k8s/defaults/main.yaml
  playbooks/roles/document_hosting_k8s/tasks/main.yaml
  playbooks/roles/document_hosting_k8s/templates/custom_404.html.j2
  playbooks/roles/document_hosting_k8s/templates/nginx-site.conf.j2
  playbooks/service-document-hosting-k8s.yaml
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base
