Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-alerta-k8s: any of: inventory/, playbooks/service-alerta-k8s.yaml, playbooks/roles/alerta_k8s
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-dashboards: any of: inventory/, playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy

Fix typo in the zk cm (#414)
  playbooks/roles/zookeeper/templates/k8s_config.yaml.j2
Due: infra-prod-service-zookeeper, system-config-run-base

Add zuul-client k8 deployment
  playbooks/roles/zuul_k8s/tasks/zuul-client.yaml
  playbooks/roles/zuul_k8s/tasks/zuul.yaml
Due: infra-prod-service-zuul, system-config-run-base

Update Grafana to 8.3.3
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Fix further review comments
  doc/source/zuul.rst
Due: none

Add zuul-client k8 deployment (#415)
  playbooks/roles/zuul_k8s/tasks/zuul-client.yaml
  playbooks/roles/zuul_k8s/tasks/zuul.yaml
Due: infra-prod-service-zuul, system-config-run-base

Extend document describing Zuul (#409)
  doc/source/_images/ansible.png
  doc/source/_images/designate.png
  doc/source/_images/elb-network-load-balancer.png
  doc/source/_images/git.png
  doc/source/_images/github.png
  doc/source/_images/gitlab.png
  doc/source/_images/grafana.png
  doc/source/_images/helm.png
  doc/source/_images/internet.png
  doc/source/_images/k8/cm.png
  doc/source/_images/k8/pvc.png
  doc/source/_images/k8/secret.png
  doc/source/_images/k8/sts.png
  doc/source/_images/k8/svc.png
  doc/source/_images/keystone.png
  doc/source/_images/loki.png
  doc/source/_images/memcached.png
  doc/source/_images/neutron.png
  doc/source/_images/nova.png
  doc/source/_images/octavia.png
  doc/source/_images/openstack.png
  doc/source/_images/openstackclient.png
  doc/source/_images/postgresql.png
  doc/source/_images/swift.png
  doc/source/_images/vault.png
  doc/source/_images/zookeeper.png
  doc/source/_images/zuulci.png
  doc/source/systems.rst
  doc/source/zuul.rst
  tools/generate-diagrams.py
Due: none

Update Zuul to 4.11
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-web.yaml
  playbooks/roles/zuul_k8s/templates/zuul.conf.hcl.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Update Zuul to 4.11 (#417)
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-web.yaml
  playbooks/roles/zuul_k8s/templates/zuul.conf.hcl.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Update Grafana to 8.3.3 (#416)
  inventory/service/group_vars/all.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

disable EUM apimon testing
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

disable EUM apimon testing (#420)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Add grafana-datasources job
  inventory/service/groups.yaml
  playbooks/grafana-datasources.yaml
  playbooks/roles/grafana/tasks/import_ds.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

Improve hcl template handling
  playbooks/roles/x509_vault/tasks/cert.yaml
  playbooks/roles/zookeeper/tasks/k8s.yaml
  playbooks/roles/zookeeper/templates/k8s_config.yaml.j2
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-config.yaml
  playbooks/roles/zuul_k8s/templates/vault-agent-config.hcl.j2
  playbooks/roles/zuul_k8s/templates/zuul.conf.hcl.j2
  playbooks/templates/clouds/nodepool_clouds.hcl.j2
Due: infra-prod-service-bridge, infra-prod-service-zuul, infra-prod-service-zookeeper, system-config-run-base

Add grafana-datasources job (#422)
  inventory/service/groups.yaml
  playbooks/grafana-datasources.yaml
  playbooks/roles/grafana/tasks/import_ds.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

Improve hcl template handling (#421)
  playbooks/roles/x509_vault/tasks/cert.yaml
  playbooks/roles/zookeeper/tasks/k8s.yaml
  playbooks/roles/zookeeper/templates/k8s_config.yaml.j2
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-config.yaml
  playbooks/roles/zuul_k8s/templates/vault-agent-config.hcl.j2
  playbooks/roles/zuul_k8s/templates/zuul.conf.hcl.j2
  playbooks/templates/clouds/nodepool_clouds.hcl.j2
Due: infra-prod-service-bridge, infra-prod-service-zuul, infra-prod-service-zookeeper, system-config-run-base

Disable old zuul_zk hosts
  inventory/base/hosts.yaml
  inventory/service/groups.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/host_vars/zk.fedora.yaml.j2
  testinfra/test_zookeeper.py
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Add support for adding vault plugins
  playbooks/roles/hashivault/defaults/main.yaml
  playbooks/roles/hashivault/tasks/main.yaml
  playbooks/roles/hashivault/templates/vault.hcl.j2
  playbooks/service-vault.yaml
Due: system-config-run-base

Disable old zuul_zk hosts (#418)
  inventory/base/hosts.yaml
  inventory/service/groups.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/host_vars/zk.fedora.yaml.j2
  testinfra/test_zookeeper.py
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Allow sc2 project to use bridge
  inventory/base/group_vars/all.yaml
  playbooks/roles/install-ansible/templates/ansible.cfg.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Add support for adding vault plugins (#423)
  playbooks/roles/hashivault/defaults/main.yaml
  playbooks/roles/hashivault/tasks/main.yaml
  playbooks/roles/hashivault/templates/vault.hcl.j2
  playbooks/service-vault.yaml
Due: system-config-run-base

Add vault plugins
  inventory/service/group_vars/vault.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Update ansible.cfg.j2
  playbooks/roles/install-ansible/templates/ansible.cfg.j2
Due: infra-prod-install-ansible, system-config-run-base

Add vault plugins (#425)
  inventory/service/group_vars/vault.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Allow sc2 project to use bridge (#424)
  inventory/base/group_vars/all.yaml
  playbooks/roles/install-ansible/templates/ansible.cfg.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Use projected-volume token for zuul
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-client.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-executor.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-merger.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-web.yaml
Due: infra-prod-service-zuul, system-config-run-base

Audit role (#413)
  playbooks/base.yaml
  playbooks/roles/base/audit/README.rst
  playbooks/roles/base/audit/defaults/main.yaml
  playbooks/roles/base/audit/handlers/main.yaml
  playbooks/roles/base/audit/tasks/main.yaml
  playbooks/roles/base/audit/templates/audit-rules.j2
  playbooks/roles/base/audit/vars/Debian.yaml
  playbooks/roles/base/audit/vars/RedHat.yaml
  playbooks/roles/base/server/tasks/main.yaml
  playbooks/roles/base/server/vars/Debian.yaml
  playbooks/roles/base/server/vars/RedHat.yaml
  playbooks/roles/base/server/vars/Ubuntu.trusty.yaml
  playbooks/roles/base/server/vars/Ubuntu.xenial.yaml
Due: infra-prod-base, system-config-run-base

audit typo fix
  playbooks/roles/base/audit/defaults/main.yaml
Due: infra-prod-base, system-config-run-base

audit typo fix (#427)
  playbooks/roles/base/audit/defaults/main.yaml
Due: infra-prod-base, system-config-run-base
