Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-manage-github, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

system-config-build-image-graphite-statsd:
  description: Build a graphite-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-upload-image-graphite-statsd:
  description: Build and upload a graphite-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main
  - name: github.com/opentelekomcloud/ansible-collection-cloud
  ...

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-x509-cert:
  parent: infra-prod-service-base
  description: Run x509-certs.yaml playbook.
  vars:
    playbook_name: x509-certs.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-apimon-scheduler:
  parent: infra-prod-service-base
  description: Run service-apimon-scheduler.yaml playbook.
  vars:
    playbook_name: service-apimon-scheduler.yaml

infra-prod-service-apimon-executor:
  parent: infra-prod-service-base
  description: Run service-apimon-executor.yaml playbook.
  vars:
    playbook_name: service-apimon-executor.yaml

infra-prod-service-apimon-k8s:
  parent: infra-prod-service-base
  description: Run service-apimon-k8s.yaml playbook.
  vars:
    playbook_name: service-apimon-k8s.yaml

infra-prod-service-graphite:
  parent: infra-prod-service-base
  description: Run service-graphite.yaml playbook.
  vars:
    playbook_name: service-graphite.yaml

added dashboard instance on otcinfra-mirror
  inventory/service/group_vars/grafana.yaml
  inventory/service/group_vars/proxy.yaml
  playbooks/roles/grafana/tasks/k8s.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

added dashboard instance on otcinfra-mirror (#206)
  inventory/service/group_vars/grafana.yaml
  inventory/service/group_vars/proxy.yaml
  playbooks/roles/grafana/tasks/k8s.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-grafana

alerta rework
  inventory/service/group_vars/alerta.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/alerta/defaults/main.yaml
  playbooks/roles/alerta_k8s/defaults/main.yaml
  playbooks/roles/alerta_k8s/tasks/main.yaml
  playbooks/roles/alerta_k8s/templates/alerta-deployment.yaml.j2
  playbooks/roles/alerta_k8s/templates/alerta-ingress.yaml.j2
  playbooks/roles/alerta_k8s/templates/alerta-service.yaml.j2
  playbooks/service-alerta.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-alerta

alerta rework
  playbooks/roles/alerta/tasks/k8s.yaml
  playbooks/roles/alerta/templates/alerta-deployment.yaml.j2
  playbooks/roles/alerta/templates/alerta-ingress.yaml.j2
  playbooks/roles/alerta/templates/alerta-service.yaml.j2
Due: infra-prod-service-alerta, system-config-run-base, system-config-run-alerta

Update apimon stg to change_24
  inventory/service/group_vars/apimon.yaml
  playbooks/roles/apimon_k8s/tasks/main.yaml
  playbooks/service-apimon-epmon.yaml
  playbooks/service-apimon-executor.yaml
  playbooks/service-apimon-k8s.yaml
  playbooks/service-apimon-scheduler.yaml
  playbooks/zuul/templates/group_vars/apimon-clouds.yaml.j2
  playbooks/zuul/templates/group_vars/apimon.yaml.j2
  testinfra/test_epmon.py
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor

Add tags into zuul playbooks/role
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/statsd.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
  playbooks/roles/zuul_k8s/tasks/zuul.yaml
  playbooks/service-zuul-k8s.yaml
Due: infra-prod-service-zuul, system-config-run-base

Update apimon stg to change_24 (#205)
  inventory/service/group_vars/apimon.yaml
  playbooks/roles/apimon_k8s/tasks/main.yaml
  playbooks/service-apimon-epmon.yaml
  playbooks/service-apimon-executor.yaml
  playbooks/service-apimon-k8s.yaml
  playbooks/service-apimon-scheduler.yaml
  playbooks/zuul/templates/group_vars/apimon-clouds.yaml.j2
  playbooks/zuul/templates/group_vars/apimon.yaml.j2
  testinfra/test_epmon.py
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor

Alerta rework (#207)
  inventory/service/group_vars/alerta.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/alerta/defaults/main.yaml
  playbooks/roles/alerta/tasks/k8s.yaml
  playbooks/roles/alerta/templates/alerta-deployment.yaml.j2
  playbooks/roles/alerta/templates/alerta-ingress.yaml.j2
  playbooks/roles/alerta/templates/alerta-service.yaml.j2
  playbooks/roles/alerta_k8s/defaults/main.yaml
  playbooks/service-alerta.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-alerta

added apimon_image to cr definition
  inventory/service/group_vars/apimon.yaml
  playbooks/roles/apimon_k8s/tasks/main.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

added apimon_image to cr definition (#209)
  inventory/service/group_vars/apimon.yaml
  playbooks/roles/apimon_k8s/tasks/main.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

service-alerta-k8s.yaml is not needed anymore
  playbooks/service-alerta-k8s.yaml
Due: infra-prod-service-alerta-k8s, system-config-run-base

service-alerta-k8s.yaml is not needed anymore (#210)
  playbooks/service-alerta-k8s.yaml
Due: infra-prod-service-alerta-k8s, system-config-run-base

Add tags into zuul playbooks/role (#208)
  playbooks/roles/zuul_k8s/tasks/main.yaml
  playbooks/roles/zuul_k8s/tasks/nodepool.yaml
  playbooks/roles/zuul_k8s/tasks/statsd.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
  playbooks/roles/zuul_k8s/tasks/zuul.yaml
  playbooks/service-zuul-k8s.yaml
Due: infra-prod-service-zuul, system-config-run-base

Add CES service to the dashboard
  playbooks/templates/grafana/apimon/kpi.yaml.j2
Due: infra-prod-service-grafana-dashboards, infra-prod-dashboards, system-config-run-base

Remove not working panel from compute kpi dashboard
  playbooks/templates/grafana/apimon/_kpi_compute.yaml.j2
Due: infra-prod-service-grafana-dashboards, infra-prod-dashboards, system-config-run-base

Add CES service to the dashboard (#211)
  playbooks/templates/grafana/apimon/kpi.yaml.j2
Due: infra-prod-service-grafana-dashboards, infra-prod-dashboards, system-config-run-base

ecs kpi (#212)
  playbooks/templates/grafana/apimon/_kpi_compute.yaml.j2
Due: infra-prod-service-grafana-dashboards, infra-prod-dashboards, system-config-run-base

Add docs
  doc/requirements.txt
  doc/source/bridge.rst
  doc/source/conf.py
  doc/source/custom_roles.py
  doc/source/docsportal.rst
  doc/source/index.rst
  doc/source/matrix.rst
  doc/source/roles.rst
  doc/source/systems.rst
  doc/source/zuul.rst
  playbooks/roles/acme_create_certs/README.rst
  playbooks/roles/acme_drop_txt_records/README.rst
  playbooks/roles/acme_install_txt_records/README.rst
  playbooks/roles/acme_request_certs/README.rst
  playbooks/roles/alerta/README.rst
  playbooks/roles/apimon_k8s/README.rst
  playbooks/roles/cloud_cce/README.rst
  playbooks/roles/cloud_host/README.rst
  playbooks/roles/cloud_identity/README.rst
  playbooks/roles/cloud_loadbalancer/README.rst
  playbooks/roles/cloud_loadbalancer_cert/README.rst
  playbooks/roles/cloud_natgw/README.rst
  playbooks/roles/cloud_net/README.rst
  playbooks/roles/cloud_rds/README.rst
  playbooks/roles/cloud_sg/README.rst
  playbooks/roles/cloud_vpcp/README.rst
  playbooks/roles/document_hosting_k8s/README.rst
  playbooks/roles/gitcontrol/README.rst
  playbooks/roles/grafana/README.rst
  playbooks/roles/graphite_web_k8s/README.rst
  playbooks/roles/install-helm-chart/README.rst
  playbooks/roles/install-helm/README.rst
  playbooks/roles/memcached/README.rst
  playbooks/roles/nginx/README.rst
  playbooks/roles/statsd/README.rst
  playbooks/roles/x509_cert/README.rst
  playbooks/roles/zuul_k8s/README.rst
  zuul.d/project.yaml
Due: infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-k8s, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-manage-github, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl

Add docs (#213)
  doc/requirements.txt
  doc/source/bridge.rst
  doc/source/conf.py
  doc/source/custom_roles.py
  doc/source/docsportal.rst
  doc/source/index.rst
  doc/source/matrix.rst
  doc/source/roles.rst
  doc/source/systems.rst
  doc/source/zuul.rst
  playbooks/roles/acme_create_certs/README.rst
  playbooks/roles/acme_drop_txt_records/README.rst
  playbooks/roles/acme_install_txt_records/README.rst
  playbooks/roles/acme_request_certs/README.rst
  playbooks/roles/alerta/README.rst
  playbooks/roles/apimon_k8s/README.rst
  playbooks/roles/cloud_cce/README.rst
  playbooks/roles/cloud_host/README.rst
  playbooks/roles/cloud_identity/README.rst
  playbooks/roles/cloud_loadbalancer/README.rst
  playbooks/roles/cloud_loadbalancer_cert/README.rst
  playbooks/roles/cloud_natgw/README.rst
  playbooks/roles/cloud_net/README.rst
  playbooks/roles/cloud_rds/README.rst
  playbooks/roles/cloud_sg/README.rst
  playbooks/roles/cloud_vpcp/README.rst
  playbooks/roles/document_hosting_k8s/README.rst
  playbooks/roles/gitcontrol/README.rst
  playbooks/roles/grafana/README.rst
  playbooks/roles/graphite_web_k8s/README.rst
  playbooks/roles/install-helm-chart/README.rst
  playbooks/roles/install-helm/README.rst
  playbooks/roles/memcached/README.rst
  playbooks/roles/nginx/README.rst
  playbooks/roles/statsd/README.rst
  playbooks/roles/x509_cert/README.rst
  playbooks/roles/zuul_k8s/README.rst
  zuul.d/project.yaml
Due: infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-k8s, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-manage-github, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl

Add initial swift docs
  doc/source/swift.rst
  doc/source/systems.rst
Due: none

removed default_uri which is not required anymore
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/document_hosting_k8s/defaults/main.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

removed default_uri which is not required anymore (#216)
  inventory/service/group_vars/k8s-controller.yaml
  playbooks/roles/document_hosting_k8s/defaults/main.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Add proper https redirect
  doc/source/proxy.rst
  doc/source/systems.rst
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
Due: infra-prod-service-proxy, system-config-run-base, system-config-run-proxy

Update proxy.rst
  doc/source/proxy.rst
Due: none

Add proper https redirect (#215)
  doc/source/proxy.rst
  doc/source/systems.rst
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
Due: infra-prod-service-proxy, system-config-run-base, system-config-run-proxy

Map gitcontrol collection to the bridge
  doc/source/gitcontrol.rst
  doc/source/systems.rst
  playbooks/install-ansible.yaml
  zuul.d/infra-prod.yaml
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, system-config-run-base

Map gitcontrol collection to the bridge (#217)
  doc/source/gitcontrol.rst
  doc/source/systems.rst
  playbooks/install-ansible.yaml
  zuul.d/infra-prod.yaml
  zuul.d/system-config-run.yaml
Due: infra-prod-install-ansible, system-config-run-base

Switch manage-github to use collection
  playbooks/manage-github.yaml
Due: infra-prod-manage-github, system-config-run-base

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-alerta-k8s: any of: inventory/, playbooks/service-alerta-k8s.yaml, playbooks/roles/alerta_k8s
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-dashboards: any of: inventory/, playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-manage-github: any of: playbooks/manage-github.yaml, playbooks/roles/gitcontrol, playbooks/templates/github/default_zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy
