Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-vault-custom, system-config-upload-image-vault-custom, system-config-build-image-vault, system-config-upload-image-vault, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, system-config-build-image-zuul, system-config-upload-image-zuul, infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-grafana-dashboards, infra-prod-grafana-datasources, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy, system-config-run-vault, system-config-run-gitea, system-config-run-keycloak, system-config-run-zookeeper

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-vault-custom: any of: docker/vault-custom/
  system-config-upload-image-vault-custom: any of: docker/vault-custom/
  system-config-build-image-vault: any of: docker/vault/
  system-config-upload-image-vault: any of: docker/vault/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-build-image-zuul: any of: docker/zuul
  system-config-upload-image-zuul: any of: docker/zuul
  infra-prod-bootstrap-bridge: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/boostrap-bridge.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-gitea: any of: inventory/, playbooks/service-gitea.yaml, playbooks/roles/gitea/
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-cloudmon: any of: inventory/, playbooks/service-cloudmon.yaml, playbooks/roles/cloudmon_plugin
  infra-prod-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-grafana-datasources: any of: playbooks/grafana-datasources.yaml, playbooks/roles/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-vault: any of: inventory/, playbooks/service-vault.yaml, playbooks/roles/hashivault
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-service-octavia-proxy: any of: inventory/service/group_vars/k8s-controller.yaml, inventory/service/group_vars/all.yaml, playbooks/service-octavia-proxy.yaml, playbooks/roles/octavia_proxy
  infra-prod-service-opensearch: any of: inventory/, playbooks/service-opensearch.yaml, playbooks/roles/opensearch
  infra-prod-service-loki: any of: inventory/service/group_vars/k8s-controller.yaml, playbooks/service-loki.yaml, playbooks/roles/loki
  infra-prod-propose-update: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-stable: unless all of: inventory/service/group_vars/zuul.yaml
  infra-prod-propose-octavia-proxy-image-latest: unless all of: inventory/service/group_vars/zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: playbooks/bootstrap-bridge.yaml, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: playbooks/bootstrap-bridge.yaml, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: playbooks/bootstrap-bridge.yaml, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/roles/graphite_web, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: playbooks/bootstrap-bridge.yaml, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-proxy.yaml, playbooks/roles/haproxy, inventory/service/group_vars/proxy.yaml
  system-config-run-vault: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-vault.yaml, playbooks/roles/hashivault, inventory/service/groups.yaml
  system-config-run-gitea: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-gitea.yaml, playbooks/roles/gitea/, testinfra/test_gitea.py
  system-config-run-keycloak: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-keycloak.yaml, playbooks/roles/keycloak/, testinfra/test_keycloak.py
  system-config-run-zookeeper: any of: playbooks/bootstrap-bridge.yaml, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper, inventory/service/groups.yaml

fix env
  kubernetes/circle-partner-navigator/overlays/prod/vault-agent.hcl
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

typo
  kubernetes/circle-partner-navigator/overlays/prod/vault-agent.hcl
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

typo in service
  kubernetes/circle-partner-navigator/base/service-backend.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Add cpn backend deploy (#963)
  kubernetes/circle-partner-navigator/base/backend-sts.yaml
  kubernetes/circle-partner-navigator/base/cpn-ingress.yaml
  kubernetes/circle-partner-navigator/base/kustomization.yaml
  kubernetes/circle-partner-navigator/base/sa.yaml
  kubernetes/circle-partner-navigator/base/service-backend.yaml
  kubernetes/circle-partner-navigator/overlays/prod/kustomization.yaml
  kubernetes/circle-partner-navigator/overlays/prod/vault-agent.hcl
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Add app-of-apps for promtail and promtail app for cloudmon-de/cloudmon-nl clusters (#965)
  inventory/service/group_vars/k8s-controller.yaml
  kubernetes/argocd-apps/app-of-apps/promtail-app-of-apps.yaml
  kubernetes/argocd-apps/promtail/cloudmon-de/application.yaml
  kubernetes/argocd-apps/promtail/cloudmon-nl/application.yaml
  kubernetes/argocd-apps/promtail/otcci/application.yaml
  kubernetes/argocd-apps/promtail/otcinfra/application.yaml
  kubernetes/argocd-apps/promtail/otcinfra2/application.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-octavia-proxy, infra-prod-service-opensearch, infra-prod-service-loki, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Change pipeline_stage from default cri to docker
  kubernetes/argocd-apps/promtail/cloudmon-de/application.yaml
  kubernetes/argocd-apps/promtail/cloudmon-nl/application.yaml
  kubernetes/argocd-apps/promtail/otcci/application.yaml
  kubernetes/argocd-apps/promtail/otcinfra/application.yaml
  kubernetes/argocd-apps/promtail/otcinfra2/application.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Change pipeline_stage from default cri to docker (#966)
  kubernetes/argocd-apps/promtail/cloudmon-de/application.yaml
  kubernetes/argocd-apps/promtail/cloudmon-nl/application.yaml
  kubernetes/argocd-apps/promtail/otcci/application.yaml
  kubernetes/argocd-apps/promtail/otcinfra/application.yaml
  kubernetes/argocd-apps/promtail/otcinfra2/application.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

adding new DCS scenario
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

adding new DCS scenario (#967)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-bootstrap-bridge, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-gitea, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-cloudmon, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-service-docs, infra-prod-service-vault, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-service-opensearch, infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Adding correct format for files regexp
  zuul.d/infra-prod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update infra-prod.yaml
  zuul.d/infra-prod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Adding correct format for files regexp (#968)
  zuul.d/infra-prod.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Add job and alert for cloudmon patroni status
  playbooks/templates/charts/prometheus/prometheus-otcinfra-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Add job and alert for cloudmon patroni status (#969)
  playbooks/templates/charts/prometheus/prometheus-otcinfra-values.yaml.j2
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Add role for installing node-exporter in docker/podmaon container
  playbooks/roles/node-exporter/README.rst
  playbooks/roles/node-exporter/defaults/main.yml
  playbooks/roles/node-exporter/handlers/main.yml
  playbooks/roles/node-exporter/tasks/main.yml
  playbooks/roles/node-exporter/tasks/monitor.yaml
  playbooks/roles/node-exporter/templates/node-exporter.service.j2
  playbooks/roles/node-exporter/templates/web-config.yml.j2
  playbooks/roles/node-exporter/vars/Debian.yaml
  playbooks/roles/node-exporter/vars/RedHat.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

Add role for installing node-exporter in docker/podmaon container (#970)
  playbooks/roles/node-exporter/README.rst
  playbooks/roles/node-exporter/defaults/main.yml
  playbooks/roles/node-exporter/handlers/main.yml
  playbooks/roles/node-exporter/tasks/main.yml
  playbooks/roles/node-exporter/tasks/monitor.yaml
  playbooks/roles/node-exporter/templates/node-exporter.service.j2
  playbooks/roles/node-exporter/templates/web-config.yml.j2
  playbooks/roles/node-exporter/vars/Debian.yaml
  playbooks/roles/node-exporter/vars/RedHat.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest, system-config-run-base

adding new redirections
  kubernetes/docsportal/overlays/helpcenter_public/configs/nginx-site.conf
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/api-gateway
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/cloud-container-engine
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/cloud-container-engine-aa
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/cloud-container-engine-ab
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-lake-insight-aa
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-lake-insight-ab
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-replication-service
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-warehouse-service-aa
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-warehouse-service-ab
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-warehouse-service-ac
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-warehouse-service-ad
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/distributed-cache-service
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/identity-access-management
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/image-management-service
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-aa
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-ab
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-ac
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-ad
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-ae
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-af
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/nat-gateway
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/relational-database-service-aa
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/relational-database-service-ab
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/tag-management-service
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/virtual-private-cloud
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/web-application-firewall-dedicated
  kubernetes/docsportal/overlays/helpcenter_public/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

adding new redirections (#973)
  kubernetes/docsportal/overlays/helpcenter_public/configs/nginx-site.conf
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/api-gateway
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/cloud-container-engine
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/cloud-container-engine-aa
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/cloud-container-engine-ab
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-lake-insight-aa
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-lake-insight-ab
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-replication-service
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-warehouse-service-aa
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-warehouse-service-ab
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-warehouse-service-ac
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/data-warehouse-service-ad
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/distributed-cache-service
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/identity-access-management
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/image-management-service
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-aa
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-ab
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-ac
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-ad
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-ae
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/mapreduce-service-af
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/nat-gateway
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/relational-database-service-aa
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/relational-database-service-ab
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/tag-management-service
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/virtual-private-cloud
  kubernetes/docsportal/overlays/helpcenter_public/configs/redirect_maps/web-application-firewall-dedicated
  kubernetes/docsportal/overlays/helpcenter_public/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

adding redirections for Swiss region
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/application-operations-management
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/auto-scaling
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-backup-recovery
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-container-engine
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-eye
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-trace-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/dedicated-host
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/direct-connect
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/domain-name-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-cloud-server
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-ip
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-load-balancing
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-volume-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/identity-access-management
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/image-management-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/key-management-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/nat-gateway
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/object-storage-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/relational-database-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/simple-message-notification
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/software-repository-container
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/storage-disaster-recovery-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/tag-management-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/virtual-private-cloud
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/virtual-private-network
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/vpc-endpoint
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/web-application-firewall-dedicated
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

adding redirections for Swiss region (#974)
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/application-operations-management
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/auto-scaling
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-backup-recovery
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-container-engine
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-eye
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/cloud-trace-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/dedicated-host
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/direct-connect
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/domain-name-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-cloud-server
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-ip
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-load-balancing
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/elastic-volume-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/identity-access-management
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/image-management-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/key-management-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/nat-gateway
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/object-storage-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/relational-database-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/simple-message-notification
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/software-repository-container
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/storage-disaster-recovery-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/tag-management-service
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/virtual-private-cloud
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/virtual-private-network
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/vpc-endpoint
  kubernetes/docsportal/overlays/helpcenter_swiss_public/configs/redirect_maps/web-application-firewall-dedicated
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update kustomization.yaml
  kubernetes/circle-partner-navigator/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

small fix in redirection file name
  kubernetes/docsportal/overlays/helpcenter_internal/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

increase proxy body size to 500m
  kubernetes/circle-partner-navigator/base/cpn-ingress.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

increase proxy body size to 500m (#978)
  kubernetes/circle-partner-navigator/base/cpn-ingress.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

Update kustomization.yaml (#976)
  kubernetes/circle-partner-navigator/overlays/prod/kustomization.yaml
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest

add disable telemetry to cpn backend
  kubernetes/circle-partner-navigator/overlays/prod/vault-agent.hcl
Due: infra-prod-propose-update, infra-prod-propose-octavia-proxy-image-stable, infra-prod-propose-octavia-proxy-image-latest
