Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-graphite-statsd, system-config-upload-image-graphite-statsd, system-config-build-image-haproxy-statsd, system-config-upload-image-haproxy-statsd, system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-zuul, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, infra-prod-manage-github, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

system-config-build-image-graphite-statsd:
  description: Build a graphite-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-upload-image-graphite-statsd:
  description: Build and upload a graphite-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/graphite-statsd
      repository: opentelekomcloud/graphite-statsd
      tags:
      - latest

system-config-build-image-haproxy-statsd:
  description: Build a haproxy-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/haproxy-statsd
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-upload-image-haproxy-statsd:
  description: Build and upload a haproxy-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/haproxy-statsd
      repository: opentelekomcloud/haproxy-statsd
      tags:
      - latest

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main
  - name: github.com/opentelekomcloud/ansible-collection-cloud
  ...

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-x509-cert:
  parent: infra-prod-service-base
  description: Run x509-certs.yaml playbook.
  vars:
    playbook_name: x509-certs.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-alerta:
  parent: infra-prod-service-base
  description: Run service-alerta.yaml playbook.
  vars:
    playbook_name: service-alerta.yaml

Prepare docs-int (#279)
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/cloud-identity.yaml
  playbooks/roles/document_hosting_k8s/defaults/main.yaml
  playbooks/roles/document_hosting_k8s/tasks/main.yaml
  playbooks/roles/swift_proxy/defaults/main.yaml
  playbooks/roles/swift_proxy/tasks/k8s.yaml
  playbooks/service-docs.yaml
  playbooks/templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/docs_hosting/nginx-internal.conf.j2
  playbooks/templates/docs_hosting/nginx-public.conf.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, infra-prod-install-cce, system-config-run-base

Minor changes in pyscript
  tools/update_tag.py
Due: none

Add possiblity to set the full value
  tools/update_tag.py
Due: none

Minor fixes
  tools/update_tag.py
Due: none

Add email and username flags
  tools/update_tag.py
Due: none

update to octavia_proxy 65
  inventory/service/group_vars/k8s-controller.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

update to octavia_proxy 65 (#284)
  inventory/service/group_vars/k8s-controller.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

process inventory files for machine updates
  inventory/service/group_vars/alerta.yaml
  inventory/service/group_vars/apimon.yaml
  inventory/service/group_vars/carbonapi.yaml
  inventory/service/group_vars/grafana.yaml
  inventory/service/group_vars/graphite-apimon.yaml
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/matrix.yaml
  inventory/service/group_vars/memcached.yaml
  inventory/service/group_vars/promtail.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/group_vars/statsd.yaml
  inventory/service/group_vars/zuul.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

Set sort_keys to False
  tools/update_tag.py
Due: none

updated octavia-proxy image to 67
  inventory/service/group_vars/k8s-controller.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

updated octavia-proxy image to 67 (#286)
  inventory/service/group_vars/k8s-controller.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

updated new octavia_proxy image to 68
  inventory/service/group_vars/k8s-controller.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

updated new octavia_proxy image to 68 (#287)
  inventory/service/group_vars/k8s-controller.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

changed octavia image to latest image
  inventory/service/group_vars/k8s-controller.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

moved image variables to group_vars/all.yaml
  inventory/service/group_vars/alerta.yaml
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/apimon.yaml
  inventory/service/group_vars/carbonapi.yaml
  inventory/service/group_vars/grafana.yaml
  inventory/service/group_vars/graphite-apimon.yaml
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/matrix.yaml
  inventory/service/group_vars/memcached.yaml
  inventory/service/group_vars/promtail.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/group_vars/statsd.yaml
  playbooks/service-apimon-epmon.yaml
  playbooks/service-apimon-executor.yaml
  playbooks/service-apimon-k8s.yaml
  playbooks/service-apimon-scheduler.yaml
  playbooks/zuul/templates/group_vars/apimon.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor

moved image variables to group_vars/all.yaml (#289)
  inventory/service/group_vars/alerta.yaml
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/apimon.yaml
  inventory/service/group_vars/carbonapi.yaml
  inventory/service/group_vars/grafana.yaml
  inventory/service/group_vars/graphite-apimon.yaml
  inventory/service/group_vars/k8s-controller.yaml
  inventory/service/group_vars/matrix.yaml
  inventory/service/group_vars/memcached.yaml
  inventory/service/group_vars/promtail.yaml
  inventory/service/group_vars/proxy.yaml
  inventory/service/group_vars/statsd.yaml
  playbooks/service-apimon-epmon.yaml
  playbooks/service-apimon-executor.yaml
  playbooks/service-apimon-k8s.yaml
  playbooks/service-apimon-scheduler.yaml
  playbooks/zuul/templates/group_vars/apimon.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor

typo fix in template
  playbooks/templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2
Due: system-config-run-base

typo fix in template (#290)
  playbooks/templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2
Due: system-config-run-base

added version for docker service file
  playbooks/roles/promtail/templates/promtail.service.j2
Due: system-config-run-base

Add `update_tag.py` script (#282)
  tools/update_tag.py
Due: none

update ansible
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart

ensures logrotate.timer is running
  playbooks/roles/base/server/tasks/main.yaml
Due: infra-prod-base, system-config-run-base

adding ignore_errors for distros which do not use timer service for logrotate like Centos 8
  playbooks/roles/base/server/tasks/main.yaml
Due: infra-prod-base, system-config-run-base

logrotate update (#293)
  playbooks/roles/base/server/tasks/main.yaml
Due: infra-prod-base, system-config-run-base

added version for docker service file (#291)
  playbooks/roles/promtail/templates/promtail.service.j2
Due: system-config-run-base

telegraf implementation in SC with graphite
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/telegraf.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/executor2.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite1.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite3.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/telegraf/README.md
  playbooks/roles/telegraf/defaults/main.yml
  playbooks/roles/telegraf/handlers/main.yml
  playbooks/roles/telegraf/tasks/main.yml
  playbooks/roles/telegraf/templates/telegraf.conf.j2
  playbooks/roles/telegraf/templates/telegraf.service.j2
  playbooks/roles/telegraf/vars/Debian.yaml
  playbooks/roles/telegraf/vars/RedHat.yaml
  playbooks/service-telegraf.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

fixes
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/roles/telegraf/README.md
Due: infra-prod-install-ansible, system-config-run-base

fixes
  playbooks/roles/telegraf/README.rst
Due: system-config-run-base

telegraf implementation in SC with graphite (#294)
  inventory/service/group_vars/all.yaml
  inventory/service/group_vars/telegraf.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/executor2.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite1.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/graphite3.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/roles/telegraf/README.rst
  playbooks/roles/telegraf/defaults/main.yml
  playbooks/roles/telegraf/handlers/main.yml
  playbooks/roles/telegraf/tasks/main.yml
  playbooks/roles/telegraf/templates/telegraf.conf.j2
  playbooks/roles/telegraf/templates/telegraf.service.j2
  playbooks/roles/telegraf/vars/Debian.yaml
  playbooks/roles/telegraf/vars/RedHat.yaml
  playbooks/service-telegraf.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-x509-cert, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-apimon-k8s, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-alerta-k8s, infra-prod-service-grafana, infra-prod-service-acme-ssl, infra-prod-service-proxy, infra-prod-dashboards, infra-prod-service-docs, infra-prod-service-zookeeper, infra-prod-install-helm-chart, system-config-run-base

Add GH manage job in periodic section
  zuul.d/project.yaml
Due: none

simplify github job defs
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: none

Path conditions:
  system-config-build-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-upload-image-graphite-statsd: any of: docker/graphite-statsd/
  system-config-build-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-upload-image-haproxy-statsd: any of: docker/haproxy-statsd/
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-x509-cert: any of: inventory/, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-apimon-k8s: any of: inventory/, playbooks/service-apimon-k8s.yaml, playbooks/roles/apimon_k8s
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, playbooks/roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, playbooks/roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, playbooks/roles/alerta/
  infra-prod-service-alerta-k8s: any of: inventory/, playbooks/service-alerta-k8s.yaml, playbooks/roles/alerta_k8s
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, playbooks/roles/grafana/
  infra-prod-service-acme-ssl: any of: inventory/, playbooks/acme-certs.yaml, playbooks/roles/acme
  infra-prod-service-proxy: any of: inventory/, playbooks/service-proxy.yaml, playbooks/roles/haproxy/
  infra-prod-dashboards: any of: inventory/, playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-zuul: any of: inventory/group_vars/zuul.yaml, playbooks/service-zuul-k8s.yaml, playbooks/roles/zuul_k8s
  infra-prod-service-docs: any of: inventory/, playbooks/service-docs.yaml, playbooks/roles/document_hosting_k8s
  infra-prod-service-zookeeper: any of: inventory/, playbooks/service-zookeeper.yaml, playbooks/roles/zookeeper
  infra-prod-install-helm-chart: any of: inventory/, playbooks/install-helm-chart.yaml, playbooks/roles/install-helm-chart
  infra-prod-install-cce: any of: inventory/service/group_vars/cloud-launcher.yaml, playbooks/cloud-cce.yaml, playbooks/roles/cloud_cce
  infra-prod-manage-github: any of: playbooks/manage-github.yaml, playbooks/roles/gitcontrol, playbooks/templates/github/default_zuul.yaml
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy
