Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-apimon-scheduler:
  parent: infra-prod-service-base
  description: Run service-apimon-scheduler.yaml playbook.
  vars:
    playbook_name: service-apimon-scheduler.yaml

infra-prod-service-apimon-executor:
  parent: infra-prod-service-base
  description: Run service-apimon-executor.yaml playbook.
  vars:
    playbook_name: service-apimon-executor.yaml

infra-prod-service-graphite:
  parent: infra-prod-service-base
  description: Run service-graphite.yaml playbook.
  vars:
    playbook_name: service-graphite.yaml

infra-prod-service-memcached:
  parent: infra-prod-service-base
  description: Run service-memcached.yaml playbook.
  vars:
    playbook_name: service-memcached.yaml

infra-prod-service-alerta:
  parent: infra-prod-service-base
  description: Run service-alerta.yaml playbook.
  vars:
    playbook_name: service-alerta.yaml

infra-prod-service-grafana-dashboards:
  parent: infra-prod-service-base
  description: Run dashboards.yaml playbook.
  vars:
    playbook_name: dashboards.yaml

infra-prod-service-grafana:
  parent: infra-prod-service-base
  description: Run service-grafana.yaml playbook.
  vars:
    playbook_name: service-grafana.yaml

system-config-run-base:
  parent: system-config-run
  description: 'Run the "base" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: f32
      label: fedora-32

be more preciese in job files
  zuul.d/system-config-run.yaml
Due: none

fix (#91)
  playbooks/roles/alerta_k8s/templates/alerta-ingress.yaml.j2
Due: system-config-run-base

disable logging of container for haproxy/haproxy-statsd
  playbooks/roles/haproxy/templates/haproxy-statsd.service.j2
  playbooks/roles/haproxy/templates/haproxy.service.j2
Due: system-config-run-base, system-config-run-proxy

add domain3 cloud
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

disable logging of container for haproxy/haproxy-statsd (#93)
  playbooks/roles/haproxy/templates/haproxy-statsd.service.j2
  playbooks/roles/haproxy/templates/haproxy.service.j2
Due: system-config-run-base, system-config-run-proxy

fix clouds.yaml for domain3 infra
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
Due: infra-prod-service-bridge, system-config-run-base

fix clouds.yaml for domain3 infra (#95)
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
Due: infra-prod-service-bridge, system-config-run-base

Some bugfixes in infra mgmt
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-identity.yaml
  playbooks/library/cloud_user_group_assignment.py
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

properly quote pwd and test clouds.yaml for parsability
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  testinfra/test_bridge.py
Due: infra-prod-service-bridge, system-config-run-base

disabled logging for all services on container level
  playbooks/roles/alerta/templates/alerta.service.j2
  playbooks/roles/grafana/templates/grafana-renderer.service.j2
  playbooks/roles/grafana/templates/grafana.service.j2
  playbooks/roles/graphite/templates/graphite.service.j2
  playbooks/roles/memcached/templates/memcached.service.j2
  playbooks/roles/nginx/templates/nginx.service.j2
  playbooks/roles/statsd/templates/statsd.service.j2
Due: infra-prod-service-statsd, system-config-run-base, system-config-run-statsd, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana

Bugfixes in infra mgmt (#96)
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-identity.yaml
  playbooks/library/cloud_user_group_assignment.py
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  testinfra/test_bridge.py
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

add web3 into proxy group
  inventory/service/groups.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

add web3 into proxy group (#98)
  inventory/service/groups.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

added condition
  playbooks/roles/alerta/templates/alerta.service.j2
  playbooks/roles/grafana/templates/grafana-renderer.service.j2
  playbooks/roles/grafana/templates/grafana.service.j2
  playbooks/roles/graphite/templates/graphite.service.j2
  playbooks/roles/haproxy/templates/haproxy-statsd.service.j2
  playbooks/roles/haproxy/templates/haproxy.service.j2
  playbooks/roles/memcached/templates/memcached.service.j2
  playbooks/roles/nginx/templates/nginx.service.j2
  playbooks/roles/statsd/templates/statsd.service.j2
Due: infra-prod-service-statsd, system-config-run-base, system-config-run-statsd, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-proxy

disabled logging for all services on container level (#97)
  playbooks/roles/alerta/templates/alerta.service.j2
  playbooks/roles/grafana/templates/grafana-renderer.service.j2
  playbooks/roles/grafana/templates/grafana.service.j2
  playbooks/roles/graphite/templates/graphite.service.j2
  playbooks/roles/haproxy/templates/haproxy-statsd.service.j2
  playbooks/roles/haproxy/templates/haproxy.service.j2
  playbooks/roles/memcached/templates/memcached.service.j2
  playbooks/roles/nginx/templates/nginx.service.j2
  playbooks/roles/statsd/templates/statsd.service.j2
Due: infra-prod-service-statsd, system-config-run-base, system-config-run-statsd, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-proxy

Add vpc mgmt
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-networks.yaml
  playbooks/roles/cloud_net/defaults/main.yaml
  playbooks/roles/cloud_net/tasks/destroy.yaml
  playbooks/roles/cloud_net/tasks/destroy_net.yaml
  playbooks/roles/cloud_net/tasks/main.yaml
  playbooks/roles/cloud_net/tasks/net.yaml
  playbooks/roles/cloud_net/tasks/provision.yaml
  playbooks/roles/cloud_net/tasks/subnet.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

add natgw mgmt
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-networks.yaml
  playbooks/roles/cloud_natgw/defaults/main.yaml
  playbooks/roles/cloud_natgw/tasks/destroy.yaml
  playbooks/roles/cloud_natgw/tasks/main.yaml
  playbooks/roles/cloud_natgw/tasks/provision.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

job for csm playbooks
  playbooks/zuul/run-csm-production-playbook.yaml
Due: system-config-run-base

inventory
  inventory/service/group_vars/csm-production.yaml
  inventory/service/group_vars/csm.yaml
  playbooks/zuul/run-csm-playbook.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

nl inventory invocation
  inventory/service/group_vars/csm-production-de.yaml
  inventory/service/group_vars/csm-production-nl.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

add watchers under real hosts
  inventory/base/hosts.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/group_vars/csm_watcher.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/watcher-eu-nl-01.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/watcher-eu-nl-02.apimon.eco.tsi-dev.otc-service.com.yaml
  inventory/service/host_vars/watcher-eu-nl-03.apimon.eco.tsi-dev.otc-service.com.yaml
  playbooks/cloud-hosts.yaml
  playbooks/cloud-networks.yaml
  playbooks/roles/cloud_host/defaults/main.yaml
  playbooks/roles/cloud_host/tasks/destroy.yaml
  playbooks/roles/cloud_host/tasks/main.yaml
  playbooks/roles/cloud_host/tasks/provision.yaml
  playbooks/roles/cloud_sg/defaults/main.yaml
  playbooks/roles/cloud_sg/tasks/destroy.yaml
  playbooks/roles/cloud_sg/tasks/main.yaml
  playbooks/roles/cloud_sg/tasks/provision.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

add apimon pool2 and some infra mgmt
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-hosts.yaml
  playbooks/cloud-networks.yaml
  playbooks/roles/cloud_host/defaults/main.yaml
  playbooks/roles/cloud_host/tasks/destroy.yaml
  playbooks/roles/cloud_host/tasks/main.yaml
  playbooks/roles/cloud_host/tasks/provision.yaml
  playbooks/roles/cloud_sg/defaults/main.yaml
  playbooks/roles/cloud_sg/tasks/destroy.yaml
  playbooks/roles/cloud_sg/tasks/main.yaml
  playbooks/roles/cloud_sg/tasks/provision.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

add domain2-admin cloud
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-service-bridge, system-config-run-base

add domain2-admin cloud (#103)
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-service-bridge, system-config-run-base

tons of small fixes
  inventory/base/hosts.yaml
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/host_vars/graphite3.apimon.eco.tsi-dev.otc-service.com.yaml
  playbooks/base.yaml
  playbooks/cloud-hosts.yaml
  playbooks/cloud-vpcp.yaml
  playbooks/roles/base/server/tasks/main.yaml
  playbooks/roles/cloud_host/tasks/provision.yaml
  playbooks/roles/cloud_net/tasks/subnet.yaml
  playbooks/roles/cloud_sg/tasks/destroy.yaml
  playbooks/roles/cloud_sg/tasks/provision.yaml
  playbooks/roles/cloud_vpcp/defaults/main.yaml
  playbooks/roles/cloud_vpcp/tasks/main.yaml
  playbooks/roles/cloud_vpcp/tasks/provision.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

add apimon k8 cluster
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
Due: system-config-run-base

Path conditions:
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, roles/alerta/
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, roles/grafana/
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy
