Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, system-config-run-base, system-config-run-statsd, system-config-run-x509-cert, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite, system-config-run-memcached, system-config-run-alerta, system-config-run-grafana, system-config-run-acme-ssl, system-config-run-proxy

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-apimon-scheduler:
  parent: infra-prod-service-base
  description: Run service-apimon-scheduler.yaml playbook.
  vars:
    playbook_name: service-apimon-scheduler.yaml

infra-prod-service-apimon-executor:
  parent: infra-prod-service-base
  description: Run service-apimon-executor.yaml playbook.
  vars:
    playbook_name: service-apimon-executor.yaml

infra-prod-service-graphite:
  parent: infra-prod-service-base
  description: Run service-graphite.yaml playbook.
  vars:
    playbook_name: service-graphite.yaml

infra-prod-service-memcached:
  parent: infra-prod-service-base
  description: Run service-memcached.yaml playbook.
  vars:
    playbook_name: service-memcached.yaml

infra-prod-service-alerta:
  parent: infra-prod-service-base
  description: Run service-alerta.yaml playbook.
  vars:
    playbook_name: service-alerta.yaml

infra-prod-service-grafana-dashboards:
  parent: infra-prod-service-base
  description: Run dashboards.yaml playbook.
  vars:
    playbook_name: dashboards.yaml

infra-prod-service-grafana:
  parent: infra-prod-service-base
  description: Run service-grafana.yaml playbook.
  vars:
    playbook_name: service-grafana.yaml

system-config-run-base:
  parent: system-config-run
  description: 'Run the "base" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: f32
      label: fedora-32

first draft
  inventory/service/group_vars/grafana.yaml
  inventory/service/groups.yaml
  playbooks/roles/grafana/defaults/main.yml
  playbooks/roles/grafana/tasks/main.yml
  playbooks/roles/grafana/templates/env.j2
  playbooks/roles/grafana/templates/grafana-renderer.service.j2
  playbooks/roles/grafana/templates/grafana.service.j2
  playbooks/roles/grafana/templates/ldap.toml.j2
  playbooks/service-grafana.yaml
  playbooks/templates/grafana/ldap.toml.j2
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/grafana.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, system-config-run-base, system-config-run-grafana

fixes
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/service-grafana.yaml
Due: infra-prod-install-ansible, infra-prod-service-grafana, system-config-run-base, system-config-run-grafana

test
  playbooks/service-grafana.yaml
  playbooks/zuul/templates/group_vars/grafana.yaml.j2
Due: infra-prod-service-grafana, system-config-run-base, system-config-run-grafana

extended contitional statement
  playbooks/roles/grafana/tasks/main.yml
Due: system-config-run-base, system-config-run-grafana

conditional fix
  playbooks/roles/grafana/templates/grafana.service.j2
Due: system-config-run-base, system-config-run-grafana

added ldap template variables
  playbooks/service-grafana.yaml
  playbooks/zuul/templates/group_vars/grafana.yaml.j2
Due: infra-prod-service-grafana, system-config-run-base, system-config-run-grafana

fix
  playbooks/zuul/templates/group_vars/grafana.yaml.j2
Due: system-config-run-base

fix in copy module src to content
  playbooks/roles/grafana/tasks/main.yml
Due: system-config-run-base, system-config-run-grafana

adding web3 to production_vc grafana instance
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

grafana rework (#118)
  inventory/service/group_vars/grafana.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/grafana/defaults/main.yml
  playbooks/roles/grafana/tasks/main.yml
  playbooks/roles/grafana/templates/env.j2
  playbooks/roles/grafana/templates/grafana-renderer.service.j2
  playbooks/roles/grafana/templates/grafana.service.j2
  playbooks/roles/grafana/templates/ldap.toml.j2
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/service-grafana.yaml
  playbooks/templates/grafana/ldap.toml.j2
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/grafana.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, system-config-run-base, system-config-run-grafana

further fixes
  playbooks/roles/grafana/tasks/main.yml
  playbooks/templates/grafana/ldap.toml.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base, system-config-run-grafana

restart in case of config change
  playbooks/roles/grafana/tasks/main.yml
Due: system-config-run-base, system-config-run-grafana

Update openstack
  playbooks/roles/install-osc-container/files/openstack
Due: system-config-run-base

first version
  inventory/service/group_vars/grafana.yaml
  playbooks/roles/grafana_k8s/tasks/main.yaml
  playbooks/roles/grafana_k8s/templates/grafana-deployment.yaml.j2
  playbooks/roles/grafana_k8s/templates/grafana-ingress.yaml.j2
  playbooks/roles/grafana_k8s/templates/grafana-secret.yaml.j2
  playbooks/roles/grafana_k8s/templates/grafana-service.yaml.j2
  playbooks/service-grafana-k8s.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

grafana_k8s fixes
  playbooks/roles/grafana_k8s/tasks/main.yaml
  playbooks/roles/grafana_k8s/templates/grafana-deployment.yaml.j2
  playbooks/roles/grafana_k8s/templates/grafana-secret.yaml.j2
Due: system-config-run-base

adding server_domain env variable
  playbooks/roles/grafana_k8s/templates/grafana-secret.yaml.j2
Due: system-config-run-base

defined grafana_k8s jobs and procutiond_infra instance
  inventory/service/group_vars/grafana.yaml
  zuul.d/infra-prod.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

changed proxy config from osinfra to infra running on cce
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Update Zuul to run 4.3.0
  inventory/service/group_vars/zuul.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-scheduler.yaml
  playbooks/roles/zuul_k8s/tasks/zuul-web.yaml
  playbooks/roles/zuul_k8s/templates/zuul.conf.j2
  zuul.d/infra-prod.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

hotfix for the zuul-web ss
  playbooks/roles/zuul_k8s/tasks/zuul-web.yaml
Due: system-config-run-base

changed proxy config from osinfra to infra running on cce (#127)
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

modified proxy config to add dashboard running on CCE and phasing out osinfra dashboard instance
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

modified proxy config to add dashboard running on CCE and phasing out osinfra dashboard instance (#131)
  inventory/service/group_vars/proxy.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Reduce server timeout for haproxy
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
Due: system-config-run-base, system-config-run-proxy

Fix graphite
  docker/graphite-statsd/Dockerfile
  inventory/service/group_vars/graphite-apimon.yaml
  playbooks/roles/graphite/defaults/main.yaml
  playbooks/roles/graphite/templates/env.j2
  playbooks/roles/graphite/templates/go-carbon.conf.j2
  zuul.d/docker-images/graphite-statsd.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-graphite

Reduce server timeout for haproxy (#133)
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
Due: system-config-run-base, system-config-run-proxy

Fix graphite (#132)
  docker/graphite-statsd/Dockerfile
  inventory/service/group_vars/graphite-apimon.yaml
  playbooks/roles/graphite/defaults/main.yaml
  playbooks/roles/graphite/templates/env.j2
  playbooks/roles/graphite/templates/go-carbon.conf.j2
  zuul.d/docker-images/graphite-statsd.yaml
  zuul.d/project.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-graphite

Path conditions:
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, roles/alerta/
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, roles/grafana/
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-x509-cert: any of: tox.ini, playbooks/x509-certs.yaml, playbooks/roles/x509_cert
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
  system-config-run-memcached: any of: tox.ini, playbooks/service-memcached.yaml, playbooks/roles/memcached, testinfra/test_memcached.py
  system-config-run-alerta: any of: tox.ini, playbooks/service-alerta.yaml, playbooks/roles/alerta/, testinfra/test_alerta.py
  system-config-run-grafana: any of: tox.ini, playbooks/service-grafana.yaml, playbooks/roles/grafana/, testinfra/test_grafana.py
  system-config-run-acme-ssl: any of: tox.ini, playbooks/acme-ssl.yaml, playbooks/roles/acme_create_certs, playbooks/roles/acme_request_certs, playbooks/roles/acme_install_txt_records, playbooks/roles/acme_drop_txt_records
  system-config-run-proxy: any of: tox.ini, playbooks/service-proxy.yaml, playbooks/roles/haproxy
