Repository opentelekomcloud-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-zookeeper-statsd, system-config-upload-image-zookeeper-statsd, infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana-dashboards, infra-prod-service-grafana, system-config-run-base, system-config-run-statsd, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor, system-config-run-graphite

system-config-build-image-zookeeper-statsd:
  description: Build a zookeeper-statsd image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

system-config-upload-image-zookeeper-statsd:
  description: Build and upload a zookeeper-statsd image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/zookeeper-statsd
      repository: opentelekomcloud/zookeeper-statsd
      tags:
      - latest

infra-prod-install-ansible:
  parent: infra-prod-playbook
  description: Install ansible on bridge.
  vars:
    playbook_name: install-ansible.yaml
  required-projects:
  - name: github.com/opentelekomcloud/ansible-collection-apimon
    override-checkout: main

infra-prod-base:
  parent: infra-prod-playbook
  description: Run the base playbook everywhere.
  dependencies:
  - name: infra-prod-install-ansible
    soft: true
  vars:
    playbook_name: base.yaml
    infra_prod_ansible_forks: 50

infra-prod-service-bridge:
  parent: infra-prod-service-base
  description: Run service-bridge.yaml playbook.
  vars:
    playbook_name: service-bridge.yaml

infra-prod-service-statsd:
  parent: infra-prod-service-base
  description: Run service-statsd.yaml playbook.
  vars:
    playbook_name: service-statsd.yaml

infra-prod-service-apimon-epmon:
  parent: infra-prod-service-base
  description: Run service-apimon-epmon.yaml playbook.
  vars:
    playbook_name: service-apimon-epmon.yaml

infra-prod-service-apimon-scheduler:
  parent: infra-prod-service-base
  description: Run service-apimon-scheduler.yaml playbook.
  vars:
    playbook_name: service-apimon-scheduler.yaml

infra-prod-service-apimon-executor:
  parent: infra-prod-service-base
  description: Run service-apimon-executor.yaml playbook.
  vars:
    playbook_name: service-apimon-executor.yaml

infra-prod-service-graphite:
  parent: infra-prod-service-base
  description: Run service-graphite.yaml playbook.
  vars:
    playbook_name: service-graphite.yaml

infra-prod-service-memcached:
  parent: infra-prod-service-base
  description: Run service-memcached.yaml playbook.
  vars:
    playbook_name: service-memcached.yaml

infra-prod-service-alerta:
  parent: infra-prod-service-base
  description: Run service-alerta.yaml playbook.
  vars:
    playbook_name: service-alerta.yaml

infra-prod-service-grafana-dashboards:
  parent: infra-prod-service-base
  description: Run dashboards.yaml playbook.
  vars:
    playbook_name: dashboards.yaml

infra-prod-service-grafana:
  parent: infra-prod-service-base
  description: Run service-grafana.yaml playbook.
  vars:
    playbook_name: service-grafana.yaml

system-config-run-base:
  parent: system-config-run
  description: 'Run the "base" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.eco.tsi-dev.otc-service.com
      label: ubuntu-focal
    - name: f32
      label: fedora-32

switch main prod apimon to new connection (#76)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

test removing from tempalte invenotry
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: system-config-run-base

Add apimon mgmt playbooks
  playbooks/restart-apimon-epmon.yaml
  playbooks/restart-apimon-executor.yaml
  playbooks/restart-apimon-scheduler.yaml
  playbooks/start-apimon-epmon.yaml
  playbooks/start-apimon-executor.yaml
  playbooks/start-apimon-scheduler.yaml
  playbooks/stop-apimon-epmon.yaml
  playbooks/stop-apimon-executor.yaml
  playbooks/stop-apimon-scheduler.yaml
Due: system-config-run-base

switch prod_vc to new domain
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

Add apimon mgmt playbooks (#80)
  playbooks/restart-apimon-epmon.yaml
  playbooks/restart-apimon-executor.yaml
  playbooks/restart-apimon-scheduler.yaml
  playbooks/start-apimon-epmon.yaml
  playbooks/start-apimon-executor.yaml
  playbooks/start-apimon-scheduler.yaml
  playbooks/stop-apimon-epmon.yaml
  playbooks/stop-apimon-executor.yaml
  playbooks/stop-apimon-scheduler.yaml
Due: system-config-run-base

template inventory update
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: system-config-run-base

switch prod_vc to new domain (#81)
  inventory/service/group_vars/apimon.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

alerta rework (#73)
  inventory/service/group_vars/alerta-k8s.yaml
  inventory/service/group_vars/alerta.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/web3.eco.tsi-dev.otc-service.com.yaml
  playbooks/roles/alerta/defaults/main.yaml
  playbooks/roles/alerta/tasks/import_zulip_conf.yaml
  playbooks/roles/alerta/tasks/main.yaml
  playbooks/roles/alerta/templates/alerta.conf.j2
  playbooks/roles/alerta/templates/alerta.service.j2
  playbooks/roles/alerta/templates/alertad.conf.j2
  playbooks/roles/alerta/templates/env.j2
  playbooks/roles/alerta/templates/supervisord.conf.j2
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/service-alerta.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

add swift cloud connection
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-service-bridge, system-config-run-base

add swift cloud connection (#82)
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-service-bridge, system-config-run-base

enable regular alerta job execution
  inventory/service/groups.yaml
  playbooks/zuul/templates/group_vars/alerta.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

Add playbook for management of the cloud LB
  inventory/service/group_vars/cloud-launcher.yaml
  inventory/service/groups.yaml
  inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml
  playbooks/cloud-loadbalancer.yaml
  playbooks/roles/cloud_loadbalancer/defaults/main.yaml
  playbooks/roles/cloud_loadbalancer/tasks/build.yaml
  playbooks/roles/cloud_loadbalancer/tasks/destroy.yaml
  playbooks/roles/cloud_loadbalancer/tasks/main.yaml
  playbooks/roles/cloud_loadbalancer_cert/defaults/main.yaml
  playbooks/roles/cloud_loadbalancer_cert/tasks/build.yaml
  playbooks/roles/cloud_loadbalancer_cert/tasks/destroy.yaml
  playbooks/roles/cloud_loadbalancer_cert/tasks/main.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

add identity management automation
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-identity.yaml
  playbooks/library/cloud_role_assignment.py
  playbooks/library/cloud_user_group_assignment.py
  playbooks/roles/cloud_identity/tasks/main.yaml
  playbooks/roles/cloud_identity/tasks/role_assignments.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

fix user_group mapping
  inventory/service/group_vars/cloud-launcher.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana

add user mgmt into identity mgmt
  inventory/service/group_vars/cloud-launcher.yaml
  playbooks/cloud-identity.yaml
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

switch nl tests to another account
  inventory/service/group_vars/apimon.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/apimon-clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base, system-config-run-apimon-epmon, system-config-run-apimon-scheduler, system-config-run-apimon-executor

added otccce to kubeconfig template
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
Due: system-config-run-base

adding missing varialbes to template inv
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
Due: system-config-run-base

dashboards modifications
  playbooks/dashboards.yaml
  playbooks/dashboards_local.yaml
  playbooks/templates/grafana/apimon/block_storage.yaml.j2
  playbooks/templates/grafana/apimon/compute.yaml.j2
  playbooks/templates/grafana/apimon/storage.yaml.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

update
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml.j2
Due: system-config-run-base

dashboards modifications (#89)
  playbooks/dashboards.yaml
  playbooks/dashboards_local.yaml
  playbooks/templates/grafana/apimon/block_storage.yaml.j2
  playbooks/templates/grafana/apimon/compute.yaml.j2
  playbooks/templates/grafana/apimon/storage.yaml.j2
Due: infra-prod-service-grafana-dashboards, system-config-run-base

added otccce to kubeconfig template (#88)
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
Due: system-config-run-base

adding otcinfra alerta instance on cce
  inventory/service/group_vars/alerta.yaml
  playbooks/roles/alerta_k8s/tasks/main.yaml
  playbooks/roles/alerta_k8s/templates/alerta-ingress.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

adding otcinfra alerta instance on cce (#90)
  inventory/service/group_vars/alerta.yaml
  playbooks/roles/alerta_k8s/tasks/main.yaml
  playbooks/roles/alerta_k8s/templates/alerta-ingress.yaml.j2
Due: infra-prod-install-ansible, infra-prod-base, infra-prod-service-bridge, infra-prod-service-statsd, infra-prod-service-apimon-epmon, infra-prod-service-apimon-scheduler, infra-prod-service-apimon-executor, infra-prod-service-graphite, infra-prod-service-memcached, infra-prod-service-alerta, infra-prod-service-grafana, system-config-run-base

fix
  playbooks/roles/alerta_k8s/templates/alerta-ingress.yaml.j2
Due: system-config-run-base

Path conditions:
  system-config-build-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  system-config-upload-image-zookeeper-statsd: any of: docker/zookeeper-statsd/
  infra-prod-install-ansible: any of: inventory/, roles/, install_modules.sh, modules.env, playbooks/install-ansible.yaml, playbooks/roles/pip3/, playbooks/roles/install-ansible/, playbooks/roles/logrotate/, playbooks/roles/root-keys/, inventory/service/host_vars/bridge.eco.tsi-dev.otc-service.com.yaml, playbooks/zuul/run-production-playbook.yaml
  infra-prod-base: any of: inventory/, inventory/service/host_vars/, inventory/service/group_vars/, playbooks/base.yaml, playbooks/roles/base/
  infra-prod-service-bridge: any of: inventory/, playbooks/service-bridge.yaml, inventory/service/host_vars/bridge.eco-tsi-dev.otc-service.com.yaml, playbooks/roles/logrotate/, playbooks/roles/edit-secrets-script/, playbooks/roles/install-kubectl/, playbooks/roles/firewalld/, playbooks/roles/configure-kubectl/, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  infra-prod-service-statsd: any of: inventory/, playbooks/service-statsd.yaml, inventory/service/group_vars/statsd.yaml, playbooks/roles/statsd/
  infra-prod-service-apimon-epmon: any of: inventory/, playbooks/service-apimon-epmon.yaml
  infra-prod-service-apimon-scheduler: any of: inventory/, playbooks/service-apimon-scheduler.yaml
  infra-prod-service-apimon-executor: any of: inventory/, playbooks/service-apimon-executor.yaml
  infra-prod-service-graphite: any of: inventory/, playbooks/service-graphite.yaml, roles/graphite/
  infra-prod-service-memcached: any of: inventory/, playbooks/service-memcached.yaml, roles/memcached/
  infra-prod-service-alerta: any of: inventory/, playbooks/service-alerta.yaml, roles/alerta/
  infra-prod-service-grafana-dashboards: any of: playbooks/dashboards.yaml, playbooks/templates/grafana
  infra-prod-service-grafana: any of: inventory/, playbooks/service-grafana.yaml, roles/grafana/
  system-config-run-base: any of: tox.ini, playbooks/, roles/, testinfra/
  system-config-run-statsd: any of: tox.ini, playbooks/roles/statsd, testinfra/test_statsd.py
  system-config-run-apimon-epmon: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/zuul/templates/host_vars/epmon, playbooks/service-apimon-epmon.yaml, testinfra/test_epmon.py
  system-config-run-apimon-scheduler: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-scheduler.yaml, testinfra/test_scheduler.py
  system-config-run-apimon-executor: any of: tox.ini, playbooks/templates/apimon, playbooks/zuul/templates/group_vars/apimon, playbooks/service-apimon-executor.yaml, testinfra/test_executor.py
  system-config-run-graphite: any of: tox.ini, playbooks/service-graphite.yaml, playbooks/roles/graphite, playbooks/zuul/templates/group_vars/graphite.yaml.j2, testinfra/test_graphite.py
